#intro-hello{
  position: relative;
  align-items: center;
  & #svg-hello{
    display: inline-flex;
    position: absolute;
    width: 40%;
    height: auto;
    top: 0;
    bottom: 0;
    margin: auto 0;
    & path{
      animation: sayHello 3s ease;
      stroke-dasharray: 13779;
      stroke-dashoffset: 13779;
    }
  }
  & .container-ds{
    animation: generalHidden 2s linear;
    animation-delay: 4s;
    visibility: hidden;
  }
  @keyframes sayHello {
    to{
      stroke-dashoffset: 0;
    }
  }
}