<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Viktor Kotovskiy</title>
    <link href="favicon.png" rel="icon" type="image/png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/components.css" rel="stylesheet">
</head>
<body>
    <main class="main">
        {% view '&button-back' %}
        <div class="container-layout">
            <div class="container-full">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
<script type="text/javascript" src="js/vendors~components~index.chunk.js?{{ date().getTime() }}" defer></script>
<script type="text/javascript" src="js/vendors~index.chunk.js?{{ date().getTime() }}" defer></script>
<script type="text/javascript" src="js/index.js?{{ date().getTime() }}" defer></script>
<script type="text/javascript" src="js/components.js?{{ date().getTime() }}" defer></script>

</body>
</html>