// Color system:
// 'colorName': 'color'

@each $colorName, $colorValue in $colors {
  .bg-#{$colorName} {
    background-color: $colorValue;
  }
  .color-#{$colorName} {
    color: $colorValue;
  }

}


