@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Opensans/OpenSans-Light.woff2') format('woff2'),
	url('../fonts/Opensans/OpenSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Opensans/OpenSans-LightItalic.woff2') format('woff2'),
	url('../fonts/Opensans/OpenSans-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Opensans/OpenSans-Regular.woff2') format('woff2'),
	url('../fonts/Opensans/OpenSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Opensans/OpenSans-Italic.woff2') format('woff2'),
	url('../fonts/Opensans/OpenSans-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Opensans/OpenSans-Medium.woff2') format('woff2'),
	url('../fonts/Opensans/OpenSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Opensans/OpenSans-MediumItalic.woff2') format('woff2'),
	url('../fonts/Opensans/OpenSans-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Opensans/OpenSans-SemiBold.woff2') format('woff2'),
	url('../fonts/Opensans/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Opensans/OpenSans-SemiBoldItalic.woff2') format('woff2'),
	url('../fonts/Opensans/OpenSans-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Opensans/OpenSans-Bold.woff2') format('woff2'),
	url('../fonts/Opensans/OpenSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Opensans/OpenSans-BoldItalic.woff2') format('woff2'),
	url('../fonts/Opensans/OpenSans-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Opensans/OpenSans-ExtraBold.woff2') format('woff2'),
	url('../fonts/Opensans/OpenSans-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Opensans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
	url('../fonts/Opensans/OpenSans-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}
/** =================== MONTSERRAT =================== **/

/** Montserrat Thin **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Thin.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-Thin.woff") format("woff");
}

/** Montserrat Thin-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-ThinItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-ThinItalic.woff") format("woff");
}

/** Montserrat ExtraLight **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff");
}

/** Montserrat ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
}

/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-Light.woff") format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-LightItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-LightItalic.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-Italic.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff");
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
}

/** Montserrat Bold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-BoldItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff");
}

/** Montserrat ExtraBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff");
}

/** Montserrat ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
}

/** Montserrat Black **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-Black.woff") format("woff");
}

/** Montserrat Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-BlackItalic.woff2") format("woff2"),
         url("../fonts/Montserrat/Montserrat-BlackItalic.woff") format("woff");
}


/** Kalam **/


@font-face {
  font-family: 'Kalam';
  src: url('../fonts/Kalam/Kalam-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Kalam';
  src: url('../fonts/Kalam/Kalam-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Kalam';
  src: url('../fonts/Kalam/Kalam-Regular.ttf') format('truetype');
}