.is-relative {
  position: relative;
}

.is-static {
  position: static;
}

.is-absolute {
  position: absolute;
}

.jc-c {
  justify-content: center !important;
}
.jc-s {
  justify-content: stretch !important;
}
.jc-r {
  justify-content: right !important;
}
.jc-b {
  justify-content: baseline !important;
}
.jc-l {
  justify-content: left !important;
}
.jc-fe{
  justify-content: flex-end !important;
}
.jc-fs {
  justify-content: flex-start !important;
}
.jc-sb{
  justify-content: space-between !important;
}
.jc-sa {
  justify-content: space-around !important;
}
.jc-se{
  justify-content: space-evenly !important;
}

.ai {
  &-c { align-items: center !important; }
  &-s { align-items: start !important; }
  &-e { align-items: end !important; }
  &-fs { align-items: flex-start !important; }
  &-fe { align-items: flex-end !important; }
}