*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba($color-black, 0);
	// overflow-x: hidden;
	// overflow-y: scroll;
}


article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}


body {
	margin: 0;
	font-family: $font-montserrat;
	font-weight: 300;
	line-height: 1.15;
	color: $color-black;
	text-align: left;
	background-color: $color-white;
	overflow-x: hidden;

	&.bg-white {
		background-color: $color-white;
	}
}


[tabindex="-1"]:focus:not(:focus-visible) {
	outline: 0 !important;
}


hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}


h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
}


p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}


abbr[title],
abbr[data-original-title] {
	text-decoration: underline;
	text-decoration: underline dotted;
	cursor: help;
	border-bottom: 0;
	text-decoration-skip-ink: none;
}

address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: 400;
}

dd {
	margin-bottom: .5rem;
	margin-left: 0;
}

blockquote {
	margin: 0 0 1rem;
}

b,
strong {
	font-weight: 600;
}

small {
	font-size: 80%;
}


sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}


a {
	color: $color-black;
	text-decoration: none;
	background-color: transparent;

	&:hover {
		text-decoration: none;
	}
}
.link-action{
	color: $color-yellow;
}
.bl-action{
	color: #0A5FCF;
}

a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		color: inherit;
		text-decoration: none;
		outline: 0;
	}
}


pre,
code,
kbd,
samp {
	font-family: monospace;
	font-size: 1em;
}

pre {
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
}


figure {
	margin: 0 0 1rem;
}


img {
	vertical-align: middle;
	border-style: none;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}


table {
	border-collapse: collapse;
}

caption {
	padding-top: 0;
	padding-bottom: 0;
	color: inherit;
	text-align: left;
	caption-side: bottom;
}

th {
	text-align: inherit;
}


label {

	display: inline-block;
	margin-bottom: 0;
}


button {
	border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}


select {
	word-wrap: normal;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
	&:not(:disabled) {
		cursor: pointer;
	}
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}


input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
	-webkit-appearance: listbox;
}

textarea {
	overflow: auto;
	resize: vertical;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}


legend {
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin-bottom: .5em;
	font-size: 1.5em;
	line-height: inherit;
	color: inherit;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	outline-offset: -2px;
	-webkit-appearance: none;
}


[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}


::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}


output {
	display: inline-block;
}

summary {
	display: list-item;
	cursor: pointer;
}

template {
	display: none;
}


[hidden] {
	display: none !important;
}
