@mixin base-container {
	width: 95%;
	max-width: rem(1024);
	margin-right: auto;
	margin-left: auto;
	@include media-breakpoint-down(mb) {
		width: 95%;
	}
}
@mixin lg-container {
	width: 90%;
	max-width: rem(1020);
	margin-right: auto;
	margin-left: auto;
}
@mixin md-container {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}
@mixin ds-container {
	width: 90%;
	max-width: rem(1440);
	margin-right: auto;
	margin-left: auto;
}
@mixin container-mb {
	margin-bottom: rem(150);
	@include media-breakpoint-down(md) {
		margin-bottom: rem(90);
	}
	@include media-breakpoint-down(mb) {
		margin-bottom: rem(50);
	}
}
@mixin container-pb {
	padding-bottom: rem(150);
	@include media-breakpoint-down(md) {
		padding-bottom: rem(90);
	}
	@include media-breakpoint-down(mb) {
		padding-bottom: rem(50);
	}
}
@mixin container-pt {
	padding-top: rem(120);
	@include media-breakpoint-down(md) {
		padding-top: rem(90);
	}
	@include media-breakpoint-down(mb) {
		padding-top: rem(50);
	}
}
@mixin container-ms {
	margin-bottom: rem(50);
	@include media-breakpoint-down(md) {
		margin-bottom: rem(50);
	}
	@include media-breakpoint-down(mb) {
		margin-bottom: rem(70);
	}
}
@mixin article-container {
	width: rem(896);
	max-width: 90%;
}
@mixin sm-container {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
@mixin xs-container {
	width: 90%;
	max-width: rem(225);
	margin-right: auto;
	margin-left: auto;
}
@mixin lg-wrap {
	width: rem(735);
	max-width: 100%;
}
@mixin md-wrap {
	width: rem(705);
	max-width: 90%;
}
@mixin sm-wrap {
	width: rem(433);
	max-width: 100%;
}
@mixin xs-wrap {
	width: rem(318);
	max-width: 100%;
}
@mixin xss-wrap {
	width: rem(202);
	max-width: 100%;
}
@mixin full-container {
	width: 100%;
}
@mixin layout-container {
	width: 100%;
	display: flex;
	position: relative;
	flex: 1;
}
@mixin p-wrap {
	padding: rem(35);
}
@mixin prl-wrap {
	padding: rem(51) rem(35);
	@include media-breakpoint-down(md) {
		padding: rem(20) rem(17) rem(33) rem(17);
	}
	@include media-breakpoint-down(mb) {
		padding: rem(40) rem(25);
	}
}
@mixin hf-wrap {
	width: 48%;
}
@mixin f-wrap {
	width: 50%;
}
@mixin container-text {
	width: rem(548);
	max-width: 100%;
}
