@mixin h1 {
	font-size: rem(120);
	line-height: 1.46;
  	font-weight: 700;
	font-family: $font-montserrat;
	@include media-breakpoint-down(md) {
		font-size: rem(32);
		line-height: 1.35;
	}
	@include media-breakpoint-down(mb) {
		font-size: rem(28);
		line-height: 1.35;
	}
}

@mixin h2 {
	font-size: rem(34);
	line-height: 1.21;
  	font-weight: 700;
	@include media-breakpoint-down(md) {
		font-size: rem(30);
	}
	@include media-breakpoint-down(mb) {
		font-size: rem(26);
	}
}

@mixin h3 {
	font-size: rem(40);
	line-height: 1.35;
	font-weight: 500;
	color: $color-yellow;
	font-family: $font-montserrat;
	@include media-breakpoint-down(md) {
		font-size: rem(21);
	}
	@include media-breakpoint-down(mb) {
		font-size: rem(25);
	}
	& span{
		background: linear-gradient(90deg, #FA06FB 0%, #FF7500 100%);
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		display: inline-flex;
	}
}


@mixin h4 {
	font-size: rem(40);
	line-height: 1.36;
	font-weight: 300;

	@include media-breakpoint-down(md) {
		font-size: rem(22);
	}
	@include media-breakpoint-down(mb) {
		font-size: rem(26);
	}
}
@mixin h5{
	font-size: rem(30);
	line-height: 1.41;
	font-weight: 300;
	@include media-breakpoint-down(md) {
		font-size: rem(15);
		}
	@include media-breakpoint-down(mb) {
		font-size: rem(25);
		}
}

@mixin text-lead {
  font-size: rem(19);
  line-height: 1.335;
  font-weight: 700;
  @include media-breakpoint-down(md) {
	font-size: rem(10);
	}
  @include media-breakpoint-down(mb) {
	font-size: rem(13);
	}
}
@mixin text-stories {
	font-size: rem(26);
	line-height: 1.335;
	font-weight: 700;
	font-style: italic;
	line-clamp: 1;
	box-orient: vertical;
	display: -moz-box;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-moz-line-clamp: 1;
	-webkit-box-orient: vertical;
	@include media-breakpoint-down(md) {
		font-size: rem(16);
		}
	@include media-breakpoint-down(mb) {
		font-size: rem(25);
		}
  }

@mixin text-default {
  font-size: rem(19);
  line-height: 1.37;
  font-weight: 300;
  @include media-breakpoint-down(md) {
	font-size: rem(10);
	  & span{
		  display: inline-block;
	  }
	}
  @include media-breakpoint-down(mb) {
	font-size: rem(13);

	}
}

@mixin text-small {
	font-size: rem(14);
	line-height: 1.22;
	font-weight: 300;
	@include media-breakpoint-down(md) {
		font-size: rem(7);
		}
	@include media-breakpoint-down(mb) {
		font-size: rem(10);
		}
}
@mixin text-ma {
	margin: 0 auto;
  }
@mixin text-c {
	text-align: center;
  }
@mixin text-l {
	text-align: left;
  }
@mixin text-r {
	text-align: right;
  }

@mixin text-label {
	font-size: rem(16);
	line-height: 1.5;
	font-weight: 700;
}

@mixin text-mute {
	color: #999999;
	& a{
		color: currentColor;
		text-decoration: underline;
	}
}

@mixin text-underline {
	text-decoration: underline;
}

@mixin action-ln {
	display: inline-flex;
	position: relative;
	overflow: hidden;
	&::before{
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: $color-yellow;
		bottom: 0;
		transition: all 0.3s;
		transform: translateX(-100%);
	}
	&:hover{
		&::before{
			transform: translateX(0);
		}
	}
}
@mixin white-bl{
	display: inline-flex;
	position: relative;
	color: $color-white;
	& a{
		color: $color-white;
	}
	&::before{
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: $color-white;
		bottom: 0;
		transition: all 0.3s;
	}
}
@mixin text-italic {
	font-family: $font-kalam;
	color: $color-black;
	font-weight: 300;
	font-size: rem(25);
}
@mixin disc-list {
	list-style: disc;
	li {
		margin-left: rem(18);
		&::marker {
			font-size: 0.5rem;
		}
	}
}
.heading{
	padding-bottom: rem(24);
}
