.neoformism{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  & .icon{
    @include media-breakpoint-down(mb) {
      &:before{
        content: none;
      }
      &:hover{
        & svg{
          & path{
            stroke: $color-white;
          }
        }
      }
    }
  }
  &__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(50);
    margin: rem(80) 0;
  }
  &__bl{
    display: flex;
    gap: rem(50);
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  &__bl2{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  [data-show]{
    & li{
      &:not([data-click]){
        transition: all 0.3s;
        height: rem(33);
        opacity: 1;
      }
    }
    & [data-click]{
      margin-bottom: rem(33);
      &:before{
        transition: all 0.3s;
        margin-bottom: 0;
        top: auto;
      }
      &:after{
        transform: rotate(0);
        bottom: auto;
      }
    }
  }
  &__menu{
    margin: 0;
    padding: rem(33) rem(33);
    background: #F0F0F3;
    box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2), 5px -5px 10px rgba(216, 216, 219, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(216, 216, 219, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(216, 216, 219, 0.5);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & li{
      cursor: pointer;
      margin-bottom: rem(33);
      width: rem(35);
      height: rem(35);
      display: flex;
      justify-content: center;
      align-items: center;
      &:last-child{
        margin-bottom: 0;
      }
      &[data-click]{
        position: relative;
        justify-content: space-evenly;
        &:before{
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #A0A5B9;

        }
        &:after{
          content: '';
          position: absolute;
          width: 2px;
          height: 100%;
          transform: rotate(90deg);
          background-color: #A0A5B9;
        }
      }
      & svg{
        width: 100%;
        height: 100%;
      }
    }
    &:not([data-show]){
      & li{
        &:not([data-click]){
          visibility: hidden;
          height: 0;
          margin: 0;
          opacity: 0;
          transition: all 0.3s;
        }
      }
      & [data-click]{
        margin-bottom: 0;
        &:before{
          content: none;
        }
        &:after{
          content: '...';
          position: absolute;
          width: 100%;
          height: 100%;
          transform: rotate(0);
          background-color: transparent;
          color: #A0A5B9;
          font-size: rem(62);
          line-height: 0;
          top: 0;
        }
      }
    }
  }
  & button{
    outline: none;
    background: #F0F0F3;
    border: 0;
    color: #B1B5C6;
    font-weight: 700;
  }
  &__btn{
      padding: rem(119) rem(37);
      box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2), 5px -5px 10px rgba(216, 216, 219, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(216, 216, 219, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(216, 216, 219, 0.5);
      border-radius: 40px;
    &:focus{
        box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(216, 216, 219, 0.5), inset -5px 5px 10px rgba(216, 216, 219, 0.2), inset 5px -5px 10px rgba(216, 216, 219, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(216, 216, 219, 0.9);
    }
  }
  &__genus{
    display: flex;
    color: #B1B5C6;
    font-weight: 700;
    background: #F0F0F3;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(216, 216, 219, 0.5), inset -5px 5px 10px rgba(216, 216, 219, 0.2), inset 5px -5px 10px rgba(216, 216, 219, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(216, 216, 219, 0.9);
    border-radius: 40px;
    & li{
      padding-right: rem(60);
      cursor: pointer;
      z-index: 1;
      &:last-child{
        padding: 0;
      }
    }
  }
  & [data-tab-active]{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background: #A0A5B9;
      box-shadow: 1px 1px 2px rgba(176, 182, 204, 0.3), -1px -1px 2px rgba(144, 149, 167, 0.5), inset -5px 5px 10px rgba(144, 149, 167, 0.2), inset 5px -5px 10px rgba(144, 149, 167, 0.2), inset -5px -5px 10px rgba(176, 182, 204, 0.9), inset 5px 5px 13px rgba(144, 149, 167, 0.9);
      border-radius: 40px;
      color: #ffffff;
      height: 100%;
      width: 50%;
      top: 0;
      left: 0;
    }
  }
  &__arrows{
    & .icon{
      margin: 0;
    }
    & button{
      margin-right: rem(18);
      padding: rem(18);
      background: #F0F0F3;
      box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2), 5px -5px 10px rgba(216, 216, 219, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(216, 216, 219, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(216, 216, 219, 0.5);
      border-radius: 10px;
      &:last-child{
        margin-right: 0;
      }
      &:focus{
        box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(216, 216, 219, 0.5), inset -5px 5px 10px rgba(216, 216, 219, 0.2), inset 5px -5px 10px rgba(216, 216, 219, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(216, 216, 219, 0.9);
      }
    }
  }
  &__search{
    position: relative;
    display: flex;
    align-items: center;
    & input[type=search]{
      outline: none;
      border: none;
      background: #F0F0F3;
      box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(216, 216, 219, 0.5), inset -5px 5px 10px rgba(216, 216, 219, 0.2), inset 5px -5px 10px rgba(216, 216, 219, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(216, 216, 219, 0.9);
      border-radius: 40px;
      padding: rem(28) rem(28) rem(28) rem(72);
      color: #B1B5C6;
      &::placeholder{
        font-weight: 700;
        color: #B1B5C6;
      }
      &::-webkit-search-decoration{
        display: none;
        width: 0;
        height: 0;
      }
      &::-webkit-search-cancel-button{
        display: none;
        width: 0;
        height: 0;
      }
      &::-webkit-search-results-button{
        display: none;
        width: 0;
        height: 0;
      }
      &::-webkit-search-results-decoration{
        display: none;
        width: 0;
        height: 0;
      }
    }
    & .icon{
      position: absolute;
      left: rem(30);
    }
  }
  &__control{
    display: flex;
    gap: rem(28);
    & button{
      padding: rem(33);
      background: #F0F0F3;
      box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2), 5px -5px 10px rgba(216, 216, 219, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(216, 216, 219, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(216, 216, 219, 0.5);
      border-radius: 50px;
      &:focus{
        box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(216, 216, 219, 0.5), inset -5px 5px 10px rgba(216, 216, 219, 0.2), inset 5px -5px 10px rgba(216, 216, 219, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(216, 216, 219, 0.9);
      }
    }
  }
  &__range{
    & input[type=range]{
      width: rem(371);
      height: rem(16);
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      background-image: linear-gradient(180deg, #A0A5B9 0%, #A0A5B9 48.32%, #A0A5B9 100%);
      background-repeat: no-repeat;
      background-size: 50% 100%;
      cursor: pointer;
      border-radius: 40px;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #F0F0F3;
        box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(216, 216, 219, 0.5), inset -5px 5px 10px rgba(216, 216, 219, 0.2), inset 5px -5px 10px rgba(216, 216, 219, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(216, 216, 219, 0.9);
        border-radius: 40px;
        z-index: -1;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        height: rem(37);
        width: rem(37);
        background: #F0F0F3;
        border: 0;
        box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2), 5px -5px 10px rgba(216, 216, 219, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(216, 216, 219, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(216, 216, 219, 0.5);
        border-radius: 50%;
      }
      &::-moz-range-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        height: rem(37);
        width: rem(37);
        background: #F0F0F3;
        border: 0;
        box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2), 5px -5px 10px rgba(216, 216, 219, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(216, 216, 219, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(216, 216, 219, 0.5);
        border-radius: 50%;
      }
    }

  }
  &__dots{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(20);
    & li{
      background: #F0F0F3;
      box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(216, 216, 219, 0.5), inset -5px 5px 10px rgba(216, 216, 219, 0.2), inset 5px -5px 10px rgba(216, 216, 219, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(216, 216, 219, 0.9);
      width: rem(18);
      height: rem(18);
      border-radius: 50%;
    }
    & .active{
      background: #F0F0F3;
      box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2), 5px -5px 10px rgba(216, 216, 219, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(216, 216, 219, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(216, 216, 219, 0.5);
    }
  }
}

