<div class="neoformism container">
    <div class="neoformism__wrap">
        <div class="neoformism__bl">
            <ul class="neoformism__menu">
                <li data-click></li>
                <li>
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.47485 26.0784C6.56029 26.0231 7.20334 25.5736 7.84724 24.214C9.02974 21.7171 9.27795 18.1999 9.27795 15.6889C9.27795 15.678 9.27818 15.6672 9.27858 15.6563C9.29146 12.3378 11.2832 9.47708 14.1334 8.19355V6.23055C14.1334 4.44921 15.5835 3 17.3661 3H17.634C19.4165 3 20.8667 4.44921 20.8667 6.23055V8.19344C23.7264 9.4811 25.7221 12.3564 25.7221 15.6889C25.7221 18.1999 25.9703 21.7171 27.1528 24.214C27.7966 25.5736 28.4397 26.023 28.5252 26.0784C28.8852 26.2446 29.0627 26.6287 28.9799 27.0178C28.8963 27.4109 28.5281 27.6818 28.126 27.6818H21.8841C21.8492 30.0687 19.8966 32 17.5 32C15.1034 32 13.1508 30.0687 13.1159 27.6818H6.87401C6.47195 27.6818 6.10367 27.4109 6.02005 27.0178C5.93733 26.6287 6.1148 26.2446 6.47485 26.0784ZM19.1634 6.23055C19.1634 5.38769 18.4773 4.70199 17.6339 4.70199H17.366C16.5226 4.70199 15.8365 5.38769 15.8365 6.23055V7.64187C16.374 7.53102 16.9304 7.47268 17.5002 7.47268C18.0699 7.47268 18.6261 7.53097 19.1634 7.6417V6.23055H19.1634ZM17.5 30.298C18.9575 30.298 20.1463 29.1302 20.1809 27.6819H14.8191C14.8536 29.1302 16.0425 30.298 17.5 30.298ZM14.071 25.9798C14.0711 25.9798 26.1852 25.9798 26.1852 25.9798C26.0379 25.7507 25.888 25.4914 25.7389 25.1983C24.5976 22.9529 24.0189 19.7534 24.0189 15.6889C24.0189 12.0969 21.0946 9.17468 17.5003 9.17468C13.9059 9.17468 10.9817 12.0969 10.9817 15.6917C10.9817 15.7022 10.9815 15.7126 10.9811 15.7231C10.9779 19.7713 10.3992 22.9592 9.26103 25.1983C9.11201 25.4914 8.96202 25.7507 8.81475 25.9798H14.071Z" fill="#A0A5B9"/>
                    </svg>
                </li>
                <li>
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.8221 17.4677C30.5719 17.8099 24.6119 25.8462 16.9999 25.8462C9.38785 25.8462 3.42755 17.8099 3.17768 17.468C2.94077 17.1434 2.94077 16.7031 3.17768 16.3785C3.42755 16.0363 9.38785 7.99999 16.9999 7.99999C24.6119 7.99999 30.5719 16.0363 30.8221 16.3782C31.0593 16.7028 31.0593 17.1434 30.8221 17.4677ZM16.9999 9.84614C11.3928 9.84614 6.53649 15.18 5.09891 16.9237C6.53463 18.669 11.3808 24 16.9999 24C22.6067 24 27.4627 18.6671 28.9008 16.9224C27.4651 15.1773 22.619 9.84614 16.9999 9.84614Z" fill="#A0A5B9"/>
                        <path d="M16.9999 22.4615C13.946 22.4615 11.4614 19.9769 11.4614 16.9231C11.4614 13.8692 13.946 11.3846 16.9999 11.3846C20.0537 11.3846 22.5384 13.8692 22.5384 16.9231C22.5384 19.9769 20.0537 22.4615 16.9999 22.4615ZM16.9999 13.2308C14.9638 13.2308 13.3076 14.8871 13.3076 16.9231C13.3076 18.959 14.9639 20.6153 16.9999 20.6153C19.0358 20.6153 20.6921 18.959 20.6921 16.9231C20.6921 14.8871 19.0359 13.2308 16.9999 13.2308Z" fill="#A0A5B9"/>
                    </svg>
                </li>
                <li>
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.7325 8.67822L22.1823 26.3429H10.8176L9.26781 8.67822L7.30396 8.85037L8.8821 26.8354C8.96516 27.6643 9.68442 28.3143 10.52 28.3143H22.48C23.3152 28.3143 24.0348 27.6647 24.1192 26.8235L25.6964 8.85037L23.7325 8.67822Z" fill="#A0A5B9"/>
                        <path d="M20.1142 4H12.8857C11.9798 4 11.2428 4.73698 11.2428 5.64287V8.76431H13.2142V5.9714H19.7856V8.76426H21.757V5.64283C21.7571 4.73698 21.0201 4 20.1142 4Z" fill="#A0A5B9"/>
                        <path d="M27.0142 7.77856H5.98572C5.44127 7.77856 5 8.21983 5 8.76429C5 9.30875 5.44127 9.75001 5.98572 9.75001H27.0143C27.5587 9.75001 28 9.30875 28 8.76429C28 8.21983 27.5587 7.77856 27.0142 7.77856Z" fill="#A0A5B9"/>
                    </svg>
                </li>
            </ul>
            <button class="neoformism__btn" type="button">
                Ok
            </button>
        </div>
        <div class="neoformism__bl neoformism__bl2">
            <div class="neoformism__genus">
                <label class="checkbox" >
                    <input class="checkbox__input" checked name="gender" value="Male" type="radio">
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">Male</span>
                </label>
                <label class="checkbox">
                    <input class="checkbox__input" name="gender" value="Female" type="radio">
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">Female</span>
                </label>
            </div>
            <div class="neoformism__arrows">
                <button class="arrow-prev">
                    <i class="icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.864 19.7279L7.00004 11.864L14.864 4" stroke="#A0A5B9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </i>
                </button>
                <button class="arrow-next">
                    <i class="icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.86395 4L15.7279 11.864L7.86395 19.7279" stroke="#A0A5B9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </i>
                </button>
            </div>
            <div class="neoformism__search">
                <i class="icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.7436 20.5064L15.7717 14.5345C16.9285 13.1056 17.625 11.29 17.625 9.31251C17.625 4.72926 13.8957 1 9.31247 1C4.72922 1 1 4.72922 1 9.31247C1 13.8957 4.72926 17.625 9.31251 17.625C11.29 17.625 13.1056 16.9285 14.5345 15.7717L20.5064 21.7436C20.677 21.9142 20.901 22 21.125 22C21.349 22 21.573 21.9142 21.7437 21.7436C22.0858 21.4015 22.0858 20.8485 21.7436 20.5064ZM9.31251 15.875C5.6935 15.875 2.75001 12.9315 2.75001 9.31247C2.75001 5.69346 5.6935 2.74997 9.31251 2.74997C12.9315 2.74997 15.875 5.69346 15.875 9.31247C15.875 12.9315 12.9315 15.875 9.31251 15.875Z" fill="#A0A5B9"/>
                    </svg>
                </i>
                <input type="search" placeholder="Search">
            </div>
        </div>
        <div class="neoformism__bl neoformism__bl2">
            <div class="neoformism__control">
                    <button type="button">
                        <i class="icon-btn">
                            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter0_i_134_15)">
                                    <path d="M25.413 2C21.3478 2 18.6603 4.21975 17.327 5.68829C15.9939 4.21975 13.3062 2 9.24105 2C3.80362 2 0 7.02402 0 12.9363C0 17.2598 2.18016 25.6826 16.7809 33.5164C17.122 33.6995 17.5322 33.6994 17.8732 33.5164C32.4739 25.6826 34.654 17.2598 34.654 12.9363C34.654 7.1581 30.9598 2 25.413 2Z" fill="#A0A5B9"/>
                                </g>
                                <defs>
                                    <filter id="filter0_i_134_15" x="0" y="2" width="39.6541" height="36.6537" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                        <feOffset dx="5" dy="5"/>
                                        <feGaussianBlur stdDeviation="6.5"/>
                                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0.564706 0 0 0 0 0.584314 0 0 0 0 0.654902 0 0 0 0.9 0"/>
                                        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_134_15"/>
                                    </filter>
                                </defs>
                            </svg>
                        </i>
                    </button>
                <button type="button">
                    <i class="icon-btn">
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M32.2471 13.3564L29.7876 12.8218C29.5737 12.167 29.3088 11.5283 28.9961 10.9131L30.3577 8.79517C30.6008 8.41675 30.5474 7.91992 30.2295 7.60205L26.3979 3.77051C26.0801 3.45264 25.5833 3.39917 25.2048 3.64233L23.0869 5.00391C22.4717 4.69116 21.833 4.42627 21.1782 4.2124L20.6436 1.75293C20.5481 1.31348 20.1589 1 19.7092 1H14.2908C13.8411 1 13.4519 1.31348 13.3564 1.75293L12.8218 4.2124C12.167 4.42627 11.5283 4.69116 10.9131 5.00391L8.79517 3.64233C8.41675 3.39917 7.91992 3.45264 7.60205 3.77051L3.77051 7.60205C3.45264 7.91992 3.39917 8.41675 3.64233 8.79517L5.00391 10.9131C4.69116 11.5283 4.42627 12.167 4.2124 12.8218L1.75293 13.3564C1.31348 13.4521 1 13.8411 1 14.2908V19.7092C1 20.1589 1.31348 20.5479 1.75293 20.6436L4.2124 21.1782C4.42627 21.833 4.69116 22.4717 5.00391 23.0869L3.64233 25.2048C3.39917 25.5833 3.45264 26.0801 3.77051 26.3979L7.60205 30.2295C7.91992 30.5474 8.41675 30.6008 8.79517 30.3577L10.9131 28.9961C11.5283 29.3088 12.167 29.5737 12.8218 29.7876L13.3564 32.2471C13.4519 32.6865 13.8411 33 14.2908 33H19.7092C20.1589 33 20.5481 32.6865 20.6436 32.2471L21.1782 29.7876C21.833 29.5737 22.4717 29.3088 23.0869 28.9961L25.2048 30.3577C25.5833 30.6008 26.0801 30.5476 26.3979 30.2295L30.2295 26.3979C30.5474 26.0801 30.6008 25.5833 30.3577 25.2048L28.9961 23.0869C29.3088 22.4717 29.5737 21.833 29.7876 21.1782L32.2471 20.6436C32.6865 20.5479 33 20.1589 33 19.7092V14.2908C33 13.8411 32.6865 13.4521 32.2471 13.3564ZM22.7371 17C22.7371 20.1633 20.1633 22.7371 17 22.7371C13.8367 22.7371 11.2629 20.1633 11.2629 17C11.2629 13.8367 13.8367 11.2629 17 11.2629C20.1633 11.2629 22.7371 13.8367 22.7371 17Z" fill="#A0A5B9"/>
                        </svg>
                    </i>
                </button>

            </div>
            <div class="neoformism__range">
                <label class="checkbox checkbox__switch">
                    <input type="checkbox" class="checkbox__input">
                    <span class="checkbox__switch--box">
                        <i class="icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 7L9 17L4 12.4545" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </i>
                        <i class="icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 5L5 19" stroke="#A0A5B9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M5 5L19 19" stroke="#A0A5B9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </i>
                    </span>
                </label>
            </div>
        </div>
        <div class="neoformism__bl">
            <div class="neoformism__range">
                <input type="range" min="0" max="100" value="50">
            </div>
            <ul class="neoformism__dots">
                <li></li>
                <li class="active"></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>