html {
	height: 100%;
	scroll-behavior: smooth;
}

.scroll-behavior-auto {
	scroll-behavior: auto;
}

svg, img {
	max-width: 100%;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

main, .intro {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

footer {
	flex-shrink: 0;
}



.a-arrow{
	opacity: 0.5;
	cursor: not-allowed;
}
.h-arrow{
	&:hover{

		& svg{
			& path{
				stroke: $color-yellow;
			}
			& line{
				stroke: $color-yellow;
			}

		}
	}
}

:target {
	scroll-margin-top: 150px;
}