html {
  font-family: $font-montserrat;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
}


h1, .h1 {
	@include h1;
}

h2, .h2 {
	@include h2;
}

h3, .h3 {
	@include h3;
}

h4, .h4 {
	@include h4;
}
h5, .h5 {
	@include h5;
}
.text-lead {
	@include text-lead;
}

.text-label {
	@include text-label;
}

.text-default {
	@include text-default;
}

.text-small {
	@include text-small;
}
.text-stories {
	@include text-stories;
}
.text-mute {
	@include text-mute;
}
.text-underline {
	@include text-underline;
}
.ln-action {
	@include action-ln;
}
.bl-white {
	@include white-bl;
}
.text-italic {
	@include text-italic;
}
.disc-list {
	@include disc-list;
}
