.btn-hover{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  & .container-article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  & a{
    flex: 0 1 auto;
    display: inline-flex;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: rem(35);
    line-height: 1;
    border: 3px solid black;
    padding: rem(16) rem(50);
    position: relative;
  }
  & .animation-cross {
    color: black;
    transition: all 0.5s;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 101%;
      height: 100%;
      background-color: black;
      transform: rotateX(90deg);
      z-index: -1;
      transition: 0.5s;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 101%;
      height: 100%;
      background-color: black;
      transform: rotateY(90deg);
      z-index: -1;
      transition: all 0.5s;
    }
    &:hover {
      color: white;
        &:before {
          transform: rotateX(0deg);
        }
        &:after {
          transform: rotateY(0deg);
        }
    }
  }
  & .animation-ellipse {
    border: 3px solid tomato;
    color: tomato;
    transition: all 0.5s;
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-color: tomato;
      width: 100%;
      height: 200%;
      transform: translateY(-100%);
      transition: all 0.5s;
      z-index: -1;
      border-radius: 0 0 50% 50%;
    }
    &:hover {
      color: white;
      &:before {
        transform: translateY(0);
      }
    }
  }
  & .animation-three-circle {
    border: none;
    transition: all 0.5s;
    & span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      transform: scale(0);
      transition: all 0.5s;
      z-index: -1;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: black;
      transition: all 0.3s;
      transform: translateY(-50%);
      opacity: 0;
      z-index: -1;
    }
    &:before {
      left: 0;
      box-shadow: -100px 0 0 black;
    }
    &:after {
      right: 0;
      box-shadow: 100px 0 0 black;
    }
    &:hover {
      color: white;
      & span {
        transform: scale(1);
      }
      &::before {
        left: 50%;
        box-shadow: 30px 0 0 black;
        transform: translateY(-50%) translateX(-50%);
        opacity: 1;
      }
      &::after {
        right: 50%;
        box-shadow: -30px 0 0 black;
        transform: translateY(-50%) translateX(50%);
        opacity: 1;
      }
    }
  }
  & .animation-line {
    background-color: tomato;
    color: white;
    border: none;
    &::before {
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      border-left: 2px solid tomato;
      border-top: 2px solid tomato;
      width: 50px;
      height: 50px;
      transition: all 0.5s;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      right: -4px;
      border-right: 2px solid tomato;
      border-bottom: 2px solid tomato;
      width: 50px;
      height: 50px;
      transition: all 0.5s;
    }
    &:hover {
      &::before,
      &::after {
        width: 100%;
        height: 100%;
      }
    }
  }
  & .animation-scale {
    transition: all 0.5s;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      transition: all 0.5s;
      background-color: transparent;
      z-index: -1;
    }
    & span {
      color: transparent;
      position: relative;
      &::before {
        content: 'H';
        position: absolute;
        color: black;
        transition: all 0.5s;
      }
    }
    &:hover {
      color: white;
      & span {
        &:before {
          font-size: 76px;
          color: white;
          transform: translate(-40%, -15%) rotate(360deg);
        }
      }
      &::before {
        transform: rotate(10deg);
        background-color: black;
      }
    }
  }
  & .animation-borders {
    border: transparent;
    color: tomato;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      left: -100%;
      top: 0;
      width: 100%;
      height: 3px;
      background-color: tomato;
      transition: all 0.5s;
    }
    &::after {
      content: '';
      position: absolute;
      right: -100%;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: tomato;
      transition: all 0.5s;
    }
    & span {
      &::before {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        top: -100%;
        left: 0;
        background-color: tomato;
        transition: all 0.5s;
      }
      &::after {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        bottom: -100%;
        right: 0;
        background-color: tomato;
        transition: all 0.5s;
      }
    }
    &:hover {
      & span {
        &::before {
          top: 0;
        }
        &::after {
          bottom: 0;
        }
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }
  }
}