 <div class="btn-hover">
         <div class="container-article">
                 <a href="#" class="animation-cross">Hover me</a>
                 <a href="#" class="animation-ellipse">Hover me</a>
                 <a href="#" class="animation-three-circle"><span></span>Hover me</a>
                 <a href="#" class="animation-line">Hover me</a>
                 <a href="#" class="animation-scale"><span>H</span>over me</a>
                 <a href="#" class="animation-borders">Hover me<span></span></a>
         </div>
 </div>