$color-white: #ffffff !default;
$color-yellow: #FFC836 !default;
$color-emerald: #7499A8 !default;
$color-black: #000000 !default;
$color-dark-grey: #231F20 !default;
$color-grey: #D4D5D4 !default;
$color-error: #CE2E2E !default;
$color-green: #009245 !default;
$color-md-grey: #808080 !default;
$color-light-grey: #f1f1f1 !default;
$color-light-emerald: #7499A8 !default;
$color-dark-link: #0A5FCF !default;

$color-gr-full: linear-gradient(90deg, #FA06FB 0%, #FF7500 98.55%) !default;
$color-dark-yellow: #E8AE16 !default;

$colors: (
    "white": $color-white,
    "black": $color-black,
    "dark": $color-dark-grey,
    "grey": $color-grey,
    "yellow": $color-yellow,
    "red": $color-error,
    "green": $color-green,
    "emerald": $color-light-emerald
);