// Safe Web-fonts
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-opensans: 'Open Sans', $font-family-sans-serif;

$ff-base:         $font-opensans !default;
$ff-title:       	$font-opensans !default;

$font-montserrat: 'Montserrat', $font-family-sans-serif;
$font-kalam: 'Kalam', $font-family-sans-serif;




