<div class="ufo-wrap">
    <svg width="372" height="408" viewBox="0 0 372 408" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="undraw_Taken_re_yn20 1" clip-path="url(#clip0)">
            <g id="c-1">
                <path id="head" d="M172.43 400.428C185.264 400.428 195.668 390.035 195.668 377.214C195.668 364.393 185.264 354 172.43 354C159.596 354 149.191 364.393 149.191 377.214C149.191 390.035 159.596 400.428 172.43 400.428Z" fill="#2F2E41"/>
                <g id="leg-l">
                    <path id="Vector" d="M162.561 393.291L155.448 403.747L161.284 407.71L168.397 397.254L162.561 393.291Z" fill="#2F2E41"/>
                    <path id="Vector_2" d="M162.273 406.424C162.363 405.21 159.81 404.034 156.57 403.797C153.331 403.561 150.632 404.353 150.542 405.568C150.452 406.782 153.006 407.958 156.245 408.194C159.485 408.431 162.184 407.638 162.273 406.424Z" fill="#2F2E41"/>
                </g>
                <g id="leg-r">
                    <path id="Vector_3" d="M182.249 391.845L176.002 395.121L181.884 406.315L188.132 403.04L182.249 391.845Z" fill="#2F2E41"/>
                    <path id="Vector_4" d="M186.836 407.368C190.082 407.5 192.752 406.621 192.8 405.404C192.848 404.188 190.257 403.094 187.011 402.962C183.766 402.83 181.096 403.709 181.047 404.926C180.999 406.142 183.591 407.236 186.836 407.368Z" fill="#2F2E41"/>
                </g>
                <path id="eye-o" d="M170.803 379.47C175.189 379.47 178.745 375.917 178.745 371.536C178.745 367.154 175.189 363.602 170.803 363.602C166.416 363.602 162.861 367.154 162.861 371.536C162.861 375.917 166.416 379.47 170.803 379.47Z" fill="white"/>
                <path id="eye-i" d="M176.619 373.613C177.649 372.585 177.643 370.911 176.606 369.875C175.569 368.84 173.894 368.834 172.864 369.862C171.835 370.891 171.841 372.564 172.877 373.6C173.914 374.636 175.589 374.642 176.619 373.613Z" fill="#3F3D56"/>
                <path id="arm-r" d="M204.157 389.37C205.686 388.059 203.536 383.053 199.356 378.189C195.176 373.325 190.549 370.445 189.02 371.756C187.492 373.067 189.641 378.072 193.821 382.936C198.001 387.8 202.628 390.68 204.157 389.37Z" fill="#2F2E41"/>
                <path id="arm-l" d="M151.104 382.936C155.284 378.072 157.433 373.067 155.905 371.756C154.376 370.445 149.748 373.325 145.568 378.189C141.389 383.053 139.239 388.059 140.768 389.37C142.296 390.68 146.924 387.8 151.104 382.936Z" fill="#2F2E41"/>
                <path id="mouth" d="M178.812 386.362C179.064 387.742 178.756 389.166 177.957 390.319C177.158 391.473 175.933 392.262 174.551 392.513C173.17 392.765 171.745 392.457 170.59 391.659C169.435 390.861 168.645 389.637 168.394 388.257L168.392 388.247C167.871 385.372 170.623 388.767 173.5 388.247C176.377 387.726 178.291 383.488 178.812 386.362Z" fill="white"/>
            </g>
            <g id="spaceship">
                <g id="Vector_5">
                    <mask id="path-11-inside-1" fill="white">
                        <path d="M294.367 89.3054C282.497 86.0908 270.456 83.5378 258.302 81.6581C238.382 78.5744 218.299 76.6464 198.155 75.8839C189.764 75.5413 181.218 75.3645 172.578 75.3645C165.73 75.3645 158.937 75.475 152.239 75.696C132.59 76.276 112.987 77.9306 93.5183 80.6524C79.1068 82.6347 64.8352 85.5248 50.7887 89.3054C18.0376 98.3506 0 110.474 0 123.436C0 136.399 18.0376 148.522 50.7887 157.567C73.8212 163.933 102.219 168.27 133.162 170.26C145.933 171.088 159.137 171.508 172.578 171.508C186.063 171.508 199.311 171.083 212.121 170.254C240.281 168.436 266.334 164.673 288.138 159.203C288.255 159.17 288.365 159.142 288.482 159.115C289.953 158.75 291.402 158.369 292.835 157.987C293.349 157.844 293.858 157.706 294.367 157.567C294.396 157.556 294.425 157.547 294.455 157.54C294.942 157.407 295.423 157.269 295.905 157.136C296.867 156.86 297.818 156.589 298.753 156.308C298.797 156.297 298.836 156.286 298.875 156.274C299.688 156.031 300.485 155.788 301.275 155.545C301.923 155.341 302.564 155.142 303.2 154.937C303.665 154.788 304.124 154.639 304.578 154.49C304.91 154.379 305.236 154.274 305.557 154.164C305.994 154.02 306.431 153.871 306.862 153.722C307.045 153.661 307.227 153.6 307.404 153.534C307.819 153.396 308.223 153.252 308.627 153.108C309.064 152.954 309.501 152.793 309.932 152.639C310.292 152.512 310.651 152.379 311.005 152.246C311.304 152.13 311.597 152.02 311.896 151.909C312.709 151.605 313.505 151.29 314.291 150.981C314.684 150.821 315.076 150.666 315.463 150.506C315.845 150.351 316.232 150.191 316.608 150.031C317.228 149.771 317.836 149.511 318.434 149.252C318.721 149.119 319.015 148.992 319.297 148.87C319.512 148.771 319.722 148.677 319.938 148.577C320.093 148.511 320.248 148.439 320.397 148.368C320.956 148.113 321.509 147.854 322.051 147.594C324.131 146.599 326.073 145.583 327.876 144.544C339.187 138.074 345.156 130.896 345.156 123.436C345.156 110.474 327.118 98.3506 294.367 89.3054ZM294.068 156.507C271.008 162.877 242.533 167.215 211.507 169.188C198.89 169.989 185.848 170.403 172.578 170.403C159.352 170.403 146.354 169.994 133.775 169.193C102.7 167.226 74.1807 162.889 51.0874 156.507C18.8563 147.599 1.10627 135.858 1.10627 123.436C1.10807 122.339 1.24559 121.246 1.51572 120.182C4.33648 108.976 21.6884 98.4887 51.0874 90.3662C65.0277 86.6152 79.19 83.7418 93.4907 81.763C113.076 79.0258 132.797 77.3656 152.565 76.7901C159.159 76.5746 165.83 76.4678 172.578 76.4696C181.102 76.4696 189.531 76.6409 197.817 76.9724C218.079 77.7281 238.278 79.6653 258.314 82.7742C270.363 84.6456 282.299 87.1801 294.068 90.3662C323.462 98.4887 340.808 108.971 343.634 120.171C343.909 121.238 344.048 122.335 344.049 123.436C344.049 135.858 326.299 147.599 294.068 156.507Z"/>
                        <path d="M294.068 156.507C271.008 162.877 242.533 167.215 211.507 169.188C198.89 169.989 185.848 170.403 172.578 170.403C159.352 170.403 146.354 169.994 133.775 169.193C102.7 167.226 74.1807 162.889 51.0874 156.507C18.8563 147.599 1.10627 135.858 1.10627 123.436C1.10807 122.339 1.24559 121.246 1.51572 120.182C4.33648 108.976 21.6884 98.4887 51.0874 90.3662C65.0277 86.6152 79.19 83.7418 93.4907 81.763C113.076 79.0258 132.797 77.3656 152.565 76.7901C159.159 76.5746 165.83 76.4678 172.578 76.4696C181.102 76.4696 189.531 76.6409 197.817 76.9724C218.079 77.7281 238.278 79.6653 258.314 82.7742C270.363 84.6456 282.299 87.1801 294.068 90.3662C323.462 98.4887 340.808 108.971 343.634 120.171C343.909 121.238 344.048 122.335 344.049 123.436C344.049 135.858 326.299 147.599 294.068 156.507Z"/>
                    </mask>
                    <path d="M294.367 89.3054C282.497 86.0908 270.456 83.5378 258.302 81.6581C238.382 78.5744 218.299 76.6464 198.155 75.8839C189.764 75.5413 181.218 75.3645 172.578 75.3645C165.73 75.3645 158.937 75.475 152.239 75.696C132.59 76.276 112.987 77.9306 93.5183 80.6524C79.1068 82.6347 64.8352 85.5248 50.7887 89.3054C18.0376 98.3506 0 110.474 0 123.436C0 136.399 18.0376 148.522 50.7887 157.567C73.8212 163.933 102.219 168.27 133.162 170.26C145.933 171.088 159.137 171.508 172.578 171.508C186.063 171.508 199.311 171.083 212.121 170.254C240.281 168.436 266.334 164.673 288.138 159.203C288.255 159.17 288.365 159.142 288.482 159.115C289.953 158.75 291.402 158.369 292.835 157.987C293.349 157.844 293.858 157.706 294.367 157.567C294.396 157.556 294.425 157.547 294.455 157.54C294.942 157.407 295.423 157.269 295.905 157.136C296.867 156.86 297.818 156.589 298.753 156.308C298.797 156.297 298.836 156.286 298.875 156.274C299.688 156.031 300.485 155.788 301.275 155.545C301.923 155.341 302.564 155.142 303.2 154.937C303.665 154.788 304.124 154.639 304.578 154.49C304.91 154.379 305.236 154.274 305.557 154.164C305.994 154.02 306.431 153.871 306.862 153.722C307.045 153.661 307.227 153.6 307.404 153.534C307.819 153.396 308.223 153.252 308.627 153.108C309.064 152.954 309.501 152.793 309.932 152.639C310.292 152.512 310.651 152.379 311.005 152.246C311.304 152.13 311.597 152.02 311.896 151.909C312.709 151.605 313.505 151.29 314.291 150.981C314.684 150.821 315.076 150.666 315.463 150.506C315.845 150.351 316.232 150.191 316.608 150.031C317.228 149.771 317.836 149.511 318.434 149.252C318.721 149.119 319.015 148.992 319.297 148.87C319.512 148.771 319.722 148.677 319.938 148.577C320.093 148.511 320.248 148.439 320.397 148.368C320.956 148.113 321.509 147.854 322.051 147.594C324.131 146.599 326.073 145.583 327.876 144.544C339.187 138.074 345.156 130.896 345.156 123.436C345.156 110.474 327.118 98.3506 294.367 89.3054ZM294.068 156.507C271.008 162.877 242.533 167.215 211.507 169.188C198.89 169.989 185.848 170.403 172.578 170.403C159.352 170.403 146.354 169.994 133.775 169.193C102.7 167.226 74.1807 162.889 51.0874 156.507C18.8563 147.599 1.10627 135.858 1.10627 123.436C1.10807 122.339 1.24559 121.246 1.51572 120.182C4.33648 108.976 21.6884 98.4887 51.0874 90.3662C65.0277 86.6152 79.19 83.7418 93.4907 81.763C113.076 79.0258 132.797 77.3656 152.565 76.7901C159.159 76.5746 165.83 76.4678 172.578 76.4696C181.102 76.4696 189.531 76.6409 197.817 76.9724C218.079 77.7281 238.278 79.6653 258.314 82.7742C270.363 84.6456 282.299 87.1801 294.068 90.3662C323.462 98.4887 340.808 108.971 343.634 120.171C343.909 121.238 344.048 122.335 344.049 123.436C344.049 135.858 326.299 147.599 294.068 156.507Z" fill="white"/>
                    <path d="M294.068 156.507C271.008 162.877 242.533 167.215 211.507 169.188C198.89 169.989 185.848 170.403 172.578 170.403C159.352 170.403 146.354 169.994 133.775 169.193C102.7 167.226 74.1807 162.889 51.0874 156.507C18.8563 147.599 1.10627 135.858 1.10627 123.436C1.10807 122.339 1.24559 121.246 1.51572 120.182C4.33648 108.976 21.6884 98.4887 51.0874 90.3662C65.0277 86.6152 79.19 83.7418 93.4907 81.763C113.076 79.0258 132.797 77.3656 152.565 76.7901C159.159 76.5746 165.83 76.4678 172.578 76.4696C181.102 76.4696 189.531 76.6409 197.817 76.9724C218.079 77.7281 238.278 79.6653 258.314 82.7742C270.363 84.6456 282.299 87.1801 294.068 90.3662C323.462 98.4887 340.808 108.971 343.634 120.171C343.909 121.238 344.048 122.335 344.049 123.436C344.049 135.858 326.299 147.599 294.068 156.507Z" fill="white"/>
                    <path d="M294.367 89.3054C282.497 86.0908 270.456 83.5378 258.302 81.6581C238.382 78.5744 218.299 76.6464 198.155 75.8839C189.764 75.5413 181.218 75.3645 172.578 75.3645C165.73 75.3645 158.937 75.475 152.239 75.696C132.59 76.276 112.987 77.9306 93.5183 80.6524C79.1068 82.6347 64.8352 85.5248 50.7887 89.3054C18.0376 98.3506 0 110.474 0 123.436C0 136.399 18.0376 148.522 50.7887 157.567C73.8212 163.933 102.219 168.27 133.162 170.26C145.933 171.088 159.137 171.508 172.578 171.508C186.063 171.508 199.311 171.083 212.121 170.254C240.281 168.436 266.334 164.673 288.138 159.203C288.255 159.17 288.365 159.142 288.482 159.115C289.953 158.75 291.402 158.369 292.835 157.987C293.349 157.844 293.858 157.706 294.367 157.567C294.396 157.556 294.425 157.547 294.455 157.54C294.942 157.407 295.423 157.269 295.905 157.136C296.867 156.86 297.818 156.589 298.753 156.308C298.797 156.297 298.836 156.286 298.875 156.274C299.688 156.031 300.485 155.788 301.275 155.545C301.923 155.341 302.564 155.142 303.2 154.937C303.665 154.788 304.124 154.639 304.578 154.49C304.91 154.379 305.236 154.274 305.557 154.164C305.994 154.02 306.431 153.871 306.862 153.722C307.045 153.661 307.227 153.6 307.404 153.534C307.819 153.396 308.223 153.252 308.627 153.108C309.064 152.954 309.501 152.793 309.932 152.639C310.292 152.512 310.651 152.379 311.005 152.246C311.304 152.13 311.597 152.02 311.896 151.909C312.709 151.605 313.505 151.29 314.291 150.981C314.684 150.821 315.076 150.666 315.463 150.506C315.845 150.351 316.232 150.191 316.608 150.031C317.228 149.771 317.836 149.511 318.434 149.252C318.721 149.119 319.015 148.992 319.297 148.87C319.512 148.771 319.722 148.677 319.938 148.577C320.093 148.511 320.248 148.439 320.397 148.368C320.956 148.113 321.509 147.854 322.051 147.594C324.131 146.599 326.073 145.583 327.876 144.544C339.187 138.074 345.156 130.896 345.156 123.436C345.156 110.474 327.118 98.3506 294.367 89.3054ZM294.068 156.507C271.008 162.877 242.533 167.215 211.507 169.188C198.89 169.989 185.848 170.403 172.578 170.403C159.352 170.403 146.354 169.994 133.775 169.193C102.7 167.226 74.1807 162.889 51.0874 156.507C18.8563 147.599 1.10627 135.858 1.10627 123.436C1.10807 122.339 1.24559 121.246 1.51572 120.182C4.33648 108.976 21.6884 98.4887 51.0874 90.3662C65.0277 86.6152 79.19 83.7418 93.4907 81.763C113.076 79.0258 132.797 77.3656 152.565 76.7901C159.159 76.5746 165.83 76.4678 172.578 76.4696C181.102 76.4696 189.531 76.6409 197.817 76.9724C218.079 77.7281 238.278 79.6653 258.314 82.7742C270.363 84.6456 282.299 87.1801 294.068 90.3662C323.462 98.4887 340.808 108.971 343.634 120.171C343.909 121.238 344.048 122.335 344.049 123.436C344.049 135.858 326.299 147.599 294.068 156.507Z" stroke="black" stroke-width="2" mask="url(#path-11-inside-1)"/>
                    <path d="M294.068 156.507C271.008 162.877 242.533 167.215 211.507 169.188C198.89 169.989 185.848 170.403 172.578 170.403C159.352 170.403 146.354 169.994 133.775 169.193C102.7 167.226 74.1807 162.889 51.0874 156.507C18.8563 147.599 1.10627 135.858 1.10627 123.436C1.10807 122.339 1.24559 121.246 1.51572 120.182C4.33648 108.976 21.6884 98.4887 51.0874 90.3662C65.0277 86.6152 79.19 83.7418 93.4907 81.763C113.076 79.0258 132.797 77.3656 152.565 76.7901C159.159 76.5746 165.83 76.4678 172.578 76.4696C181.102 76.4696 189.531 76.6409 197.817 76.9724C218.079 77.7281 238.278 79.6653 258.314 82.7742C270.363 84.6456 282.299 87.1801 294.068 90.3662C323.462 98.4887 340.808 108.971 343.634 120.171C343.909 121.238 344.048 122.335 344.049 123.436C344.049 135.858 326.299 147.599 294.068 156.507Z" stroke="black" stroke-width="2" mask="url(#path-11-inside-1)"/>
                </g>
                <path id="Vector_6" d="M344.84 123.939C344.84 131.321 338.75 138.306 327.875 144.544C326.067 145.583 324.12 146.599 322.051 147.594C321.509 147.854 320.956 148.113 320.397 148.368C320.248 148.439 320.093 148.511 319.938 148.578C319.722 148.677 319.512 148.771 319.297 148.87C319.015 148.992 318.721 149.119 318.434 149.252C317.836 149.511 317.228 149.771 316.608 150.031C316.232 150.191 315.845 150.351 315.463 150.506C315.076 150.666 314.683 150.821 314.291 150.981C313.505 151.291 312.709 151.605 311.896 151.909C311.597 152.02 311.304 152.13 311.005 152.246C310.651 152.379 310.292 152.512 309.932 152.639C309.501 152.793 309.064 152.954 308.627 153.108C308.223 153.252 307.819 153.396 307.404 153.534C307.227 153.6 307.045 153.661 306.862 153.722C306.431 153.871 305.994 154.02 305.557 154.164C305.236 154.274 304.91 154.379 304.578 154.49C304.124 154.639 303.665 154.788 303.2 154.937C302.564 155.142 301.923 155.341 301.275 155.545C300.485 155.788 299.688 156.031 298.875 156.275C298.836 156.286 298.797 156.297 298.753 156.308C297.818 156.589 296.867 156.86 295.904 157.136C295.423 157.269 294.942 157.407 294.455 157.54C294.425 157.547 294.395 157.556 294.367 157.567C293.858 157.706 293.349 157.844 292.835 157.987C291.408 158.363 289.953 158.744 288.481 159.115C288.365 159.142 288.255 159.17 288.138 159.203C266.926 164.496 240.901 168.353 212.099 170.215C199.482 171.028 186.329 171.459 172.816 171.459C159.181 171.459 145.917 171.022 133.2 170.193C57.2879 165.248 0.791016 146.417 0.791016 123.939C0.796993 122.572 1.00569 121.212 1.41032 119.906C1.44354 120 1.47676 120.088 1.51565 120.182C9.40862 140.892 65.4248 157.628 138.107 161.712C149.241 162.341 160.774 162.668 172.578 162.668C184.432 162.668 196.008 162.336 207.187 161.706C279.808 157.606 335.769 140.864 343.634 120.171C343.767 119.839 343.883 119.508 343.983 119.176C344.544 120.702 344.834 122.314 344.84 123.939V123.939Z" fill="#3F3D56"/>
                <g id="circles">
                    <path id="Vector_7" d="M50.7055 117.992C41.4999 117.992 31.7161 116.013 31.7161 112.346C31.7161 108.679 41.4999 106.701 50.7055 106.701C59.9112 106.701 69.695 108.679 69.695 112.346C69.695 116.013 59.9112 117.992 50.7055 117.992ZM50.7055 107.806C40.1667 107.806 32.8223 110.199 32.8223 112.346C32.8223 114.494 40.1667 116.887 50.7055 116.887C61.2444 116.887 68.5887 114.494 68.5887 112.346C68.5887 110.199 61.2444 107.806 50.7055 107.806V107.806Z" fill="#3F3D56"/>
                    <path id="Vector_8" d="M89.9779 143.962C80.7724 143.962 70.9885 141.983 70.9885 138.316C70.9885 134.649 80.7724 132.671 89.9779 132.671C99.1836 132.671 108.967 134.649 108.967 138.316C108.967 141.983 99.1836 143.962 89.9779 143.962ZM89.9779 133.776C79.4391 133.776 72.0948 136.169 72.0948 138.316C72.0948 140.464 79.4391 142.856 89.9779 142.856C100.517 142.856 107.861 140.464 107.861 138.316C107.861 136.169 100.517 133.776 89.9779 133.776V133.776Z" fill="#3F3D56"/>
                    <path id="Vector_9" d="M294.084 117.992C284.879 117.992 275.095 116.013 275.095 112.346C275.095 108.679 284.879 106.701 294.084 106.701C303.29 106.701 313.074 108.679 313.074 112.346C313.074 116.013 303.29 117.992 294.084 117.992ZM294.084 107.806C283.546 107.806 276.201 110.199 276.201 112.346C276.201 114.494 283.546 116.887 294.084 116.887C304.623 116.887 311.968 114.494 311.968 112.346C311.968 110.199 304.623 107.806 294.084 107.806V107.806Z" fill="#3F3D56"/>
                    <path id="Vector_10" d="M254.812 143.962C245.606 143.962 235.822 141.983 235.822 138.316C235.822 134.649 245.606 132.671 254.812 132.671C264.017 132.671 273.801 134.649 273.801 138.316C273.801 141.983 264.017 143.962 254.812 143.962ZM254.812 133.776C244.273 133.776 236.929 136.169 236.929 138.316C236.929 140.464 244.273 142.856 254.812 142.856C265.35 142.856 272.695 140.464 272.695 138.316C272.695 136.169 265.35 133.776 254.812 133.776V133.776Z" fill="#3F3D56"/>
                    <path id="Vector_11" d="M172.395 156.118C163.189 156.118 153.406 154.139 153.406 150.472C153.406 146.805 163.189 144.827 172.395 144.827C181.601 144.827 191.384 146.805 191.384 150.472C191.384 154.139 181.601 156.118 172.395 156.118ZM172.395 145.932C161.856 145.932 154.512 148.325 154.512 150.472C154.512 152.62 161.856 155.013 172.395 155.013C182.934 155.013 190.278 152.62 190.278 150.472C190.278 148.325 182.934 145.932 172.395 145.932V145.932Z" fill="#3F3D56"/>
                </g>
                <path id="Vector_12" d="M254.823 119.004C230.352 117.993 199.583 117.888 169 117.888C132 117.993 113 117.993 90 117.993C90.0057 117.623 90.0111 117.252 90.0275 116.882C90.6673 95.3933 99.6961 75.0067 115.184 60.0799C130.672 45.1531 151.391 36.8702 172.911 37.0015C194.432 37.1329 215.048 45.668 230.352 60.7828C245.656 75.8975 254.435 96.3927 254.812 117.888C254.817 118.264 254.788 116.882 254.823 119.004Z" fill="#6C63FF"/>
            </g>
            <g id="rays">
                <path id="Vector_13" d="M147.134 273.73C146.84 273.73 146.559 273.614 146.351 273.406C146.144 273.199 146.027 272.918 146.027 272.625V207.424C146.027 207.131 146.144 206.85 146.351 206.643C146.559 206.435 146.84 206.319 147.134 206.319C147.427 206.319 147.708 206.435 147.916 206.643C148.123 206.85 148.24 207.131 148.24 207.424V272.625C148.24 272.918 148.123 273.199 147.916 273.406C147.708 273.614 147.427 273.73 147.134 273.73Z" />
                <path id="Vector_14" d="M130.54 332.301C130.246 332.301 129.965 332.184 129.757 331.977C129.55 331.77 129.433 331.489 129.433 331.196V283.676C129.433 283.383 129.55 283.102 129.757 282.895C129.965 282.687 130.246 282.571 130.54 282.571C130.833 282.571 131.114 282.687 131.322 282.895C131.529 283.102 131.646 283.383 131.646 283.676V331.196C131.646 331.489 131.529 331.77 131.322 331.977C131.114 332.184 130.833 332.301 130.54 332.301V332.301Z" />
                <path id="Vector_15" d="M173.131 293.07C172.838 293.07 172.556 292.953 172.349 292.746C172.141 292.539 172.025 292.258 172.025 291.964V226.763C172.025 226.47 172.141 226.189 172.349 225.982C172.556 225.775 172.838 225.658 173.131 225.658C173.424 225.658 173.706 225.775 173.913 225.982C174.121 226.189 174.237 226.47 174.237 226.763V291.964C174.237 292.258 174.121 292.539 173.913 292.746C173.706 292.953 173.424 293.07 173.131 293.07Z" />
                <path id="Vector_16" d="M157.09 340.036C156.797 340.036 156.515 339.92 156.308 339.713C156.1 339.505 155.984 339.224 155.984 338.931V312.409C155.984 312.116 156.1 311.834 156.308 311.627C156.515 311.42 156.797 311.304 157.09 311.304C157.384 311.304 157.665 311.42 157.872 311.627C158.08 311.834 158.196 312.116 158.196 312.409V338.931C158.196 339.224 158.08 339.505 157.872 339.713C157.665 339.92 157.384 340.036 157.09 340.036V340.036Z" />
                <path id="Vector_17" d="M179.769 204.109C179.475 204.109 179.194 203.992 178.986 203.785C178.779 203.578 178.662 203.297 178.662 203.004V176.481C178.662 176.188 178.779 175.907 178.986 175.7C179.194 175.493 179.475 175.376 179.769 175.376C180.062 175.376 180.343 175.493 180.551 175.7C180.758 175.907 180.875 176.188 180.875 176.481V203.004C180.875 203.297 180.758 203.578 180.551 203.785C180.343 203.992 180.062 204.109 179.769 204.109V204.109Z" />
                <path id="Vector_18" d="M124.455 215.712C124.162 215.712 123.88 215.596 123.673 215.389C123.465 215.181 123.349 214.9 123.349 214.607V188.085C123.349 187.792 123.465 187.511 123.673 187.303C123.88 187.096 124.162 186.98 124.455 186.98C124.749 186.98 125.03 187.096 125.237 187.303C125.445 187.511 125.561 187.792 125.561 188.085V214.607C125.561 214.9 125.445 215.181 125.237 215.389C125.03 215.596 124.749 215.712 124.455 215.712V215.712Z" />
                <path id="Vector_19" d="M220.701 218.475C220.407 218.475 220.126 218.359 219.918 218.151C219.711 217.944 219.594 217.663 219.594 217.37V190.848C219.594 190.555 219.711 190.273 219.918 190.066C220.126 189.859 220.407 189.743 220.701 189.743C220.994 189.743 221.275 189.859 221.483 190.066C221.69 190.273 221.807 190.555 221.807 190.848V217.37C221.807 217.663 221.69 217.944 221.483 218.151C221.275 218.359 220.994 218.475 220.701 218.475Z" />
                <path id="Vector_20" d="M218.488 301.358C218.194 301.358 217.913 301.241 217.706 301.034C217.498 300.827 217.382 300.546 217.382 300.253V268.205C217.382 267.912 217.498 267.631 217.706 267.423C217.913 267.216 218.194 267.1 218.488 267.1C218.781 267.1 219.063 267.216 219.27 267.423C219.478 267.631 219.594 267.912 219.594 268.205V300.253C219.594 300.546 219.478 300.827 219.27 301.034C219.063 301.241 218.781 301.358 218.488 301.358Z" />
                <path id="Vector_21" d="M196.363 329.538C196.069 329.538 195.788 329.421 195.58 329.214C195.373 329.007 195.256 328.726 195.256 328.433V280.913C195.256 280.62 195.373 280.339 195.58 280.132C195.788 279.925 196.069 279.808 196.363 279.808C196.656 279.808 196.937 279.925 197.145 280.132C197.352 280.339 197.469 280.62 197.469 280.913V328.433C197.469 328.726 197.352 329.007 197.145 329.214C196.937 329.421 196.656 329.538 196.363 329.538Z" />
                <path id="Vector_22" d="M200.788 248.313C200.494 248.313 200.213 248.196 200.005 247.989C199.798 247.782 199.681 247.501 199.681 247.208V182.007C199.681 181.714 199.798 181.433 200.005 181.225C200.213 181.018 200.494 180.902 200.788 180.902C201.081 180.902 201.362 181.018 201.57 181.225C201.777 181.433 201.894 181.714 201.894 182.007V247.208C201.894 247.501 201.777 247.782 201.57 247.989C201.362 248.196 201.081 248.313 200.788 248.313Z" />
            </g>
            <g id="c-2">
                <path id="arm-r_2" d="M336.412 387.057C337.995 385.732 335.856 380.574 331.633 375.536C327.41 370.497 322.703 367.486 321.119 368.811C319.536 370.135 321.676 375.293 325.899 380.332C330.122 385.37 334.829 388.381 336.412 387.057Z" fill="#2F2E41"/>
                <path id="head_2" d="M326.028 381.327C330.188 368.859 323.443 355.382 310.961 351.226C298.48 347.07 284.989 353.808 280.829 366.276C276.668 378.745 283.414 392.221 295.895 396.377C308.376 400.533 321.867 393.795 326.028 381.327Z" fill="#2F2E41"/>
                <g id="leg-r_2">
                    <path id="Vector_23" d="M313.511 392.478H306.274V405.431H313.511V392.478Z" fill="#2F2E41"/>
                    <path id="Vector_24" d="M307.48 407.84C310.811 407.84 313.511 406.829 313.511 405.581C313.511 404.333 310.811 403.322 307.48 403.322C304.149 403.322 301.449 404.333 301.449 405.581C301.449 406.829 304.149 407.84 307.48 407.84Z" fill="#2F2E41"/>
                </g>
                <g id="leg-l_2">
                    <path id="Vector_25" d="M299.037 392.478H291.8V405.431H299.037V392.478Z" fill="#2F2E41"/>
                    <path id="Vector_26" d="M293.006 407.539C296.337 407.539 299.037 406.528 299.037 405.28C299.037 404.032 296.337 403.021 293.006 403.021C289.675 403.021 286.975 404.032 286.975 405.28C286.975 406.528 289.675 407.539 293.006 407.539Z" fill="#2F2E41"/>
                </g>
                <path id="arm-l_2" d="M286.135 370.959C284.875 369.325 279.634 371.258 274.427 375.277C269.221 379.295 266.021 383.878 267.28 385.512C268.54 387.147 273.781 385.214 278.988 381.195C284.194 377.177 287.394 372.594 286.135 370.959Z" fill="#2F2E41"/>
                <path id="eye-o_2" d="M299.867 376.714C304.253 376.714 307.809 373.162 307.809 368.78C307.809 364.399 304.253 360.847 299.867 360.847C295.48 360.847 291.925 364.399 291.925 368.78C291.925 373.162 295.48 376.714 299.867 376.714Z" fill="white"/>
                <path id="eye-i_2" d="M295.647 372.289C297.11 372.289 298.295 371.105 298.295 369.645C298.295 368.184 297.11 367 295.647 367C294.185 367 293 368.184 293 369.645C293 371.105 294.185 372.289 295.647 372.289Z" fill="#3F3D56"/>
                <path id="mouth_2" d="M299.798 388.661C301.631 388.661 306 386.331 306 384.5C306 382.669 301.631 384.5 299.798 384.5C297.965 384.5 295 382.669 295 384.5C295 386.331 297.965 388.661 299.798 388.661Z" fill="white"/>
            </g>
        </g>
        <defs>
            <clipPath id="clip0">
                <rect width="372" height="408" fill="white"/>
            </clipPath>
        </defs>
    </svg>
</div>