.ufo-wrap{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  & #spaceship{
    animation: spaceship 10s ease-in-out;
  }
  @keyframes spaceship {
    0%, 100%{
      transform: translateY(-200px);
    }
    30%{
      transform: translateY(50px);
    }
    70%{
      transform: translateY(50px);
    }
  }
  #rays{
    animation: rays 10s linear;
    transform: translateY(50px);
  }
  @keyframes rays {
    0%, 30%{
      opacity: 0;
      fill: yellow;
    }
    35%, 45%, 55%, 65%{
      opacity: 1;
      fill: red;
    }
    40%, 50%, 60%{
      fill: #6C63FF;
    }
    70%, 100%{
      opacity: 0;
    }
  }
  & #c-1{
    animation: c1 10s linear;
  }
  @keyframes c1 {
    35%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(-455px);
    }
  }
  & #arm-l{
    animation: armLeft 10s linear;
    transform-origin: right top;
    transform-box: fill-box;
  }
  @keyframes armLeft {
    35%{
      transform: rotate(0);
    }
    40%, 100%{
      transform: rotate(70deg);
    }

  }

  & #arm-r{
    animation: armRight 10s linear;
    transform-origin: left top;
    transform-box: fill-box;
  }
  @keyframes armRight {
    35%{
      transform: rotate(0);
    }
    40%, 100%{
      transform: rotate(-70deg);
    }

  }
  & #leg-l, #leg-r{
    animation: legRightLeft 10s linear;
    transform-origin: top;
    transform-box: fill-box;
  }
  @keyframes legRightLeft {
    35%{
      transform: rotate(0);
    }
    40%, 44%, 48%, 52%, 56%, 60%{
      transform: rotate(20deg);
    }
    42%, 46%, 50%, 54%, 58%, 62%{
      transform: rotate(-20deg);
    }
  }
  #mouth {
    animation: mouth1 10s linear;
  }

  @keyframes mouth1 {
    25%,
    100% {
      d: path(
       "M178.812 386.362C179.064 387.742 178.756 389.166 177.957 390.319C177.158 391.473 175.933 392.262 174.551 392.513C173.17 392.764 171.745 392.457 170.59 391.659C169.435 390.861 168.645 389.637 168.394 388.257L168.392 388.247C167.871 385.372 170.096 384.355 172.973 383.835C175.851 383.314 178.291 383.488 178.812 386.362Z"
      );
    }
  }
  #mouth_2 {
    animation: mouth2 10s linear;
  }

  @keyframes mouth2 {
    35%,
    100% {
      d: path(
                      "M299.799 388.661C301.631 388.661 303.117 387.176 303.117 385.345C303.117 383.514 301.631 382.03 299.799 382.03C297.966 382.03 296.48 383.514 296.48 385.345C296.48 387.176 297.966 388.661 299.799 388.661Z"
      );
    }
  }
  #eye-i {
    animation: eye1 10s linear;
  }

  @keyframes eye1 {
    25%,
    100% {
      transform: translate(-5px,-5px);
    }
  }
  #eye-i_2 {
    animation: eye2 10s linear;
  }

  @keyframes eye2 {
    25%,
    100% {
      transform: translate(-1px,-5px);
    }
  }
  #arm-l_2{
    animation: c2arm 10s linear;
    transform-origin: right top;
    transform-box: fill-box;
  }

  @keyframes c2arm{
    40%{
      transform: rotate(0);
    }
    45%,100%{
      transform: rotate(70deg);
    }
  }
}