<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:600px;mso-table-lspace:0px;mso-table-rspace:0px;" width="100%">

    <tr>
        <td align="center" valign="top" class="">
            <!--[if (gte mso 9)|(IE)]><table width="600" border="0" cellspacing="0" cellpadding="0"><tr><td><![endif]-->
            <div align="center" max-width="600">
                <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="max-width:600px;min-width:600px;mso-table-lspace:0px;mso-table-rspace:0px;" width="600">
                    <tr>
                        <td align="center">

                            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;mso-table-lspace:0px;mso-table-rspace:0px;" width="600">
                                <tr>
                                    <td style="font-size:11px;line-height:15px;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;color:#7d7d7d;text-align:left;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px">
                                        Создаем новую лимитированную коллекцию вместе!</td>
                                    <td style="font-size:11px;line-height:15px;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;color:#7d7d7d;text-align:right;padding-top:5px;padding-bottom:5px;padding-right:5px">
                                        Если письмо отображается некорректно, нажмите <a href="https://view.mc.iqos.ru/?qs=b5789962cd05388a2456e977d04fe881345f26f8b851e1d11bb21acf1085cfeaebe0add35e82f8ebb0142b938b1299a96092e24cffdfdda35560b4c5b6d71eadfcdbda11a070e131" style="color:#d6a86d;text-decoration:underline;" target="_blank">здесь</a></td>
                                </tr>
                            </table>

                            <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tr><td class="stylingblock-content-wrapper camarker-inner"><table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="600">
                                            <tr>
                                                <td align="center" style="padding-top: 15px; padding-bottom: 15px;padding-left: 25px;padding-right: 25px;">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="550">
                                                        <tr>
                                                            <td align="center" style="padding-bottom: 15px;">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="550">
                                                                    <tr>
                                                                        <td align="left">
                                                                            <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea27faed2d6f90ecc5e25dea8c36ab42715260f9ca1f8a6c9a8afba76f17da77625b470dc049bb1180a636f4503d65d791669259202a2356bf" target="_blank">
                                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/8d962eac-3109-4755-a98c-2e0d48c48b12.png" style="display: block;box-sizing: border-box;border: none; width: 110px; height: 35px;" width="110" height="35" alt="IQOS">
                                                                            </a>
                                                                        </td>
                                                                        <td align="right" style="font-size:14px; line-height:17px; font-weight: 800; font-family: Verdana, Arial, Helvetica, sans-serif; color:#34303D;letter-spacing: 0.25px;text-align: right;">
                                                                            <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea88f3b0c0e0ba7885d5382b5bf4a29d559e30526aab713724326830049daa43fcb0e098b047c3d5f4e57c7bdb516d17ec4d4c4bc7b4313f76" style="color:#34303D;text-decoration: underline;" target="_blank">
                                                                                Персональная страница
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;border-top: 0.5px solid #E0E0E0;" width="550">
                                                                    <tr>
                                                                        <td align="center" style="padding-top: 15px;">
                                                                            <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60eacd887b16d791ac76b3c870e56318f0e3fbffd4f2b277349ad3b445b146114bf75ce3cad863d210d436e872fa5a0145f506a5640d0bda83a3" target="_blank">
                                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/005beb1d-c216-44d6-a32b-9484fbf8c154.png" style="display: block;box-sizing: border-box;border:none; width: 140px; height: 17px;" width="140" height="17" alt="Перейти в каталог">
                                                                            </a>
                                                                        </td>
                                                                        <td align="center" style="padding-top: 15px;">
                                                                            <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea35e96399a2156d676f385494856daa087120328c391d532cd7fd09f3aea3b5c77223329bfed945df7c43892c91bd59589ef476a5ca9f031b" target="_blank">
                                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/73f877c4-ec0d-473c-a014-b167ac7efd7f.png" style="display: block;box-sizing: border-box;border:none; width: 65px; height: 17px;" width="65" height="17" alt="myIQOS">
                                                                            </a>
                                                                        </td>
                                                                        <td align="center" style="padding-top: 15px;">
                                                                            <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea8707b1a24070a8ca71690392b01bb2092fb43d46f749298242d116edb0d6b73cdba93dd2f62e09bce5de9587c9dab8f4c3fba014f40a6869" target="_blank">
                                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/68570578-3ab6-4f0e-890c-3938fce46dca.png" style="display: block;box-sizing: border-box;border:none; width: 140px; height: 17px;" width="140" height="17" alt="Адреса магазинов">
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table></td></tr></table>

                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                <tr>
                                    <td align="center">
                                        <table bgcolor="#31B6E0" align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;width:600px;background:linear-gradient(180deg,#1dbecf 0%,#2fcede 3.39%,#31b6e0 17.11%,#54c3e7 42.23%)">
                                            <tr>
                                                <td align="center" width="600" height="2722" background="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/3a02c716-2eeb-4818-a81a-0d2c0acad8fc.png" style="background-image:url(https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/3a02c716-2eeb-4818-a81a-0d2c0acad8fc.png);background-repeat:no-repeat;background-position:center top;width:600px;height:2722px">

                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:600px;height:2722px">
                                                        <tr>
                                                            <td valign="top" align="center" width="600">
                                                                <table valign="top" align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;width:600px">

                                                                    <tr>
                                                                        <td align="left">
                                                                            <table align="left" border="0" width="600" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:600px">
                                                                                <tr>
                                                                                    <td align="left" style="padding-bottom:39px">
                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">

                                                                                            <tr>
                                                                                                <td align="center">
                                                                                                    <a href="#"><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/7cc552c7-b520-4995-a802-d1c3774ab2d2.png" alt="IQOS INSIDER" style="display:block;box-sizing:border-box;border:none" width="600" height="229" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:WzAsMl0."></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center">
                                                                                                    <a href="#"><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/61c93945-5c2d-4450-9491-56c94fa9768d.png" alt="IQOS на каждый день " style="display:block;box-sizing:border-box;border:none" width="431" height="100" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:WzAsMl0."></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td align="center" width="600">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;width:600px">
                                                                                <tr>
                                                                                    <td align="center" width="600" height="372" background="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/1f33c770-b7d5-49f0-8365-efe49e83a817.png" style="background-image:url(https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/1f33c770-b7d5-49f0-8365-efe49e83a817.png);background-repeat:no-repeat;background-position:center center;width:600px;height:372px">

                                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:600px;height:372px">
                                                                                            <tr>
                                                                                                <td align="center">
                                                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                                                                        <tr>
                                                                                                            <td align="center" style="padding-top:20px">
                                                                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/d6ce4e27-6212-41bd-907b-91b77603863b.png" alt="ВЕСЬ СМЫСЛ В ДЕТАЛЯХ" style="display:block;box-sizing:border-box;border:none" width="431" height="31" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:WzAsMl0.">
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td align="center" style="color:#34303d;letter-spacing:0.4px;line-height:25px;font-size:18px!important;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;font-weight:300!important;padding-right:90px;padding-left:90px;padding-top:20px">
                                                                              <span style="letter-spacing:0.4px;line-height:25px;font-size:18px;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;font-weight:300">
                                                                                  Аксессуары&nbsp;— это красота в&nbsp;деталях. Расстановка акцентов. Способ подчеркнуть стиль Вашего устройства. Какие аксессуары сделают Вашу жизнь c&nbsp;<span class="il">IQOS</span> ярче?
                                                                              </span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td align="center">
                                                                                                                <a href="#" target="_blank" ><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/4c90934b-91c4-4dcd-ba12-edbea619a3a5.png" alt="Тест «Гид по аксессуарам»" style="display:block;box-sizing:border-box;border:none" width="460" height="100"></a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>

                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td align="center" width="600">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;width:600px">
                                                                                <tr>
                                                                                    <td align="center" width="538" height="358" background="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/aef89a77-ad08-41cb-a7c3-221b77086226.png" style="background-image:url(https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/aef89a77-ad08-41cb-a7c3-221b77086226.png);background-repeat:no-repeat;background-position:center center;width:538px;height:358px">

                                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:538px;height:358px">
                                                                                            <tr>
                                                                                                <td align="left" width="352">
                                                                                                    <table align="left" border="0" cellpadding="0" width="352" cellspacing="0" style="border-collapse:collapse">
                                                                                                        <tr>
                                                                                                            <td align="left" style="padding-left:34px;padding-bottom:15px">
                                                                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/bc750734-58d6-48ee-87c1-d703020ad68c.png" alt="В ДВИЖЕНИИ" style="display:block;box-sizing:border-box;border:none" width="269" height="73">
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td align="left" style="color:#191919;letter-spacing:0.3px;line-height:24px;font-size:17px!important;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;font-weight:300!important;padding-left:34px;padding-right:30px;padding-bottom:10px">
                                                                              <span style="letter-spacing:0.2px;line-height:24px;font-size:17px;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;font-weight:300">
                                                                                  Согласитесь, мы&nbsp;часто проводим в&nbsp;дороге много времени. И&nbsp;когда мы&nbsp;в&nbsp;движении (читайте: в&nbsp;пробке, метро, в&nbsp;такси или на&nbsp;прогулке), нам важно, чтобы все нужное было всегда под рукой.
                                                                              </span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                                <td align="right" width="186">
                                                                                                    <table align="right" border="0" width="186" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:186px">
                                                                                                        <tr>
                                                                                                            <td align="right">
                                                                                                                <a href="#" target="_blank"><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/15/657d8040-a53e-42a9-9dbb-5835bd115e93.gif" alt="В ДВИЖЕНИИ" style="display:block;box-sizing:border-box;border:none" width="186" height="358"></a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>

                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td align="center" width="600" style="padding-top:16px">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;width:600px">
                                                                                <tr>
                                                                                    <td align="center" width="538" height="368" background="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/74e3a3d1-7641-4f0e-887b-4cd370c05820.png" style="background-image:url(https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/74e3a3d1-7641-4f0e-887b-4cd370c05820.png);background-repeat:no-repeat;background-position:center center;width:538px;height:368px">

                                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:538px;height:368px">
                                                                                            <tr>
                                                                                                <td align="left" width="245">
                                                                                                    <table align="left" border="0" width="245" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:245px">
                                                                                                        <tr>
                                                                                                            <td align="left">
                                                                                                                <a href="#" target="_blank"><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/15/657d8040-a53e-42a9-9dbb-5835bd115e93.gif" alt="Там, где уют" style="display:block;box-sizing:border-box;border:none" width="245" height="368"></a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                                <td align="left" width="293">
                                                                                                    <table align="left" border="0" cellpadding="0" width="293" cellspacing="0" style="border-collapse:collapse">
                                                                                                        <tr>
                                                                                                            <td align="left" style="padding-bottom:20px">
                                                                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/ec50e73d-1357-4519-8ed9-9336ed887dfc.png" alt="Там, где уют" style="display:block;box-sizing:border-box;border:none" width="258" height="68">
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td align="left" style="color:#191919;letter-spacing:0.3px;line-height:24px;font-size:17px!important;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;font-weight:300!important;padding-right:30px">
                                                                              <span style="letter-spacing:0.2px;line-height:24px;font-size:17px;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;font-weight:300">
                                                                                Любимый интерьер всегда можно дополнить практичными и&nbsp;стильными элементами.
Возвращаться домой вдвойне приятнее, когда знаешь, что там царит атмосфера уюта и&nbsp;комфорта.
                                                                              </span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>

                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td align="center" width="600" style="padding-top:16px">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;width:600px">
                                                                                <tr>
                                                                                    <td align="center" width="538" height="366" background="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/2a0438ca-9f80-4d49-b57c-46ad453a0ca0.png" style="background-image:url(https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/2a0438ca-9f80-4d49-b57c-46ad453a0ca0.png);background-repeat:no-repeat;background-position:center center;width:538px;height:366px">

                                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:538px;height:366px">
                                                                                            <tr>
                                                                                                <td align="left" width="352">
                                                                                                    <table align="left" border="0" cellpadding="0" width="352" cellspacing="0" style="border-collapse:collapse">
                                                                                                        <tr>
                                                                                                            <td align="left" style="padding-left:34px;padding-bottom:26px">
                                                                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/fedb20a5-1ece-4bcb-8705-b8d9b6ed2a26.png" alt="Ваш IQOS - Ваш стиль" style="display:block;box-sizing:border-box;border:none" width="235" height="110">
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td align="left" style="color:#191919;letter-spacing:0.3px;line-height:24px;font-size:17px!important;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;font-weight:300!important;padding-left:34px;padding-right:30px;padding-bottom:20px">
                                                                              <span style="letter-spacing:0.2px;line-height:24px;font-size:17px;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;font-weight:300">
                                                                                Хотите создать свой уникальный <span class="il">IQOS</span>? У&nbsp;нас есть решение&nbsp;— аксессуары и&nbsp;комплектующие для кастомизации устройства. Яркий или спокойный цвет&nbsp;— решать Вашему настроению!
                                                                              </span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                                <td align="right" width="186">
                                                                                                    <table align="right" border="0" width="186" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:186px">
                                                                                                        <tr>
                                                                                                            <td align="right">
                                                                                                                <a href="#" target="_blank"><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/15/657d8040-a53e-42a9-9dbb-5835bd115e93.gif" alt="Ваш IQOS - Ваш стиль" style="display:block;box-sizing:border-box;border:none" width="186" height="366" class="CToWUd" data-bit="iit" jslog="138226; u014N:xr6bB; 53:WzAsMl0."></a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>

                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td align="center" width="600" style="padding-top:52px">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;width:600px">
                                                                                <tr>
                                                                                    <td valign="bottom" align="left" width="414">
                                                                                        <table valign="bottom" align="left" border="0" cellpadding="0" width="414" cellspacing="0" style="border-collapse:collapse">
                                                                                            <tr>
                                                                                                <td align="left" style="padding-left:34px;padding-top:10px">
                                                                                                    <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/70a10762-d833-4d3b-8351-10ac4f412549.png" alt="выпуска №2" style="display:block;box-sizing:border-box;border:none" width="352" height="107">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="left" style="color:#191919;letter-spacing:0.3px;line-height:24px;font-size:17px!important;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;font-weight:300!important;padding-left:34px;padding-right:50px;padding-bottom:25px">
                                                                              <span style="letter-spacing:0.2px;line-height:24px;font-size:17px;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;font-weight:300">
                                                                              в&nbsp;котором мы&nbsp;расскажем о&nbsp;новой коллекции аксессуаров и&nbsp;весенней распродаже.
                                                                              </span>
                                                                                                </td>
                                                                                            </tr>

                                                                                            <tr>
                                                                                                <td align="left" style="padding-left:34px">
                                                                                                    <a href="#" style="text-decoration:underline;color:#191919" target="_blank"><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/25023f60-f7b5-43d3-93f2-d3c4aefb2e88.png" alt="Оригинальные аксессуары IQOS" style="display:block;box-sizing:border-box;border:none" width="248" height="53"></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="left" style="color:#191919;letter-spacing:0.3px;line-height:24px;font-size:17px!important;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;font-weight:300!important;padding-left:34px;padding-right:90px;padding-bottom:20px">
                                                                              <span style="letter-spacing:0.2px;line-height:24px;font-size:17px;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;font-weight:300">
                                                                                  на каждый день – только на <a href="#" style="text-decoration:underline;color:#191919" target="_blank"><span class="il">iqos</span>.com</a> и в фирменных магазинах <a href="#" style="text-decoration:underline;color:#191919" target="_blank" >Q STORE</a> и магазинах -партнерах <a href="#" style="text-decoration:underline;color:#191919" target="_blank">Q PARTNER</a>.
                                                                              </span>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                    <td align="right" width="186">
                                                                                        <table align="right" border="0" width="186" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:186px">
                                                                                            <tr>
                                                                                                <td align="right">
                                                                                                    <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/15/657d8040-a53e-42a9-9dbb-5835bd115e93.gif" alt="на каждый день" style="display:block;box-sizing:border-box;border:none" width="186" height="435">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td align="center" width="600">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;width:600px">
                                                                                <tr>
                                                                                    <td align="center" width="600" height="325" background="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/3eaaa8ae-7543-4669-8bf7-21c55dd468c9.png" style="background-image:url(https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/3eaaa8ae-7543-4669-8bf7-21c55dd468c9.png);background-repeat:no-repeat;background-position:center center;width:600px;height:325px">

                                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:600px;height:325px">
                                                                                            <tr>
                                                                                                <td align="left" width="277">
                                                                                                    <table align="left" border="0" width="277" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:277px">
                                                                                                        <tr>
                                                                                                            <td align="left">
                                                                                                                <a href="#" target="_blank"><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/a03a41fa-d6da-4d66-81d8-3297456c320d.png" alt="Будьте в курсе последних новостей" style="display:block;box-sizing:border-box;border:none" width="277" height="325"></a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                                <td align="right" width="323">
                                                                                                    <table align="right" border="0" cellpadding="0" width="323" cellspacing="0" style="border-collapse:collapse">
                                                                                                        <tr>
                                                                                                            <td align="right" style="padding-right:64px">
                                                                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/1156e798-0888-4b84-805c-82eea4bcbfc8.png" alt="Будьте в курсе последних новостей" style="display:block;box-sizing:border-box;border:none" width="247" height="46">
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td align="right" style="color:#191919;letter-spacing:0.3px;line-height:26px;font-size:19px!important;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;font-weight:300!important;padding-top:5px;padding-bottom:15px;padding-right:64px">
                                                                              <span style="letter-spacing:0.2px;line-height:26px;font-size:19px;font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;font-weight:300">
                                                                             <span class="il">IQOS</span> и&nbsp;не&nbsp;пропустите<br> самое интересное
                                                                              </span>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td align="right" style="padding-right:64px">
                                                                                                                <a href="#" target="_blank"><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/18/fa8255c3-0a89-4c54-b84c-4d57493b3bf8.png" alt="Подписаться" style="display:block;box-sizing:border-box;border:none" width="231" height="51"></a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>

                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;mso-table-lspace:0px;mso-table-rspace:0px;" width="600">


                                <tr>
                                    <td align="center" bgcolor="#ffffff" style="padding-top:0px;padding-bottom:0px">
                                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tr><td class="stylingblock-content-wrapper camarker-inner"><table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;border-top: 1px solid #E0E0E0" width="600">
                                                        <tr>
                                                            <td align="center" style="font-family:noto-sans,Helvetica,Verdana,Arial,sans-serif;color:#34303D;text-align:center;font-size:18px;line-height:25px;font-weight:500; padding-top:30px;padding-bottom: 30px;" width="400">
                                                                Была&nbsp;ли рассылка полезна для Вас?
                                                            </td>
                                                            <td width="200" style="padding-top:30px;padding-bottom: 30px;">
                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;">
                                                                    <tr>
                                                                        <td align="center" width="80">
                                                                            <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea7713ab2eea14973632f8f6b287b7ca13a330a43408dba7e870ad63263921c40d82ae4be97d90a683cd0e95c834a31e3d1e9379c949047a5b" target="_blank">
                                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/dd772196-a0ca-4fc0-a0b4-2d876f62daa1.png" style="display: block;box-sizing: border-box;border: none; width: 60px; height: 25px;" width="60" height="25" alt="Да">
                                                                            </a>
                                                                        </td>
                                                                        <td align="center" width="80">
                                                                            <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea49aa595f98df89b2aeac3e9dab3a7c6502af8cee865ad1b2a546b020949b221cd9b8b5fb8970480bf035e618b4c092e4a1c2d90c13b392be" target="_blank">
                                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/8fbc54db-3c78-4273-a0f0-7386b34360e9.png" style="display: block;box-sizing: border-box;border: none; width: 60px; height: 25px;" width="60" height="25" alt="Нет">
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table></td></tr></table>
                                    </td>
                                </tr>


                                <tr>
                                    <td align="center" bgcolor="#ffffff" style="padding-top:10px;padding-bottom:20px">
                                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tr><td class="stylingblock-content-wrapper camarker-inner"><table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="600" bgcolor="#34303D">
                                                        <tr>
                                                            <td align="center" style="padding-left: 30px;padding-right: 30px;padding-top: 20px;padding-bottom: 20px;">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="540">
                                                                    <tr>
                                                                        <td align="center" width="108">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;">
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ead8c43bc6ce23fe23a3d951b3fb5df0ab1086f503a262c151bdc2bfa24b7f484407b7a1f48405f418a52443773f35c9817329331358c7646c" target="_blank">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/de4e49b3-f939-4659-85eb-50d2593f47cd.png" style="display: block;box-sizing: border-box;border: none; width: 45px; height: 45px;" width="45" height="45" alt="Перейти в каталог">
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center" style="font-size:12px; line-height:14px; font-weight: 400; color:#f8f7f3; font-family: Verdana, Arial, Helvetica, sans-serif; text-align:center;padding-top: 10px;letter-spacing: 0.5px;">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea3c37e57f56ecfb8596acbdf91ce5e55bf620d70acd39ee3a1a4d5a66c3d541cb4632a664382d5baded16d6c804107fb8d80308d97e88ee11" style="color:#f8f7f3;text-decoration: none;">
                                                                                            Перейти
                                                                                            <br>в каталог
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td align="center" width="108">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;">
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ead12155ffe425334a72b0557873fdb77f35a2d1b9cb13e233542251cbaf6cad56bb3b3f06df8d9871bc6fc235f54e736af1346b3501f87ec6" target="_blank">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/b91c39cf-faed-42d3-b919-178620eee6d3.png" style="display: block;box-sizing: border-box;border: none; width: 45px; height: 45px;" width="45" height="45" alt="Все адреса">
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center" style="font-size:12px; line-height:14px; font-weight: 400; color:#f8f7f3; font-family: Verdana, Arial, Helvetica, sans-serif; text-align:center;padding-top: 10px;letter-spacing: 0.5px;">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60eaf674c0149e3b1d8c66c0729e280a1b35023f4f2721548eb40104cf4f239fcb0656eddc12212a38daf992bb2d90cdb908b3e4a219fcabe6d8" style="color:#f8f7f3;text-decoration: none;">
                                                                                            Все
                                                                                            <br>адреса
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td align="center" width="108">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;">
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea83337b2f235f20a193a6ce457a1b2a9c75861be0ffb85e02898520509118ce89b0df0d5bd97ddbde49323e2fb14d7be9161440d068abcc94" target="_blank">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/fc76e8a9-e2f2-4241-9db0-559dff21eb5f.png" style="display: block;box-sizing: border-box;border: none; width: 45px; height: 45px;" width="45" height="45" alt="Все об IQOS">
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center" style="font-size:12px; line-height:14px; font-weight: 400; color:#f8f7f3; font-family: Verdana, Arial, Helvetica, sans-serif; text-align:center;padding-top: 10px;letter-spacing: 0.5px;">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60eaec08db288af502e0490b745511768da692f7626dfc3675a23982a4c6c690363dffe1e5293446ed7db71e275aa23e89d52bb0c9babc945727" style="color:#f8f7f3;text-decoration: none;">
                                                                                            Все
                                                                                            <br>об IQOS
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td align="center" width="108">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;">
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea0fe2150f4695c6ec81d9343f46b175e72a29144d286e7b7845247fae0a788ecec19b1ac1eb6ec8f31126e89bbed5052ef172e353662eca45" target="_blank">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/6ef8fcbd-e190-465f-81a9-6c26297b7fb5.png" style="display: block;box-sizing: border-box;border: none; width: 45px; height: 45px;" width="45" height="45" alt="Написать в чат">
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center" style="font-size:12px; line-height:14px; font-weight: 400; color:#f8f7f3; font-family: Verdana, Arial, Helvetica, sans-serif; text-align:center;padding-top: 10px;letter-spacing: 0.5px;">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60eaf8ebeac0e0e1e6fdee90af3b6d6ea68041d40afec82eb1b424e01fa66eaf1eeb6d16a6f1ae5fd5a38cd1b4aebbc87da49d1accb9b4a7546b" style="color:#f8f7f3;text-decoration: none;">
                                                                                            Написать
                                                                                            <br>в чат
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td align="center" width="108">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;">
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea162fca7add473bb80728dcd31ee8f497e9fd524e65765350656b72a4425a009bddc1c243d0b6115b79d09cc08b0f7cac0082dd297305cae4" target="_blank">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/a18f1c30-05a0-4437-82bd-7295a9cdcd7f.png" style="display: block;box-sizing: border-box;border: none; width: 45px; height: 45px;" width="45" height="45" alt="Онлайн-диагностика">
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center" style="font-size:12px; line-height:14px; font-weight: 400; color:#f8f7f3; font-family: Verdana, Arial, Helvetica, sans-serif; text-align:center;padding-top: 10px;letter-spacing: 0.5px;">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60eab529edba7779b37db2c22807a729080b71b13a3a65235d35e90707c10b6fa2b17e0d176fa112a93b5c23a4c844e88890a814a1b3ccdf97e1" style="color:#f8f7f3;text-decoration: none;">
                                                                                            Онлайн-
                                                                                            <br>диагностика
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;border-bottom: 1px solid #E0E0E0;" width="600" bgcolor="#ffffff">
                                                        <tr>
                                                            <td style="padding-top: 15px;padding-bottom: 30px;padding-left: 15px;padding-right: 15px;">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="570">
                                                                    <tr>
                                                                        <td align="center">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="570">
                                                                                <tr>
                                                                                    <td align="left">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60eafd0aa416a846af2130df0bfea72c625632de585b5a6378b78ea15b4d5f71cd6bcfea7d111d7305f09241741e56bb86b36f1c778e70ba8e46" target="_blank">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/b07fc390-c7df-470d-b4f7-d77734584a6e.png" style="display: block;box-sizing: border-box;border: none; width: 85px; height: 22px;" width="85" height="22" alt="IQOS">
                                                                                        </a>
                                                                                    </td>
                                                                                    <td align="right">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea548df0ceadd939cfa5d030e46a354cfa7b9cc961d4f8c6057dd55a82480a98bb74e7abc50b90046feef421203c4559a74ed6aff2ab7b94fe" target="_blank" style="text-decoration: none;padding-left: 5px;">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/3a485c94-b222-47ee-b1a1-c58297fd87d2.png" style="display: inline-block;box-sizing: border-box;border: none; width: 25px; height: 25px;" width="25" height="25" alt="Telegram">
                                                                                        </a>
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea7d6d1b7046ae7e920653bf28b48ad78ab9d0456d1423633ac9321ef30407a3e499bd64948d3e86925198ccb3796757f6" target="_blank" style="text-decoration: none;padding-left: 5px;">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/6749dbf1-1f92-402e-bf71-4de8c291e397.png" style="display: inline-block;box-sizing: border-box;border: none; width: 25px; height: 25px;" width="25" height="25" alt="Viber">
                                                                                        </a>
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea3e393231236dbc05c6771197148d9ed71235351b0a1be311742a149aa1a3f1602a871212a6df4c796534c103188f4fae" target="_blank" style="text-decoration: none;padding-left: 5px;">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/d064745c-3c8f-4ab4-9903-6b5924249f62.png" style="display: inline-block;box-sizing: border-box;border: none; width: 25px; height: 25px;" width="25" height="25" alt="Telegram">
                                                                                        </a>
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60eaf69e27f40f010ab4a7f4d82d8d3ff8fc79729c65f07cdd470b1ce16f83a1648d81e121090fc55bc69c2415663bf63caa" target="_blank" style="text-decoration: none;padding-left: 5px;">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/c121f574-e091-4890-b3c2-413b957d80a0.png" style="display: inline-block;box-sizing: border-box;border: none; width: 25px; height: 25px;" width="25" height="25" alt="Instagram">
                                                                                        </a>
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea9b4a48976b5f48caed65c575bd6fa2bd451d210d400068243b5a7fd1a6c558161bef73368d3cb4162a82264872951f4c" target="_blank" style="text-decoration: none;padding-left: 5px;">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/a02cf463-fa86-4d29-80b4-6c1dabc98d95.png" style="display: inline-block;box-sizing: border-box;border: none; width: 25px; height: 25px;" width="25" height="25" alt="VK">
                                                                                        </a>
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea08fe32fc635e92eda26a83be06efa54e0a7a7337da3d2e73df0e97ea2320de319ce344cf0ddc96c811984c535be38b80" target="_blank" style="text-decoration: none;padding-left: 5px;">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/7e844e09-e760-4773-9e8b-9aca16ed07b7.png" style="display: inline-block;box-sizing: border-box;border: none; width: 25px; height: 25px;" width="25" height="25" alt="Facebook">
                                                                                        </a>
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea2b44ee02b6be37e988fe028f6bfeb3e690d6806b055a4070d4b531a6592a7841227ad9d10479ddb7b4a9a025bd6bf234" target="_blank" style="text-decoration: none;padding-left: 5px;">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/b96778ab-a3bf-45b1-ae96-59c107939f3a.png" style="display: inline-block;box-sizing: border-box;border: none; width: 28px; height: 25px;" width="28" height="25" alt="YouTube">
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" style="padding-top: 10px;">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="570">
                                                                                <tr>
                                                                                    <td align="left" style="font-size:11px; line-height:13px; font-weight: 300; font-family: Verdana, Arial, Helvetica, sans-serif; color:#34303D;letter-spacing: 0.25px;text-align: left;">
                                                                                        Информация предоставлена табачной компанией
                                                                                    </td>
                                                                                    <td align="right" style="font-size:13px; line-height:13px; font-weight: 800; font-family: Verdana, Arial, Helvetica, sans-serif; color:#34303D;letter-spacing: 0.25px;text-align: right;">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea227fca3003c40675eff7ebee07af94cb9f979c35181ab7497fa4071d790f781c78a2cf78566dc9bc235caad2d854e18efecb71870930a9a2" style="color:#34303D;text-decoration: underline;" target="_blank">
                                                                                            www.iqos.com
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table></td></tr></table>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="center">
                                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;mso-table-lspace:0px;mso-table-rspace:0px;" width="570">
                                            <tr>
                                                <td class="" style="padding-bottom:24px;font-size:11px; line-height:16px; font-family: Verdana, Arial, Helvetica, sans-serif; color:#969696;text-align:justify;padding-top:0px">
                                                    *аксессуары и комлектующие

                                                    <br>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>


                                <tr>
                                    <td align="center" style="padding-top:0px">
                                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tr><td class="stylingblock-content-wrapper camarker-inner"><table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="600">
                                                        <tr>
                                                            <td align="center" style="padding-left: 15px;padding-right: 15px;padding-top: 0px;">
                                                                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="570">
                                                                    <tr>
                                                                        <td style="font-size:11px; line-height:16px; font-weight: 300; font-family: Verdana, Arial, Helvetica, sans-serif; color:#969696; text-align:justify;">
                                                                            Вы&nbsp;получили это сообщение, так как подтвердили свое согласие компании ООО «Филип Моррис Сэйлз энд Маркетинг» на&nbsp;получение сообщений. Это персональное сообщение адресовано исключительно Вам и&nbsp;не&nbsp;должно быть переадресовано другим лицам. Данная информация предназначена только для лиц старше 18&nbsp;лет, которые являются потребителями табачной и/или никотиносодержащей продукции и&nbsp;проживают на&nbsp;территории РФ. Если Вы&nbsp;не&nbsp;хотите получать информацию от&nbsp;компании ООО «Филип Моррис Сэйлз энд Маркетинг», то&nbsp;подтвердите свой <a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea9a085ff196f57f0d98f3fa73e87f240a43100afe085f9f31f606d6c2600496d5937091ca734dbfc6240e9d8dc243581f96fbfb0cc3b36554" style="text-decoration:underline; color:#049CA1;" target="_blank">отказ от&nbsp;получения рассылок
                                                                            </a>. Пожалуйста, не&nbsp;отвечайте на&nbsp;данное сообщение, так как Ваш ответ по&nbsp;электронной почте мы&nbsp;не&nbsp;сможем получить. В&nbsp;случае если информация, содержащаяся в&nbsp;данном сообщении, была получена Вами вследствие возникновения технических ошибок отправки данного сообщения компанией ООО «Филип Моррис Сэйлз энд Маркетинг» или третьими лицами, то&nbsp;требования, обязательства и&nbsp;иные отношения, следующие из&nbsp;данного сообщения, не&nbsp;могут быть выполнены компанией; такие ошибки не&nbsp;могут считаться предумышленными и/или становиться предметом судебного разбирательства. Компания ООО «Филип Моррис Сэйлз энд Маркетинг» не&nbsp;несет ответственность за&nbsp;любые убытки, имеющие отношение или возникающие в&nbsp;результате получения
                                                                            Вами настоящего сообщения, в&nbsp;том числе в&nbsp;результате каких-либо ошибок, прерываний связи, неисправностей, задержек, компьютерных вирусов, потери какой-либо прибыли или информации, несанкционированного доступа к&nbsp;Вашей информации третьими лицами.
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" style="padding-top: 25px;">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="570">
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <img alt="18+" src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/bd683961-e78f-411c-adce-6e9157287b3e.png" style="display:block; box-sizing: border-box; border:none; width: 71px; height: 71px;" width="71" height="71">
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-size:13px; line-height:16px; font-weight: 300; font-family: Verdana, Arial, Helvetica, sans-serif; color:#969696; text-align:center;padding-top: 15px;padding-bottom: 25px;">
                                                                                        Не исключает риски.
                                                                                        <br>Аэрозоль содержит никотин, вызывающий <br>зависимость.
                                                                                        <br><a href="https://click.mc.iqos.ru/?qs=3e5085d3c3da60ea37107b11a64087333606cf5f062227f1c9b83104a756ad2d3e1e5e5a7b442bda64a704fe11bf7f35903ab51e773867f68436e590bf1f526c" style="text-decoration:underline; color:#049CA1;" target="_blank">Политика конфиденциальности</a></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table></td></tr></table>
                                    </td>
                                </tr>


                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>

</table>


<style>
    @media (max-width: 599px){
        html{
            transform: scale(0.65) translateY(-26%) translateX(-10%);
        }
    }
    @media (max-width: 500px){
        html{
            transform: scale(0.65) translateY(-26%) translateX(-26%);
        }
    }

</style>
