<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;min-width:600px;mso-table-lspace:0px;mso-table-rspace:0px;" width="100%">

    <tr>
        <td align="center" valign="top">
            <!--[if (gte mso 9)|(IE)]>                 <table width="600" border="0" cellspacing="0" cellpadding="0">                     <tr>                         <td><![endif]-->
            <div align="center" max-width="600">
                <!--container-->
                <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="max-width:600px;min-width:600px;mso-table-lspace:0px;mso-table-rspace:0px;" width="600">

                    <tr>
                        <td align="center">
                            <!--header -->
                            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;mso-table-lspace:0px;mso-table-rspace:0px;" width="600">
                                <tr>
                                    <td style="font-size:11px;line-height:15px;font-family:Helvetica, Verdana, Arial, sans-serif;color:#7d7d7d;text-align:left;padding-top:5px;padding-bottom:5px;padding-left:5px;padding-right:5px">Узнать больше о доступных вкусах</td>
                                    <td style="font-size:11px;line-height:15px;font-family:Helvetica, Verdana, Arial, sans-serif;color:#7d7d7d;text-align:right;padding-top:5px;padding-bottom:5px;padding-right:5px">Если письмо отображается некорректно, нажмите <a href="https://view.mc.iqos.ru/?qs=3dc6a6a20c158593fcd2295a83c1e55d03faba0df256308e5fc0e8fb1a6bd9b9e74db363294f3bbe5d9752691e1463956ff1694ea1454154e814f2a706e6a36c22084f54951ecf99" style="color:#d6a86d;text-decoration:underline;" target="_blank">здесь</a></td>
                                </tr>
                            </table>
                            <!--topLine-->
                            <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tr><td class="stylingblock-content-wrapper camarker-inner"><table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="600">
                                            <tr>
                                                <td align="center" style="padding-top: 15px; padding-bottom: 15px;padding-left: 25px;padding-right: 25px;">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="550">
                                                        <tr>
                                                            <td align="center" style="padding-bottom: 15px;">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="550">
                                                                    <tr>
                                                                        <td align="left">
                                                                            <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba8616805f858dbef3ac8b6417e3c39162c88915f1c397718780827e7f7672361a067f378b9a52fa1848026324b882e83fe3b06af7165b1764da295" target="_blank">
                                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/8d962eac-3109-4755-a98c-2e0d48c48b12.png" style="display: block;box-sizing: border-box;border: none; width: 110px; height: 35px;" width="110" height="35" alt="IQOS">
                                                                            </a>
                                                                        </td>
                                                                        <td align="right" style="font-size:14px; line-height:17px; font-weight: 800; font-family: Verdana, Arial, Helvetica, sans-serif; color:#34303D;letter-spacing: 0.25px;text-align: right;">
                                                                            <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba8616839ee59592ef3017f69411dcab9cefb707bf410992076414b9ba39f6e796cea23378fdb9e22ed78d74716dea8cc52507456142d03c80cc474" style="color:#34303D;text-decoration: underline;" target="_blank">
                                                                                Все о lil SOLID
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;border-top: 0.5px solid #E0E0E0;" width="550">
                                                                    <tr>
                                                                        <td align="center" style="padding-top: 15px;">
                                                                            <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba86168371e8236c6993cb64b5dba2020c14917eeb854a96f3f620b50f724264b1c3c53a2973c53d0d76e8d9f29d626224e18709012112071a5ae94" target="_blank">
                                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/005beb1d-c216-44d6-a32b-9484fbf8c154.png" style="display: block;box-sizing: border-box;border:none; width: 140px; height: 17px;" width="140" height="17" alt="Перейти в каталог">
                                                                            </a>
                                                                        </td>
                                                                        <td align="center" style="padding-top: 15px;">
                                                                            <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba86168faaa43fa1a22d5a0efbb67a450b2ef74d46d1af6810152cda5f3f08cfc8f19685d1393de76223a4e4b73382b1c4912b095e202ef103180f2" target="_blank">
                                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/68570578-3ab6-4f0e-890c-3938fce46dca.png" style="display: block;box-sizing: border-box;border:none; width: 140px; height: 17px;" width="140" height="17" alt="Адреса магазинов">
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table></td></tr></table>
                            <!--content-->
                            <!-- Начало блока -->

                            <table align="center" bgcolor="#071F3B" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;mso-table-lspace:0px;mso-table-rspace:0px; background: radial-gradient(46.84% 46.84% at 53.16% 43.04%, #004976 0%, #071F3B 100%);">
                                <!-- 1 -->
                                <tr>
                                    <td align="center">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;mso-table-lspace:0px;mso-table-rspace:0px; width: 600px;">
                                            <tr>
                                                <td align="center" width="600">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;mso-table-lspace:0px;mso-table-rspace:0px; width: 600px;">
                                                        <tr>
                                                            <td align="center">
                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/d4f6dd85-f0f6-4bed-8f7a-6060a7edf1a9.png" alt="Табачные стики Fiit" style="display: block; box-sizing: border-box; border: none;" min-width="600" width="600" height="316">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="color: #F8F7F3; letter-spacing: 0.4px; line-height: 27px; font-size: 19px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300; padding-right: 70px; padding-left: 70px;">
                                                                              <span style="letter-spacing: 0.4px; line-height: 27px; font-size: 19px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300;">
                                                                             Виктор,<br>
                                                                               технологии нагревания в&nbsp;устройствах помогают раскрыть настоящий вкус и&nbsp;аромат табака.
                                                                              </span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- 2 -->
                                <tr>
                                    <td align="center" width="600" style="padding-top: 43px;">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;mso-table-lspace:0px;mso-table-rspace:0px; width: 600px;">
                                            <tr>
                                                <td align="center">
                                                    <table align="center" border="0" width="501" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px;mso-table-rspace:0px; width: 501px;">
                                                        <tr>
                                                            <td align="center">
                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/ceca3a08-0514-4e75-a70e-13b356520482.png" alt="Разнообразие вкусов" style="display: block; box-sizing: border-box; border: none;" width="276" height="27">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="color: #F8F7F3; letter-spacing: 0.4px; line-height: 27px; font-size: 18px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300; padding-top: 11px; padding-bottom: 13px;">
                                                                              <span style="letter-spacing: 0.4px; line-height: 27px; font-size: 18px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300;">
                                                                             Четыре вкуса для любителей классики, ментола и&nbsp;ароматических нот.
                                                                              </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right">
                                                                <table align="right" border="0" width="501" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px;mso-table-rspace:0px; width: 501px;">
                                                                    <tr>
                                                                        <td valign="top" align="center">
                                                                            <table valign="top" align="center" width="230" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px;mso-table-rspace:0px; width: 230px;">
                                                                                <tr><td align="center">
                                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px;mso-table-rspace:0px;">
                                                                                            <tr>
                                                                                                <td align="center">
                                                                                                    <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba86168c54a7b2dc525106d07556fe42169239a99e6d9e115a2f1201ab6a69731fde54b0175b78dc782ed85153f945d13150950f04117980f2ea873"><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/d0838b82-e9c4-4568-b082-6aa084e25ee8.png" alt="Regular" style="display: block; box-sizing: border-box; border: none;" width="230" height="185"></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" style="padding-top: 5px;">
                                                                                                    <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/7152d975-e204-4605-9595-4c01c93fb32c.png" alt="Regular" style="display: block; box-sizing: border-box; border: none;" width="135" height="20">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" style="color: #FFFDFB; letter-spacing: 0.4px; line-height: 26px; font-size: 20px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: bold; padding-top: 12px; padding-bottom: 8px;">
                                          <span style="letter-spacing: 0.4px; line-height: 26px; font-size: 20px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: bold;">
                                            Насыщенный и сбалансированный
                                          </span>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" style="color: #FFFDFB; letter-spacing: 0.4px; line-height: 24px; font-size: 17px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300; padding-left: 10px; padding-right: 10px;">
                                          <span style="letter-spacing: 0.4px; line-height: 24px; font-size: 17px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300;">
                                            Ароматические ноты: ореховые
                                          </span>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr></table>
                                                                        </td>
                                                                        <td valign="top" align="center">
                                                                            <table valign="top" align="center" width="271" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px;mso-table-rspace:0px; width: 271px;">
                                                                                <tr><td align="left">
                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px;mso-table-rspace:0px;">
                                                                                            <tr>
                                                                                                <td align="center">
                                                                                                    <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba86168e1d23a5657ff45efcaf6d0ec3e565eaa1e97d345f0f0ac64f11fac38d6a209130b5e756c5d8efa6245811b360053564a4a39033677a48a1e"><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/67f9412d-0cad-4ed2-9b07-bc9032de4688.png" alt="Crisp" style="display: block; box-sizing: border-box; border: none;" width="271" height="185"></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" style="padding-top: 5px;">
                                                                                                    <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/1f8f713e-6f9e-4707-af1f-72ace82722a5.png" alt="Crisp" style="display: block; box-sizing: border-box; border: none;" width="85" height="20">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" style="color: #FFFDFB; letter-spacing: 0.4px; line-height: 26px; font-size: 20px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: bold; padding-top: 12px; padding-bottom: 8px;">
                                          <span style="letter-spacing: 0.4px; line-height: 26px; font-size: 20px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: bold;">
                                            Освежающий и цитрусовый
                                          </span>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" style="color: #FFFDFB; letter-spacing: 0.4px; line-height: 24px; font-size: 17px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300; padding-left: 10px; padding-right: 10px;">
                                          <span style="letter-spacing: 0.4px; line-height: 24px; font-size: 17px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300;">
                                           Ароматические ноты: цитрусовые
                                          </span>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr></table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right" style="padding-top: 16px;">
                                                                <table align="right" border="0" width="501" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px;mso-table-rspace:0px; width: 501px;">
                                                                    <tr>
                                                                        <td valign="top" align="center">
                                                                            <table valign="top" align="center" width="230" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px;mso-table-rspace:0px; width: 230px;">
                                                                                <tr><td valign="top" align="center">
                                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px;mso-table-rspace:0px;">
                                                                                            <tr>
                                                                                                <td align="center">
                                                                                                    <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba861682e4ee2eec83193c371b4e21afe8d132048b5e896653e95ca3fa28f6fd2e8145a65fc5ca52b28c2547aa8580d9a554f4769d2225fe66f9f01"><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/4c6bff69-1bcf-4732-815c-e21f999dfe2b.png" alt="TROPIC" style="display: block; box-sizing: border-box; border: none;" width="230" height="185"></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" style="padding-top: 5px;">
                                                                                                    <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/0e1bab0f-0861-4e07-82e3-325db049b94f.png" alt="TROPIC" style="display: block; box-sizing: border-box; border: none;" width="110" height="20">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" style="color: #FFFDFB; letter-spacing: 0.4px; line-height: 26px; font-size: 20px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: bold; padding-top: 12px; padding-bottom: 8px;">
                                          <span style="letter-spacing: 0.4px; line-height: 26px; font-size: 20px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: bold;">
                                            Свежий и яркий
                                          </span>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" style="color: #FFFDFB; letter-spacing: 0.4px; line-height: 24px; font-size: 17px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300; padding-left: 10px; padding-right: 10px;">
                                          <span style="letter-spacing: 0.4px; line-height: 24px; font-size: 17px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300;">
                                            Ароматические ноты: тропические фруктовые
                                          </span>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr></table>
                                                                        </td>
                                                                        <td valign="top" align="center">
                                                                            <table valign="top" align="center" width="271" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px;mso-table-rspace:0px; width: 271px;">
                                                                                <tr><td align="left">
                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px;mso-table-rspace:0px;">
                                                                                            <tr>
                                                                                                <td align="center">
                                                                                                    <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba861681f70f958866021ca58acc3e06a61dc3a12a4c374d3a06a15c39cfa63facae7659e9cd8ff23ceacc37c9a6a507e89491c75abfdecd896b432"><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/0b47ca9d-2f01-4a73-822c-d44141775850.png" alt="VIOLA" style="display: block; box-sizing: border-box; border: none;" width="271" height="185"></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" style="padding-top: 5px;">
                                                                                                    <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/97452107-f6d1-4965-8e05-d776da530b2b.png" alt="VIOLA" style="display: block; box-sizing: border-box; border: none;" width="85" height="20">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" style="color: #FFFDFB; letter-spacing: 0.4px; line-height: 26px; font-size: 20px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: bold; padding-top: 12px; padding-bottom: 8px;">
                                          <span style="letter-spacing: 0.4px; line-height: 26px; font-size: 20px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: bold;">
                                            Свежий и ягодный
                                          </span>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td align="center" style="color: #FFFDFB; letter-spacing: 0.4px; line-height: 24px; font-size: 17px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300; padding-left: 10px; padding-right: 10px;">
                                          <span style="letter-spacing: 0.4px; line-height: 24px; font-size: 17px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300;">
                                          Ароматические ноты: ягодные
                                          </span>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr></table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="padding-top: 22px;">
                                                                <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba861680ecec4d264a8a76eed3bc46263be55a98bf9c9e9d695d24afbdde1f0ab8e55f51b45f7ab87ac938ebde00456d66bf0a10a82633a3d6f1355"><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/34348281-2a45-443d-af5d-6f96d2c22356.png" alt="Познакомиться со вкусами" style="display: block; box-sizing: border-box; border: none;" width="420" height="89"></a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- 3 -->
                                <tr>
                                    <td align="center" style="padding-top: 56px; padding-bottom: 74px;">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="542" style="border-collapse:collapse;mso-table-lspace:0px;mso-table-rspace:0px;">
                                            <tr>
                                                <td align="center">
                                                    <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/10fd84ee-64b9-47f8-b256-5afcc4ad020d.png" alt="Высокое качество продукции" style="display: block; box-sizing: border-box; border: none;" width="381" height="26">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top" style="padding-top: 41px;">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" width="528">
                                                        <tr>
                                                            <td align="left" valign="top" style="padding-top:0px; ">
                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" width="176">
                                                                    <tr>
                                                                        <td align="center" style=""><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/c28a92b7-beaa-4bff-a8a6-6ac31993d855.png" alt="1" width="80" height="80" style="display:block;box-sizing:border-box; border:none;">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" style="font-family: noto-sans,Helvetica,Verdana, Arial,sans-serif; font-weight:bold; color:#ffffff; text-align:center; font-size:16px; line-height:22px; letter-spacing:0.04px; padding-top:18px"><span style="letter-spacing: 0.4px; line-height: 22px; font-size: 18px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: bold;">
                                                                             Тщательный контроль
                                                                              </span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" style="font-family: noto-sans,Helvetica,Verdana, Arial,sans-serif; font-weight:300; color:#ffffff; text-align:center; font-size:16px; line-height:20px; letter-spacing:0.04px;"><span style="letter-spacing: 0.4px; line-height: 20px; font-size: 16px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300;">
                                                                             на каждом этапе производства
                                                                              </span></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td align="center" valign="top" style="padding-top:0px; ">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" width="176">
                                                                    <tr>
                                                                        <td align="center" style=""><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/63d47e08-d021-4845-a724-184be5cc7be6.png" alt="2" width="80" height="80" style="display:block;box-sizing:border-box; border:none;">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" style="font-family: noto-sans,Helvetica,Verdana, Arial,sans-serif; font-weight:bold; color:#ffffff; text-align:center; font-size:16px; line-height:22px; letter-spacing:0.04px; padding-top:18px"><span style="letter-spacing: 0.4px; line-height: 22px; font-size: 18px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: bold;">
                                                                             Отборный<br> табак
                                                                              </span></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td align="right" valign="top" style="padding-top:0px; ">
                                                                <table align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" width="176">
                                                                    <tr>
                                                                        <td align="center" style=""><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/ad1c7ee8-4411-4917-8648-b5749663f190.png" alt="3" width="80" height="80" style="display:block;box-sizing:border-box; border:none;">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" style="font-family: noto-sans,Helvetica,Verdana, Arial,sans-serif; font-weight:bold; color:#ffffff; text-align:center; font-size:16px; line-height:22px; letter-spacing:0.04px; padding-top:18px"><span style="letter-spacing: 0.4px; line-height: 22px; font-size: 18px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: bold;">
                                                                             Особая рецептура и технология
                                                                              </span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" style="font-family: noto-sans,Helvetica,Verdana, Arial,sans-serif; font-weight:300; color:#ffffff; text-align:center; font-size:16px; line-height:20px; letter-spacing:0.04px;"><span style="letter-spacing: 0.4px; line-height: 20px; font-size: 16px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300;">
                                                                             для использования с&nbsp;lil SOLID
                                                                              </span></td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- 4 -->
                                <tr>
                                    <td align="center" width="600">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;mso-table-lspace:0px;mso-table-rspace:0px; width: 600px;">
                                            <tr>
                                                <td align="center" width="600">
                                                    <table align="center" border="0" cellpadding="0" width="600" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px;mso-table-rspace:0px;">

                                                        <tr>
                                                            <td align="center">
                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/fa1a4ca7-0836-4a25-b1d6-7369a98cc0bd.png" alt="Важно, что внутри" style="display: block; box-sizing: border-box; border: none;" width="235" height="26">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="color: #FFFDFB; letter-spacing: 0.4px; line-height: 26px; font-size: 18px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300; padding-left: 98px; padding-bottom: 25px; padding-right: 98px; padding-top: 14px;">
                                                                              <span style="letter-spacing: 0.4px; line-height: 26px; font-size: 18px; font-family:noto-sans, Helvetica, Verdana, Arial, sans-serif; font-weight: 300;">
                                                                                  Конструкция стика тщательно продумана, и&nbsp;каждый его элемент играет важную роль
                                                                              </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">
                                                                <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/dbdae61c-2eb9-403e-986f-32f9678bf234.png" alt="Важно, что внутри" style="display: block; box-sizing: border-box; border: none;" width="600" min-width="600" height="374">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="padding-top: 22px; padding-bottom: 85px;">
                                                                <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba86168ade5365c5f9764854ede9b43b03a9c0fab4ef537c6b0d9f41a57f0734da7e888e0b3825b894cc3998f0d9af8a2afa85d03a77fa3d2543983"><img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/371e5c39-a8b7-4d46-8cbf-416ec2cc9249.png" alt="Узнать больше" style="display: block; box-sizing: border-box; border: none;" width="252" height="49"></a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- конец контента -->
                            </table>


                            <!-- Конец блока -->
                            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;mso-table-lspace:0px;mso-table-rspace:0px;" width="600">
                                <tr><td align="center" bgcolor="#ffffff" style="padding-top:10px;padding-bottom:20px">
                                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tr><td class="stylingblock-content-wrapper camarker-inner"><table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="600" bgcolor="#34303D">
                                                        <tr>
                                                            <td align="center" style="padding-left: 30px;padding-right: 30px;padding-top: 25px;padding-bottom: 25px;">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="540">
                                                                    <tr>
                                                                        <td align="center" width="135">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;">
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba86168f344a4e1047bb561f08822d3c8c75d61357ec835af645dc3eb4598e6e9b4b01580cb1cb061fe3b83e5b906f95c6019486930c92ae6e72262" target="_blank">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/de4e49b3-f939-4659-85eb-50d2593f47cd.png" style="display: block;box-sizing: border-box;border: none; width: 45px; height: 45px;" width="45" height="45" alt="Перейти в каталог">
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center" style="font-size:12px; line-height:14px; font-weight: 400; color:#f8f7f3; font-family: Verdana, Arial, Helvetica, sans-serif; text-align:center;padding-top: 10px;letter-spacing: 0.5px;">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba86168388fcf78f73f2f41ec79f77adce06d91eaa9b44c1e2aa5151fe065a3cd079be2b9502344a01a9bf2d440e333e17f2f51e424dc274d35489e" style="color:#f8f7f3;text-decoration: none;">
                                                                                            Перейти в каталог
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td align="center" width="135">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;">
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba86168512d6f5a7c06c7f0753251b1f76e5594a4bcdc1ef469e8d7743e2dada0d07601f40e767de4c24009df63a6388d57580a6a32e97e2e54a205" target="_blank">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/b91c39cf-faed-42d3-b919-178620eee6d3.png" style="display: block;box-sizing: border-box;border: none; width: 45px; height: 45px;" width="45" height="45" alt="Все адреса">
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center" style="font-size:12px; line-height:14px; font-weight: 400; color:#f8f7f3; font-family: Verdana, Arial, Helvetica, sans-serif; text-align:center;padding-top: 10px;letter-spacing: 0.5px;">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba861683a73f32103ce39b4b60b984ca89e3ac895067f73967164d481b97b412603a245cfb1fd29c715f0dba72ae6488ac687648480b56daf7056bf" style="color:#f8f7f3;text-decoration: none;">
                                                                                            Все адреса
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td align="center" width="135">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;">
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba86168090fffc77b96fb2c08ea4ff5120f561ed1eee7a4a234f417cce969575e7b912d3bd6d9a0da0fe21bf9f7dd5ea071bbaf22f9f75c8ee09b28" target="_blank">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/fc76e8a9-e2f2-4241-9db0-559dff21eb5f.png" style="display: block;box-sizing: border-box;border: none; width: 45px; height: 45px;" width="45" height="45" alt="Все об IQOS">
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center" style="font-size:12px; line-height:14px; font-weight: 400; color:#f8f7f3; font-family: Verdana, Arial, Helvetica, sans-serif; text-align:center;padding-top: 10px;letter-spacing: 0.5px;">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba861681986b2b04722cc5e0bc4b652070d643a7dcc94b938618f1985d3e6718ed78c8c68b098a4e7f66efced6b94d3cf72f4fd7def0b4d9985e57d" style="color:#f8f7f3;text-decoration: none;">
                                                                                            Все о lil SOLID
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td align="center" width="135">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;">
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba861685e0671c343cc3af6e463ddf1e8230b3e24facc2f18b138b88e5d3b49e8b6224ff808d6f44735a1f2765c64252df3d414477d3a580240a8b5" target="_blank">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/6ef8fcbd-e190-465f-81a9-6c26297b7fb5.png" style="display: block;box-sizing: border-box;border: none; width: 45px; height: 45px;" width="45" height="45" alt="Написать в чат">
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center" style="font-size:12px; line-height:14px; font-weight: 400; color:#f8f7f3; font-family: Verdana, Arial, Helvetica, sans-serif; text-align:center;padding-top: 10px;letter-spacing: 0.5px;">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba86168ea50a9472d284b0869d382a479db46c2aaa0a3f46465f06812544169413c6b86b61e7226a3b129b80a8ee2f39be4c8b6adb5bf8ca30a0603" style="color:#f8f7f3;text-decoration: none;">
                                                                                            Написать в чат
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;border-bottom: 1px solid #E0E0E0;" width="600" bgcolor="#ffffff">
                                                        <tr>
                                                            <td style="padding-top: 15px;padding-bottom: 30px;padding-left: 15px;padding-right: 15px;">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="570">
                                                                    <tr>
                                                                        <td align="center">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="570">
                                                                                <tr>
                                                                                    <td align="left">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba861687362282a0dedfd6c08ab5f6bf97e33dbb5cf32a23b1a923ad6dad01c25036a2292d6e3b9fc9a11a508e45c3a617f02adf582df2fc8a81ebe" target="_blank">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/e39f6791-d9b8-4a76-9f3f-8e93333bd0de.png" style="display: block;box-sizing: border-box;border: none; width: 73px; height: 34px;" width="73" height="34" alt="IQOS">
                                                                                        </a>
                                                                                    </td>
                                                                                    <td align="right">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba86168fbc5d3d3ac573d95f588a25562d9379382edc53ebc6ff89a339e0349502f21afdbd3efc6dc50a4716a9ab5cf5f2dedb6e1b7e9f8ad89013f" target="_blank" style="text-decoration: none;padding-left: 5px;">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/3a485c94-b222-47ee-b1a1-c58297fd87d2.png" style="display: inline-block;box-sizing: border-box;border: none; width: 25px; height: 25px;" width="25" height="25" alt="Telegram">
                                                                                        </a>
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba861682fee69131b0a748dc462238439b4c89b9c1321cda3bf42f50a9361243ff7afc949c57d706abe6b534957dd706af8f464" target="_blank" style="text-decoration: none;padding-left: 5px;">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/6749dbf1-1f92-402e-bf71-4de8c291e397.png" style="display: inline-block;box-sizing: border-box;border: none; width: 25px; height: 25px;" width="25" height="25" alt="Viber">
                                                                                        </a>
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba861684fb51a2b72073c48966bfd5dd6d49c4648be0f2702ceeab4d76397fa2d0226e05ccfa1e432f89a58287175128231aba5" target="_blank" style="text-decoration: none;padding-left: 5px;">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/d064745c-3c8f-4ab4-9903-6b5924249f62.png" style="display: inline-block;box-sizing: border-box;border: none; width: 25px; height: 25px;" width="25" height="25" alt="Telegram">
                                                                                        </a>
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba8616856bae4b7cd6cfb594480f48710f20056bcae46afba9f0f9f68600d2f79a94dab116367265d0f9008b4e96937516b55ba" target="_blank" style="text-decoration: none;padding-left: 5px;">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/c121f574-e091-4890-b3c2-413b957d80a0.png" style="display: inline-block;box-sizing: border-box;border: none; width: 25px; height: 25px;" width="25" height="25" alt="Instagram">
                                                                                        </a>
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba8616816587aa605823997595884263dab4b3f640dba321a9f1d6ae70660913bd2790756f26fe02946a14b8f9e69d87ea7cc63" target="_blank" style="text-decoration: none;padding-left: 5px;">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/a02cf463-fa86-4d29-80b4-6c1dabc98d95.png" style="display: inline-block;box-sizing: border-box;border: none; width: 25px; height: 25px;" width="25" height="25" alt="VK">
                                                                                        </a>
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba8616883f8c2b0bfbaccb6db31b7bc65de8afdbe27f94c78704a8142381d012beca373e704bf610a1cd08581771459323e4859" target="_blank" style="text-decoration: none;padding-left: 5px;">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/7e844e09-e760-4773-9e8b-9aca16ed07b7.png" style="display: inline-block;box-sizing: border-box;border: none; width: 25px; height: 25px;" width="25" height="25" alt="Facebook">
                                                                                        </a>
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba861689c0bc33bd71f9d29b301a3d21b638e11ed9cec3908fc0bf549ed29e10f3025a27f1a583dc0846f1e66bed1e803d12059" target="_blank" style="text-decoration: none;padding-left: 5px;">
                                                                                            <img src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/21/b96778ab-a3bf-45b1-ae96-59c107939f3a.png" style="display: inline-block;box-sizing: border-box;border: none; width: 28px; height: 25px;" width="28" height="25" alt="YouTube">
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" style="padding-top: 10px;">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="570">
                                                                                <tr>
                                                                                    <td align="left" style="font-size:11px; line-height:13px; font-weight: 300; font-family: Verdana, Arial, Helvetica, sans-serif; color:#34303D;letter-spacing: 0.25px;text-align: left;">
                                                                                        Информация предоставлена табачной компанией
                                                                                    </td>
                                                                                    <td align="right" style="font-size:13px; line-height:13px; font-weight: 800; font-family: Verdana, Arial, Helvetica, sans-serif; color:#34303D;letter-spacing: 0.25px;text-align: right;">
                                                                                        <a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba861683a2f1eae35eb2cccf6278e9065977ebf1d071c07ca459302e98eaf0c6e7ed825dd4f9e8e04622b4c7be613a680b88b402f7059bb1cae708c" style="color:#34303D;text-decoration: underline;" target="_blank">
                                                                                            www.lil.iqos.com
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table></td></tr></table>
                                    </td></tr>
                                <tr><td align="center" style="padding-top:0px">
                                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tr><td class="stylingblock-content-wrapper camarker-inner"><table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="600">
                                                        <tr>
                                                            <td align="center" style="padding-left: 15px;padding-right: 15px;padding-top: 0px;">
                                                                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="570">
                                                                    <tr>
                                                                        <td style="font-size:11px; line-height:16px; font-weight: 300; font-family: Verdana, Arial, Helvetica, sans-serif; color:#969696; text-align:justify;">
                                                                            Вы&nbsp;получили это сообщение, так как подтвердили свое согласие компании ООО «Филип Моррис Сэйлз энд Маркетинг» на&nbsp;получение сообщений. Это персональное сообщение адресовано исключительно Вам и&nbsp;не&nbsp;должно быть переадресовано другим лицам. Данная информация предназначена только для лиц старше 18&nbsp;лет, которые являются потребителями табачной и/или никотиносодержащей продукции и&nbsp;проживают на&nbsp;территории РФ. Если Вы&nbsp;не&nbsp;хотите получать информацию от&nbsp;компании ООО «Филип Моррис Сэйлз энд Маркетинг», то&nbsp;подтвердите свой <a href="" style="text-decoration:underline; color:#049CA1;" target="_blank">отказ от&nbsp;получения рассылок
                                                                            </a>. Пожалуйста, не&nbsp;отвечайте на&nbsp;данное сообщение, так как Ваш ответ по&nbsp;электронной почте мы&nbsp;не&nbsp;сможем получить. В&nbsp;случае если информация, содержащаяся в&nbsp;данном сообщении, была получена Вами вследствие возникновения технических ошибок отправки данного сообщения компанией ООО «Филип Моррис Сэйлз энд Маркетинг» или третьими лицами, то&nbsp;требования, обязательства и&nbsp;иные отношения, следующие из&nbsp;данного сообщения, не&nbsp;могут быть выполнены компанией; такие ошибки не&nbsp;могут считаться предумышленными и/или становиться предметом судебного разбирательства. Компания ООО «Филип Моррис Сэйлз энд Маркетинг» не&nbsp;несет ответственность за&nbsp;любые убытки, имеющие отношение или возникающие в&nbsp;результате получения
                                                                            Вами настоящего сообщения, в&nbsp;том числе в&nbsp;результате каких-либо ошибок, прерываний связи, неисправностей, задержек, компьютерных вирусов, потери какой-либо прибыли или информации, несанкционированного доступа к&nbsp;Вашей информации третьими лицами.
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" style="padding-top: 25px;">
                                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0px; mso-table-rspace:0px;" width="570">
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <img alt="18+" src="https://image.s50.sfmc-content.com/lib/fe4415707564067c731570/m/19/bd683961-e78f-411c-adce-6e9157287b3e.png" style="display:block; box-sizing: border-box; border:none; width: 71px; height: 71px;" width="71" height="71">
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-size:13px; line-height:16px; font-weight: 300; font-family: Verdana, Arial, Helvetica, sans-serif; color:#969696; text-align:center;padding-top: 15px;padding-bottom: 25px;">
                                                                                        Не исключает риски.
                                                                                        <br>В аэрозоле содержится никотин, вызывающий <br>зависимость.
                                                                                        <br><a href="https://click.mc.iqos.ru/?qs=7fe2172c3ba86168664ccd27e70001e881807847a70dc2df901791b26c38bf3e2e911056327b0380e9f0259f3281110bdcc9c8ac9e53afe45e5aeb4b358ef97b" style="text-decoration:underline; color:#049CA1;" target="_blank">Политика конфиденциальности</a></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table></td></tr></table>
                                    </td></tr>
                            </table>
                        </td>
                    </tr>

                </table>
                <!-- container END-->
            </div>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>

</table>

<style>
    @media (max-width: 599px){
        html{
            transform: scale(0.65) translateY(-26%) translateX(-10%);
        }
    }
    @media (max-width: 500px){
        html{
            transform: scale(0.65) translateY(-26%) translateX(-26%);
        }
    }

</style>