.signature-wrap{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  & svg{
    & path{
      animation: singAnimation 3s infinite;
      stroke-dasharray: 2910;
      stroke-dashoffset: 2910;
    }
  }
  @keyframes singAnimation {
    to{
      stroke-dashoffset: 0;
    }
  }
}