<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#212121">
    <link href="favicon.png" rel="icon" type="image/png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/components.css" rel="stylesheet">
</head>
<body>
{% view '&header' %}
<div class="intro" id="intro-hello">
    <svg id='svg-hello' width="1962" height="1473" viewBox="0 0 1962 1473" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M74.7762 709.534C101.087 570.611 135.397 432.023 157.666 292.41C161.293 269.672 174.48 218.884 150.981 200.607C121.739 177.863 102.432 237.976 100.624 254.976C70.8753 534.61 82.7492 818.477 70.3197 1099.03C65.7503 1202.17 51.898 1305.07 50.7113 1408.31C50.0725 1463.89 54.202 1340.05 55.1678 1329.43C67.3741 1195.16 63.2791 1052.68 98.841 921.661C108.59 885.742 144.742 843.375 166.133 898.042C175.813 922.779 165.384 1159.2 219.165 1054.46C304.26 888.751 378.972 722.687 445.553 549.102C470.521 484.006 558.309 362.947 515.965 288.845C496.896 255.475 448.225 357.639 445.553 364.604C403.274 474.831 378.991 594.682 363.554 711.316C337.519 908.029 314.36 1122.27 391.63 1311.15C459.071 1476.01 553.313 1263.52 580.583 1186.82C635.469 1032.45 716.972 891.299 746.809 730.925C762.827 644.829 672.134 714.641 643.865 737.609C552.51 811.835 548.736 950.206 578.355 1054.46C596.586 1118.64 652.969 1295.96 754.83 1256.79C793.483 1241.92 841.751 1176.36 860.448 1142.7C901.846 1068.19 930.762 994.699 957.153 913.639C988.796 816.451 1027.65 718.86 1051.63 619.513C1086.08 476.805 1109.58 333.747 1167.5 197.933C1178.25 172.721 1226.55 77.9285 1189.33 56.2182C1136.11 25.1696 1098.1 136.589 1089.51 168.966C1013.82 454.263 937.186 754.402 949.577 1051.79C951.891 1107.32 975.824 1213.77 1040.93 1229.16C1090.2 1240.8 1128.94 1187.88 1151.45 1152.5C1260.57 981.032 1342.38 793.31 1429.54 608.818C1446.66 572.584 1469.19 538.441 1482.57 500.972C1495.08 465.943 1456.39 505.077 1450.93 521.472C1443.59 543.489 1421.79 662.185 1438.9 585.199C1446.19 552.357 1465.49 514.639 1480.34 484.929C1509.58 426.458 1539.58 369.277 1563.23 308.453C1584.18 254.578 1600.27 121.866 1502.62 172.086C1458.68 194.687 1424.64 240.446 1406.36 284.834C1364.53 386.43 1343.42 512.693 1335.95 621.296C1328.07 735.872 1318.13 851.37 1318.13 966.225C1318.13 1028.47 1307.9 1101.5 1322.58 1162.31C1339.83 1233.76 1387.66 1295.97 1433.99 1203.31C1481.64 1108.01 1550.3 1025.88 1599.33 931.911C1623.77 885.061 1647.11 838.533 1672.86 792.424C1683.34 773.665 1712.33 741.398 1717.87 722.012C1722.01 707.532 1662.13 730.063 1656.82 735.381C1624.02 768.173 1599.42 798.817 1590.86 845.901C1575.91 928.135 1576.38 1283.53 1709.4 1230.94C1760.16 1210.87 1780 1158.4 1807.44 1114.18C1864.13 1022.85 1911.72 926.468 1911.72 817.825C1911.72 770.092 1893.36 660.857 1823.49 671.208C1779.26 677.76 1749.43 721.018 1726.78 754.99C1679.84 825.409 1642.32 897.516 1606.9 974.247" stroke="black" stroke-width="100" stroke-linecap="square"/>
    </svg>


    {# Список страниц: /data/index.json #}
    <div class="container-ds">
        {% for key, pages in page_list %}
            <div class="intro__wrap">
                <h2 tabindex="0" data-step>{{ key }} <span class="icon-header">
                       <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2_11)">
                            <path d="M2.47059 29.6471L21 11.9095L39.5294 29.6471" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_2_11">
                            <rect width="42" height="42" fill="white" transform="translate(0 42) rotate(-90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </span></h2>
                <div class="intro__card" {% if key == 'Site' %}data-card{% endif %}>
                    {% for page in pages %}
                        <a href="{{ page.link }}.html"><img src="{{ page.img }}" alt="{{ page.name }}"><span>{{ page.name }}</span></a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="js/vendors~components~index.chunk.js?{{ date().getTime() }}" defer></script>
<script type="text/javascript" src="js/vendors~index.chunk.js?{{ date().getTime() }}" defer></script>
<script type="text/javascript" src="js/index.js?{{ date().getTime() }}" defer></script>
<script type="text/javascript" src="js/components.js?{{ date().getTime() }}" defer></script>

</body>
</html>

<script>
    let item = document.querySelector('#intro-hello path');
    console.log(item.getTotalLength())
</script>