<div class="card-flip">
    <div class="card-flip__wrap">
        <div class="card-flip__front">

        </div>
        <div class="card-flip__back">
            <img src="/img/cat.jpg">
        </div>
        <div class="card-flip__text">
            <span>A</span><span>A</span><span>A</span><span>A</span><span>A</span><span>A</span>
            <span>A</span><span>A</span><span>A</span><span>A</span><span>A</span><span>A</span>
            <span>A</span><span>A</span><span>A</span><span>A</span>
        </div>
    </div>
</div>
