$fontSize: 32px;
$fontSizeStep: 10;
.card-flip{
  height: 100vh;
  padding-top: rem(150);
  background: #000000;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__wrap{
    display: flex;
    position: relative;
    width: fit-content;
    &:hover{
      & .card-flip__text{
        width: 100%;
        transition: all 2s;
      }
    }
  }
  &__front{
    width: rem(400);
    height: rem(350);
    position: relative;
    backface-visibility: hidden;
    backdrop-filter: blur(12.5px);
    background: rgba(255, 255, 255, 0.2);
    transition: transform .5s cubic-bezier(.2,.85,.4,1.275);
    z-index: 1;
    &:hover{
      transform: rotateY(180deg);
      z-index: -1;
    }
  }
  &__back{
      position: absolute;
      width: rem(400);
      height: rem(350);
      z-index: 0;
      transform: rotateY(-180deg);
      transition: transform .5s cubic-bezier(.2,.85,.4,1.275);
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover{
      transform: rotateY(0deg);
      z-index: 2;
    }
  }
  &__text{
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: rem(32);
    line-height: 1.32;
    font-family: 'Montserrat';
    letter-spacing: 5px;
    position: absolute;
    width: 0;
    overflow: hidden;
    z-index: 3;
    & span{
      @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
          $fontSizeStep: $i + $fontSizeStep;
          font-size: $fontSize + $fontSizeStep;
        }
      }
    }
  }
}
