.icon{
  width: rem(24);
  height: rem(24);
  display: flex;
  margin-right: rem(8);
  svg{
    width: 100%;
    height: 100%;
    }
  @include media-breakpoint-down(mb) {
    &:hover{
      & svg{
        & path{
          stroke: $color-white;
          transition: all 0.3s;
        }
      }
    }
  }
  @include media-breakpoint-down(mb) {
    position: relative;
    width: rem(32);
    height: rem(32);
    justify-content: center;
    align-items: center;
    &:before{
      content: '';
      position: absolute;
      width: 120%;
      height: 120%;
      border: 1px solid $color-black;
      border-radius: 50%;
    }
    &:hover{
      &:before {
        transition: all 0.3s;
        border: 1px solid $color-white;
      }
    }
  }
  &-btn{
    display: flex;
    width: rem(35);
    height: rem(35);
    & svg{
      width: 100%;
      height: 100%;
    }

  }
}
.icon-back{
  width: rem(24);
  height: rem(24);
  display: flex;
  margin-right: rem(8);
  svg{
    width: 100%;
    height: 100%;
  }
}
.icon-header{
  display: inline-flex;
  margin-left: rem(18);
  width: rem(36);
  height: rem(36);
  transform: rotate(180deg);
  svg{
    width: 100%;
    height: 100%;
  }
}