.btn-back{
  position: fixed;
  display: inline-flex;
  left: rem(40);
  top: rem(40);
  z-index: 9999;
  opacity: 0.4;
  border-radius: 50%;
  width: rem(60);
  height: rem(60);
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,.3);
  backdrop-filter: blur(7px);
  overflow: hidden;
  & span{
    margin-right: 0;
    &:nth-child(1){
      right: 0;
      position: absolute;
      transform: translateX(100%);
    }
  }
  &:hover{
    opacity: 1;
    transition: all 0.3s;
    & span{
      &:nth-child(1){
        transition: all 0.3s;
        transform: translateX(0);
        right: auto;
      }
      &:nth-child(2){
        display: none;
      }
    }
  }
}