<a class="btn-back" href="javascript:history.back();">
                <span class="icon-back">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 11.9259L2.57136 11.9259" stroke="black" stroke-linecap="round"/>
                        <path d="M8.71293 19L2 11.9874L8.71293 4.97476" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
                </span>
    <span>Back</span>
</a>