.checkbox {
  $b: #{&};
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  transition: all 0.3s;
  position: relative;
  padding: rem(28) rem(40);
  &__box {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
  }
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  &__text {
    position: relative;
    user-select: none;
    display: block;
    font-weight: 700;
    z-index: 5;
    cursor: pointer;
  }
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &[type="radio"] {
      ~ #{$b}__box {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        &::before {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          transform: scale(1);
        }
      }

      &:checked {
        ~ #{$b}__box {
          cursor: auto;

          &:before{
            background: #A0A5B9;
            box-shadow: 1px 1px 2px rgba(176, 182, 204, 0.3), -1px -1px 2px rgba(144, 149, 167, 0.5), inset -5px 5px 10px rgba(144, 149, 167, 0.2), inset 5px -5px 10px rgba(144, 149, 167, 0.2), inset -5px -5px 10px rgba(176, 182, 204, 0.9), inset 5px 5px 13px rgba(144, 149, 167, 0.9);
            border-radius: 40px;
            @at-root .checkbox--red.checkbox--radio & {
              background-color: $color-white;
            }
          }
          }
        ~ #{$b}__text {
          cursor: auto;
        }
      }
    }
    &:checked {
      ~ #{$b}__box {
        background-color: transparent;
      }
      ~ #{$b}__text {
        color: #ffffff;
      }
    }

    &:disabled {
      ~ #{$b}__text,
      &[type="checkbox"]:checked ~ #{$b}__inner{
        opacity: 0.5;
        cursor: not-allowed;
      }
      ~ #{$b}__box{
        opacity: 0.5;
      }
    }
  }
  &__switch{
    &--box{
      width: rem(116);
      height: rem(61);
      background: #F0F0F3;
      box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2), 5px -5px 10px rgba(216, 216, 219, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(216, 216, 219, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(216, 216, 219, 0.5);
      border-radius: 20px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
      &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #A0A5B9;
        box-shadow: -5px 5px 10px rgba(216, 216, 219, 0.2), 5px -5px 10px rgba(216, 216, 219, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(216, 216, 219, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(216, 216, 219, 0.5);
        border-radius: 20px;
        transform: translateX(-110%);
        transition: all 0.25s;
      }
      &::before{
        content: '';
        z-index: 1;
        position: absolute;
        border-radius: 20px;
        background-color: $color-white;
        width: rem(50);
        height: rem(50);
        transform: translateX(20%);
        transition: all 0.2s;
      }
      & .icon{
        position: absolute;
        &:first-child{
          left: rem(15);
          z-index: 1;
        }
        &:last-child{
            right: rem(5);
        }
      }
    }
    & [type="checkbox"]{
      &:checked {
        ~ #{$b}__switch--box{
          &::after{
            transform: translateX(0);
          }
          &:before{
            transform: translateX(110%);
          }
        }
        z-index: 2;
      }
    }

  }
}
