<nav class="menu" tabindex="0">
    <div class="container-ds">
        <div class="menu__person">
            <img src="img/ViktorK.jpeg" alt="Viktor Kotovsky">
            <p>Viktor Kotovsky</p>
        </div>
        <ul>
            <li><a aria-label="Go to GitLab" href="https://gitlab.com/Kotovskii/vk-project-build">
                <span class="icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.7214 14.2645L11.985 20L4.24868 14.2645C4.14496 14.1867 4.06803 14.0775 4.02889 13.9523C3.98974 13.8272 3.9904 13.6927 4.03075 13.568L4.91698 10.767L6.68945 5.20193C6.70664 5.15659 6.73401 5.11598 6.76935 5.08337C6.82691 5.02974 6.90206 5 6.98001 5C7.05797 5 7.13312 5.02974 7.19068 5.08337C7.228 5.12017 7.2555 5.16608 7.27058 5.21675L9.04305 10.767H14.927L16.6995 5.20193C16.7167 5.15659 16.7441 5.11598 16.7794 5.08337C16.837 5.02974 16.9121 5 16.9901 5C17.068 5 17.1432 5.02974 17.2007 5.08337C17.2381 5.12017 17.2656 5.16608 17.2806 5.21675L19.0531 10.7818L19.9757 13.568C20.0124 13.6965 20.0074 13.8337 19.9616 13.9592C19.9158 14.0847 19.8316 14.1918 19.7214 14.2645Z" stroke="black" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                </span><span class="line-text">GitLab</span></a></li>
            <li><a aria-label="Go to Telegram" href="https://t.me/Kotovskii">
                <span class="icon">
                       <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.7746 5.0626L5.56529 10.2415C5.32693 10.3349 5.14058 10.5249 5.05348 10.7632C4.88553 11.2227 5.12635 11.7297 5.59138 11.8956L8.54328 12.949C8.64403 12.9849 8.75604 12.972 8.84571 12.9141L15.5425 8.5894C15.6331 8.53088 15.7538 8.54878 15.823 8.63104C15.8983 8.72047 15.8859 8.85326 15.7954 8.92763L10.3098 13.4347C10.2367 13.4947 10.1923 13.5821 10.1873 13.6759L10.012 16.944C10.005 17.0758 10.0504 17.2052 10.1386 17.3044L10.1751 17.3415C10.365 17.5159 10.6615 17.5232 10.8605 17.3505L12.8612 15.6133L15.7024 18.7094C15.827 18.8452 15.9911 18.9393 16.1722 18.9789C16.6549 19.0845 17.1329 18.7834 17.2397 18.3064L19.9789 6.07589C20.0175 5.90317 20.0029 5.72296 19.9369 5.55853C19.7545 5.10446 19.2341 4.88242 18.7746 5.0626ZM19.3029 5.8071C19.3186 5.84625 19.3221 5.88915 19.3129 5.93028L16.5737 18.1608C16.5483 18.2743 16.4345 18.346 16.3195 18.3209C16.2764 18.3115 16.2373 18.2891 16.2077 18.2567L13.1411 14.9152L13.1107 14.8859C12.9836 14.7778 12.7925 14.7763 12.6633 14.8884L10.7143 16.5797L10.8603 13.8587L16.2315 9.44581C16.6117 9.13347 16.6636 8.57576 16.3475 8.20014L16.3065 8.15471C16.0109 7.84849 15.5327 7.79063 15.1693 8.02528L8.61451 12.2578L5.82307 11.2617C5.71235 11.2222 5.65501 11.1015 5.695 10.9921C5.71574 10.9354 5.76011 10.8902 5.81686 10.8679L19.0261 5.68902C19.1246 5.65041 19.2348 5.68937 19.2875 5.77636L19.3029 5.8071Z" fill="black"/>
                            </svg>

                </span><span class="line-text">Kotovskii</span></a></li>
            <li><a aria-label="Send email" href="mailto:kotmtt2@gmail.com">
                <span class="icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.71429 6H18.4286C19.3714 6 20.1429 6.675 20.1429 7.5V16.5C20.1429 17.325 19.3714 18 18.4286 18H4.71429C3.77143 18 3 17.325 3 16.5V7.5C3 6.675 3.77143 6 4.71429 6Z" stroke="black" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20.1429 7.71429L11.5714 13.7143L3 7.71429" stroke="black" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                </span><span class="line-text">kotmtt2@gmail.com</span></a></li>
        </ul>
    </div>
</nav>