.menu{
  width: 100%;
  position: fixed;
  z-index: 9999;
  background: rgba(255,255,255,.3);
  box-shadow: 0 4px 10px rgba(125,125,125,.04);
  backdrop-filter: blur(7px);
  padding: rem(24) 0;
  & .container-ds{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__person{
    display: flex;
    align-items: center;
    & img{
      display: inline-flex;
      min-width: rem(60);
      height: rem(60);
      object-fit: cover;
      margin-right: rem(16);
      border-radius: 50%;
    }
    & p{
      font-weight: 600;
      font-size: rem(20);
    }
  }
  & ul{
    margin-bottom: 0;
    display: inline-flex;
    & li{
      margin-right: rem(16);
      & a{
        display: flex;
        align-items: center;
        & .line-text{
          display: inline-flex;
          overflow: hidden;
          position: relative;
          &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            transform: translateX(-100%);
            background-color: $color-black;
            bottom: 0;
            transition: all 0.3s
          }
          &:hover{
            &:before{
              transform: translateX(0);
            }
          }
          @include media-breakpoint-down(mb) {
            display: none;
          }
        }
      }
    }
  }
}