@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$colors: ( 1 : radial-gradient(125.54% 125.54% at 50% 0.93%, #40A3FF 0%, rgba(0, 81, 155, 0) 100%), 2 : radial-gradient(133.45% 133.45% at 50% 7.47%, #CFFF23 0%, rgba(121, 154, 0, 0) 100%), 3 : #F3DFC5);
.sneakers{
  height: 100vh;
  display: flex;
  &:hover{
    & p{
      font-size:calc(60px + 8 * (100vw - 489px) / 1440);
      bottom: 42%;
    }
  }
  &__cnt{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
    & p{
      display: inline-flex;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size:calc(112px + 8 * (100vw - 489px) / 1440);
      line-height: 1.3;
      color: #FFFFFF;
      bottom: 39%;
      position: absolute;
      z-index: -1;
      transition: all 0.3s;
    }
    & img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: rotate(-30.81deg);
      position: relative;
      right: rem(20);
      transition: all 0.3s;
    }
    &:hover{
      flex: 3;
      & img{
        width: 70%;
        transform: rotate(-13.05deg);
      }
      & p{
        padding-top: 0;
        bottom: 2%;
        font-size: rem(120);
        font-weight: 700;
      }
    }
    @each $key, $value in $colors {
      &:nth-child(#{$key}) {
        background: $value;
      }
    }
  }
}