<div class="sneakers">
    <div class="sneakers__cnt">
        <img src="img/air-max.png">
        <p>JORDAN</p>
    </div>
    <div class="sneakers__cnt">
        <img src="img/yeezy.png">
        <p>YEEZY</p>
    </div>
    <div class="sneakers__cnt">
        <img src="img/bape.png">
        <p>BAPE</p>
    </div>
</div>