.mf-modal{
    overflow: hidden;
    &::before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(5px);
        z-index: 14;
    }
    @include media-breakpoint-down(md){
        &::before{
            z-index: 14;
        }
    }
}
.modal{
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container{
        background-color: $color-white;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(40);
        position: relative;
    }
    &-close{
        position: absolute;
        right: rem(24);
        top: rem(24);
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        & .icon{
            width: rem(60);
            height: rem(60);
        }
        & p{
            text-align: center;
        }
    }
    @include media-breakpoint-down(md){
            z-index: 15;
    }
}

[data-modal]{
    display: none;
}
#modal-video{
    & .modal__container{
        background-color: transparent;
        padding: 0;
    }
    & .modal-close{
        right: rem(0);
        top: rem(-50);
    }
    & video, & iframe{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
    & iframe{
        top: 0;
        height: rem(600);
        border: none;
        @include media-breakpoint-down(md){
            height: rem(500);
        }
        @include media-breakpoint-down(mb){
            height: rem(250);
        }
        @media(min-height: 500px) and (max-height: 950px) {
            height: 70vh;
        }
    }
}