.ps {
  overflow-y: hidden !important;
 
  &::-webkit-scrollbar {
		width: 0;
	  }
	&::-webkit-scrollbar-track {
		background: transparent;
	  }
	&::-webkit-scrollbar-thumb {
		background-color: transparent;
	  }
}


.ps__rail-x,
.ps__rail-y,
.ps__thumb-x,
.ps__thumb-y {
  /* please don't change 'position' */
  position: absolute;
  background-color: transparent;
  border-radius: 10px;

  &:before {
    content: '';
    position: absolute;
    display: block;
    //border-radius: rem(6);
    transition: background-color .2s linear, opacity .2s linear;
  }
}

.ps__rail-y {
	left: auto !important;
	right: rem(-20) !important;
  top: 0 !important;
}

.ps__rail-x,
.ps__thumb-x {
  &:before {
    left: rem(10);
    right: rem(10);
    top: 0;
    bottom: 0;
  }
}

.ps__rail-y,
.ps__thumb-y {
  &:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.ps__rail-x,
.ps__rail-y {
  &:before {
		border-radius: 2px;
    background-color: #E6E6E6;
  }
}

.ps__rail-x {
  display: none;
  height: rem(6);
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0;
}

.ps__rail-y {
  display: none;
  width: rem(4);
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
}

/*
 * Scrollbar thumb styles
 */

.ps__thumb-x,
.ps__thumb-y {
  &:before {
		border-radius: 2px;
    background-color: $color-light-grey;

  }
}

.ps__thumb-x {
  height: rem(6);
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 0;

}

.ps__thumb-y {
  width: rem(4);
  /* there must be 'right' for ps__thumb-y */
  right: 0;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  opacity: 0.8;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  opacity: 0.8;
}
