.btn-background{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: rem(200);
  background: #000000;
  & button{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    background-color: transparent;
    width: rem(200);
    height: rem(52);
    text-transform: uppercase;
    border-radius: rem(30);
    font-weight: 500;
    color: #fff;
    transition: all 0.5s;
    z-index: 1;
    border: transparent;
    margin-bottom: rem(40);
  }
  & .line-blur{
    &:before{
      transition: all 0.5s;
      content: '';
      position: absolute;
      width: rem(40);
      height: 100%;
      left: 0;
      bottom: 0;
      border-radius: rem(30) 0 0 rem(30);
      box-shadow: -16px 0px 12px -2px rgb(255, 255, 100, 0.51);
      filter: blur(0.5px);
    }
    &:hover{
      text-shadow: 1px 0px 6px rgba(255,255,100,0.52);
      &:before{
        filter: blur(2px);
        width: 100%;
        border-radius: rem(30);
        box-shadow: 0px 0px 10px 6px rgb(255 255 100 / 51%);
      }
    }
  }
  & .blur{
    &:before{
      transition: all 0.5s;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border: 1px solid #ffffff;
      border-radius: rem(30);
      filter: blur(0.5px);
    }
    &:hover{
      text-shadow: 1px 0px 6px rgba(255,255,100,0.52);
      &:before{
        filter: blur(2px);
        box-shadow: 0px 0px 10px 5px rgba(255,255,100,0.51);
        border: 1px solid #f3ff00;
      }
    }
  }
}