.intro{
  color: $color-white;
  padding-top: rem(160);
  & a{
    color: $color-white;
  }
  & h2{
    width: 100%;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: $color-black;
    margin: rem(32) 0;
    z-index: 5;
    font-weight: 500;
  }
  & ul{
    margin-bottom: 0;
  }
  &__wrap{
    &:not([data-vis]){
      border-bottom: 1px solid $color-grey;
      & .intro__card{
        & a{
          height: 0;
          & span{
            padding: 0;
            height: 0;
          }
        }
      }
    }
  }
  &__card{
      display: grid;
      flex-wrap: wrap;
      grid-template-columns: repeat(auto-fill, minmax(rem(360), 1fr));
      opacity: 0;
      & a{
        transition: all 0.5s;
        display: inline-flex;
        flex-direction: column;
        position: relative;
        justify-content: flex-end;
        border-radius: 6px 6px 0px 0px;
        border: 1px solid $color-light-grey;
        z-index: -1;
        & img{
          position: absolute;
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
        & span{
          display: inline-flex;
          z-index: 2;
          position: relative;
          width: 100%;
          background: rgba(255,255,255,.8);
          backdrop-filter: blur(2px);
          padding: rem(20) rem(20) rem(60) rem(20);
          color: $color-black;
          font-weight: 600;
          box-shadow: -1px -10px 24px -13px rgba(34, 60, 80, 0.10);
        }
        &:hover{
          border: 1px solid $color-grey;
          & span{
            transition: all 0.3s;
            padding: rem(20) rem(20) rem(80) rem(20);
          }
          /*& img{
            transform: scale(1.1);
            transition: all 0.3s;
          }*/
        }
      }
  }
}
[data-vis]{
  & .intro__card{
    position: relative;
    opacity: 1;
    margin-bottom: rem(100);
    gap: 20px;
    & a{
      height: rem(400);
      z-index: 1;
    }
  }
  & [data-step]{
    & .icon-header{
      transition: all 0.3s;
      transform: rotate(0);
    }
  }
}