<!doctype html>
<html lang="ru" class="lil-solid">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lil Solid</title>
    <meta name="description" content="Программа рекомендаций" />
    <meta name="theme-color" content="#212121">
    <link href="../../../../favicon.png" rel="icon" type="image/png">
    <link rel="apple-touch-icon" href="../../../../apple-touch-icon.png">
    {#<script src="https://code.jquery.com/jquery-3.2.1.min.js" defer></script>#}
    <link href="css/components.css" rel="stylesheet">
</head>
<body>

    <main>
        <!-- reskin-header-lilsolid-cli -->
        <section id="crp_header" class="crp_header" class="">
            <div class="crp_header__container">
                <div class="crp_header__logo">
                    <a href="https://iqos.com" aria-label="Логотип IQOS" target="_blank" class="gb-logo">
                        <svg viewBox="0 0 137 45" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.4104 0.996948C26.9212 0.996948 31.0808 3.4724 33.2894 7.4713L43.1098 24.9833C47.9434 33.6073 41.898 44.3907 32.2308 44.3907H12.59C2.90948 44.3907 -3.13588 33.6073 1.7044 24.9833L11.5314 7.4713C13.7401 3.4724 17.8996 0.996948 22.4104 0.996948ZM6.76911 32.3018C9.42941 38.6627 15.6059 42.7593 22.4037 42.6714V42.6849C26.8205 42.6581 31.0457 40.8475 34.1489 37.6518C37.2521 34.4561 38.9787 30.1374 38.9486 25.6468C38.9534 18.7346 34.8505 12.5045 28.5627 9.87621C22.275 7.24795 15.0485 8.74246 10.2702 13.6593C5.49192 18.5761 4.10881 25.9409 6.76911 32.3018Z" fill="#00D2D3"></path><path d="M136.793 27.7723C136.793 25.6265 136.194 24.2659 134.889 23.4874C133.584 22.7089 131.779 22.6616 129.988 22.6616H122.711C120.048 22.6616 119.216 22.0997 119.216 20.3397V20.272C119.216 18.1329 120.275 17.8283 124.183 17.8283H130.395C131.839 17.8689 132.452 17.8892 133.391 18.8369L133.87 19.3379C134.085 19.5926 134.399 19.7391 134.729 19.7391C135.059 19.7391 135.373 19.5926 135.588 19.3379C135.978 19.0066 136.093 18.4467 135.867 17.984C135.867 17.984 135.867 17.984 135.867 17.9502C135.062 16.2849 133.204 15.3711 130.448 15.2899H124.709C121.54 15.2899 119.382 15.6825 118.204 16.4677C117.205 17.1108 116.773 18.0179 116.773 19.4868V20.6308C116.773 22.2892 117.132 23.3994 117.938 24.1102C118.743 24.8209 120.048 25.1865 121.932 25.1865H130.441C133.77 25.1865 134.343 25.8634 134.349 27.5557C134.349 29.9317 133.344 30.1551 128.737 30.1551C128.131 30.1551 122.785 30.1551 122.645 30.1551C121.087 30.1145 120.434 30.0942 119.449 29.1059L118.95 28.5982C118.728 28.347 118.416 28.198 118.084 28.1852C117.761 28.1992 117.455 28.3399 117.232 28.5779C116.849 28.9135 116.737 29.4698 116.959 29.9317C117.791 31.6376 119.729 32.5649 122.572 32.6394H129.343C130.867 32.6394 132.752 32.6394 134.243 32.0234C135.961 31.3059 136.793 29.9385 136.793 27.7994V27.7588V27.7723Z" fill="#34303D"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M99.6152 32.6733C97.6778 32.6733 95.221 32.5446 93.3901 31.5022C91.5192 30.4394 90.6071 28.5576 90.6071 25.8499V22.0727C90.6071 19.3311 91.5725 17.456 93.3901 16.4203C95.2077 15.3847 97.6778 15.2493 99.6152 15.2493H103.61C105.554 15.2493 107.958 15.3508 109.842 16.4203C111.726 17.4899 112.631 19.365 112.631 22.0727V25.8499C112.631 28.5846 111.673 30.4597 109.842 31.5022C108.011 32.5446 105.554 32.6733 103.61 32.6733H99.6152ZM94.6884 18.7422C93.6098 19.5206 93.0839 20.8339 93.0839 22.7563H93.0772V25.2068C93.0772 27.1428 93.6032 28.456 94.6751 29.2277C95.5739 29.8776 96.8323 30.1619 98.763 30.1619H104.476C106.4 30.1619 107.665 29.864 108.55 29.2277C109.629 28.4425 110.155 27.1293 110.155 25.2068V22.7563C110.155 20.8271 109.629 19.5139 108.55 18.7422C107.665 18.0856 106.406 17.8013 104.476 17.8013H98.7764C96.8389 17.8013 95.5739 18.0991 94.6884 18.7422Z" fill="#34303D"></path><path d="M58.4695 32.6665C57.7887 32.6444 57.2502 32.0729 57.2578 31.3803V16.488C57.2578 16.0358 57.4951 15.6179 57.8803 15.3918C58.2655 15.1656 58.7401 15.1656 59.1253 15.3918C59.5105 15.6179 59.7478 16.0358 59.7478 16.488V31.3803C59.7514 31.719 59.622 32.0452 59.3883 32.2866C59.1546 32.528 58.8359 32.6647 58.5028 32.6665" fill="#34303D"></path><path d="M88.7029 33.7428L85.647 30.6019C85.3531 30.2904 84.9388 30.1268 84.5151 30.1551H72.6242C70.6867 30.1551 69.435 29.8708 68.5362 29.2142C67.4576 28.4425 66.9317 27.1292 66.9317 25.2V18.072C66.9299 18.0008 66.9564 17.9319 67.0053 17.8809C67.0542 17.83 67.1213 17.8012 67.1913 17.8012H78.3033C80.2341 17.8012 81.4925 18.0923 82.378 18.7422C83.4565 19.5139 83.9825 20.8271 83.9825 22.7563V26.2086C83.9807 26.4923 84.0899 26.765 84.2859 26.9669C84.4819 27.1687 84.7488 27.2831 85.0278 27.2849H85.4339C85.7129 27.2831 85.9798 27.1687 86.1758 26.9669C86.3718 26.765 86.481 26.4923 86.4792 26.2086V22.0659C86.4792 19.3582 85.5671 17.4763 83.6829 16.4135C81.7987 15.3508 79.3952 15.2154 77.4511 15.2154H65.4669C65.1879 15.2172 64.9211 15.3316 64.725 15.5334C64.529 15.7353 64.4199 16.008 64.4217 16.2917V25.8431C64.4217 28.5508 65.3338 30.4259 67.2046 31.4954C69.0755 32.5649 71.4923 32.6665 73.4298 32.6665H83.6629C83.9401 32.6665 84.206 32.7785 84.4019 32.9779L86.8987 35.5569C87.0935 35.7558 87.3583 35.8675 87.6343 35.8675C87.9104 35.8675 88.1752 35.7558 88.37 35.5569L88.6563 35.2591C89.0623 34.8379 89.0623 34.1639 88.6563 33.7428" fill="#34303D"></path></svg>
                    </a>
                </div>
                <div class="crp_header__nav">
                    <div class="crp_header__nav_item">
                        <a href="#vouchers" class="anchors saveclick" data-click="nav_special">
                            <span class="text">Ваши активные ваучеры</span>
                            <span class="arrow"><svg viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg"><path d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579L10.2929 0.292893C10.6834 -0.0976311 11.3166 -0.0976311 11.7071 0.292893C12.0976 0.683417 12.0976 1.31658 11.7071 1.70711L6 7.41421L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z"></path></svg></span>
                        </a>
                    </div>
                    <div class="crp_header__nav_item">
                        <a href="#recomed" class="anchors saveclick" data-click="nav_vouchers">
                            <span class="text">Ваш код рекомендаций</span>
                            <span class="arrow"><svg viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg"><path d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579L10.2929 0.292893C10.6834 -0.0976311 11.3166 -0.0976311 11.7071 0.292893C12.0976 0.683417 12.0976 1.31658 11.7071 1.70711L6 7.41421L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z"></path></svg></span>
                        </a>
                    </div>
                    <div class="crp_header__nav_item">
                        <a href="#howitwork" class="anchors saveclick" data-click="nav_program">
                            <span class="text">О программе рекомендаций</span>
                            <span class="arrow"><svg viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg"><path d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579L10.2929 0.292893C10.6834 -0.0976311 11.3166 -0.0976311 11.7071 0.292893C12.0976 0.683417 12.0976 1.31658 11.7071 1.70711L6 7.41421L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z"></path></svg></span>
                        </a>
                    </div>
                    <div class="crp_header__nav_item">
                        <a href="#take" class="anchors saveclick" data-click="nav_howitwork">
                            <span class="text">На что потратить ваучеры</span>
                            <span class="arrow"><svg viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg"><path d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579L10.2929 0.292893C10.6834 -0.0976311 11.3166 -0.0976311 11.7071 0.292893C12.0976 0.683417 12.0976 1.31658 11.7071 1.70711L6 7.41421L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683417 0.292893 0.292893Z"></path></svg></span>
                        </a>
                    </div>
                </div>
                <div class="crp_header__button">
                    <button class="burger">
                        <span class="burger__line"></span>
                        <span class="burger__title">Меню</span>
                    </button>
                </div>
            </div>
        </section>
        <!-- /reskin-header-lilsolid-cli -->
        <div class="b-global">
            <section class="recommendations">
                <div class="recommendations__content">
                    <div class="recommendations__items">
                        <div class="recommendations__item">
                            <div class="recommendations__program">
                                <div class="heading recommendations__program--heading"><p>Виктор,<br>
                                        узнайте как воспользоваться <span>программой рекомендаций</span></p></div>
                                <div class="title recommendations__program--title" id="recomed"><p>Вы&nbsp;можете поделиться с&nbsp;другом<sup>1</sup> рекомендацией удобным Вам способом</p></div>
                            </div>
                        </div>
                        <div class="recommendations__bg">
                            <img src="img/lilsolid/lilsolid-banner.webp" class="recommendations__bg--img" alt="lil solid an banner">
                            <div class="recommendations__bg--logo"><svg width="75" height="150" viewBox="0 0 75 150" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M36.4354 16.3276C39.7078 16.3276 42.3621 13.7327 42.3621 10.5342C42.3621 7.33503 39.7078 4.74007 36.4354 4.74007C33.1639 4.74007 30.5096 7.33503 30.5096 10.5342C30.5096 13.7327 33.1639 16.3276 36.4354 16.3276ZM41.8211 68.4683V26.3342C41.8211 23.4255 39.4099 21.0682 36.4332 21.0682C33.4581 21.0682 31.0469 23.4255 31.0469 26.3342V68.4683C31.0469 71.3777 33.4581 73.7335 36.4332 73.7335C39.4099 73.7335 41.8211 71.3777 41.8211 68.4683ZM59.0597 73.7342C62.031 73.7342 64.446 71.3776 64.446 68.4675V5.26666C64.446 2.35654 62.031 0.000732057 59.0597 0.000732057C56.083 0.000732057 53.6718 2.35654 53.6718 5.26666V68.4675C53.6718 71.3776 56.083 73.7342 59.0597 73.7342ZM13.8068 0C10.8332 0 8.42049 2.3573 8.42049 5.26667V68.4683C8.42049 71.3784 10.8332 73.7334 13.8068 73.7334C16.7812 73.7334 19.1946 71.3784 19.1946 68.4683V5.26667C19.1946 2.3573 16.7812 0 13.8068 0ZM26.6472 82.8966C22.6417 82.8966 19.3808 86.0839 19.3808 90.0006C19.3808 93.9165 22.6417 97.1038 26.6472 97.1038C30.6542 97.1038 33.9143 93.9165 33.9143 90.0006C33.9143 86.0839 30.6542 82.8966 26.6472 82.8966ZM26.647 95.0293C23.8106 95.0293 21.5038 92.7725 21.5038 90.001C21.5038 87.228 23.8106 84.9727 26.647 84.9727C29.4827 84.9727 31.791 87.228 31.791 90.001C31.791 92.7725 29.4827 95.0293 26.647 95.0293ZM11.7993 88.5477C10.2554 88.3876 9.33403 87.6827 9.33403 86.6598C9.33403 85.7442 10.3735 84.9723 11.6042 84.9723C12.6193 84.9723 13.5178 85.4834 13.7937 86.215C13.9949 86.7544 14.6038 87.0331 15.1555 86.8319C15.7049 86.6352 15.9884 86.0384 15.7872 85.5005C15.202 83.9427 13.5193 82.8966 11.6042 82.8966C9.18238 82.8966 7.21014 84.5849 7.21014 86.6598C7.21014 88.7869 8.92404 90.3366 11.5821 90.6122C14.6266 90.9102 14.6266 92.229 14.6266 92.7259C14.6266 93.9947 13.2709 95.0288 11.6042 95.0288C10.247 95.0288 9.04825 94.3277 8.68703 93.3257C8.4927 92.7855 7.88609 92.4987 7.33283 92.6924C6.78109 92.8824 6.48998 93.4747 6.68431 94.0148C7.35036 95.861 9.32641 97.1038 11.6042 97.1038C14.4407 97.1038 16.749 95.1406 16.749 92.7259C16.749 91.3454 16.1058 88.9672 11.7993 88.5477ZM45.9466 95.08H38.79V83.9864C38.79 83.4128 38.3152 82.9493 37.7277 82.9493C37.1424 82.9493 36.6676 83.4128 36.6676 83.9864V96.1171C36.6676 96.6908 37.1424 97.1557 37.7277 97.1557H45.9466C46.5334 97.1557 47.0074 96.6908 47.0074 96.1171C47.0074 95.5449 46.5334 95.08 45.9466 95.08ZM50.7707 82.8966C50.184 82.8966 49.7099 83.3615 49.7099 83.9352V96.0667C49.7099 96.6388 50.184 97.1038 50.7707 97.1038C51.3575 97.1038 51.8331 96.6388 51.8331 96.0667V83.9352C51.8331 83.3615 51.3575 82.8966 50.7707 82.8966ZM58.9745 82.8966H55.9743C55.3882 82.8966 54.9119 83.3615 54.9119 83.9345V96.0667C54.9119 96.6388 55.3882 97.1038 55.9743 97.1038H58.9745C62.9815 97.1038 66.2432 93.9165 66.2432 89.9998C66.2432 86.0832 62.9815 82.8966 58.9745 82.8966ZM58.9736 95.0285H57.0364V84.9727H58.9736C61.81 84.9727 64.1183 87.2302 64.1183 90.0003C64.1183 92.7725 61.81 95.0285 58.9736 95.0285Z" fill="white"></path>
                                    <g clip-path="url(#clip0)">
                                        <path d="M1.30909 130.881C0.509091 130.881 0 131.388 0 132.183V145.279C0 146.093 0.509091 146.581 1.30909 146.581C2.09091 146.581 2.61818 146.075 2.61818 145.279V132.202C2.61818 131.388 2.10909 130.881 1.30909 130.881ZM67.9455 137.574H61.3273C58.8182 137.574 58.3636 136.941 58.3636 135.711V135.15C58.3636 133.504 59.0909 133.178 62.6727 133.178H67.0364C69.1455 133.178 70.4182 133.233 70.9636 134.155C71 134.227 71.0546 134.354 71.0546 134.354C71.2182 134.806 71.6545 135.15 72.3455 135.15C73.1091 135.15 73.5818 134.752 73.6182 134.101C73.6182 134.065 73.6364 133.956 73.6182 133.884C73.3636 132.328 72.2364 131.026 67.1818 131.026H63.3455C57 131.026 55.7273 132.491 55.7273 134.86V135.729C55.7273 138.623 57.1091 139.762 60.6364 139.762H68.3636C71.4727 139.762 71.7091 140.649 71.7091 141.915V142.023C71.7091 143.85 71.2364 144.32 66.8182 144.32C66.8182 144.32 61.1818 144.32 61.0546 144.32C59.5818 144.284 58.6546 144.121 58.2364 143.362C58.2 143.289 58.1455 143.181 58.1455 143.181C57.9818 142.729 57.5455 142.385 56.8546 142.385C56.0909 142.385 55.6182 142.783 55.5818 143.434C55.5818 143.47 55.5636 143.579 55.5818 143.651C55.8182 145.116 56.8546 146.364 61.2 146.509C61.7273 146.527 67.3818 146.527 67.3818 146.527C70.1636 146.527 74.3636 146.527 74.3636 142.132V142.078C74.3273 137.899 71.5636 137.574 67.9455 137.574ZM27.4182 145.46V137.248C27.4182 135.186 26.8182 133.811 25.8364 132.889C24.2364 131.315 21.5818 131.026 18.9818 131.026H8.30909C7.49091 131.026 6.96364 131.514 6.96364 132.22V140.522C6.96364 142.566 7.56364 143.959 8.54546 144.881C10.1455 146.455 12.8 146.744 15.4 146.744H25.0182L27.9273 149.638C28.4364 150.145 29.1455 150.127 29.6909 149.566C30.2727 148.987 30.2727 148.3 29.8364 147.848L27.4182 145.46ZM24.6909 144.501H14C12.5818 144.447 11.5636 144.176 10.8727 143.651L10.6909 143.488C10.0909 142.891 9.69091 141.969 9.67273 140.558V133.269H20.3636C21.7818 133.323 22.8 133.576 23.4909 134.119L23.6727 134.282C24.2727 134.879 24.6727 135.801 24.6909 137.212V144.501ZM43.3636 130.863H39.7273C35.5818 130.863 31.3455 131.605 31.3455 137.049V140.359C31.3455 145.804 35.5818 146.545 39.7273 146.545H43.3636C47.5091 146.545 51.7636 145.804 51.7636 140.359V137.049C51.7455 131.605 47.5091 130.863 43.3636 130.863ZM49.0909 140.214C49.0909 143.651 47.1091 144.357 44.1455 144.357H38.9818C36 144.357 34.0182 143.651 34.0182 140.214V137.194C34.0182 133.757 36 133.07 38.9818 133.07H44.1455C47.1091 133.07 49.0909 133.775 49.0909 137.194V140.214ZM24.4 120.444C25.9818 120.444 27.2909 119.269 27.2909 117.731C27.2909 116.194 26 115.018 24.4 115.018C22.8182 115.018 21.5273 116.194 21.5273 117.731C21.5273 119.269 22.8182 120.444 24.4 120.444ZM24.4182 115.995C25.4182 115.995 26.1636 116.718 26.1636 117.713C26.1636 118.726 25.4182 119.432 24.4182 119.432C23.4182 119.432 22.6727 118.726 22.6727 117.713C22.6727 116.7 23.4 115.995 24.4182 115.995ZM37.9273 120.444C39.2364 120.444 40.2182 119.594 40.2182 118.183V115.109H39.1091V118.256C39.1091 119.034 38.6 119.45 37.9273 119.45C37.2546 119.45 36.7455 119.052 36.7455 118.256V115.09H35.6364V118.165C35.6364 119.576 36.6182 120.444 37.9273 120.444ZM44.8909 120.444C45.9455 120.444 46.8182 119.938 47.2909 119.142L46.4546 118.563C46.0909 119.124 45.5818 119.45 44.9091 119.45C43.9091 119.45 43.1636 118.744 43.1636 117.731C43.1636 116.718 43.9091 115.995 44.9091 115.995C45.5818 115.995 46.0909 116.32 46.4546 116.881L47.2909 116.302C46.8182 115.506 45.9455 115 44.9091 115C43.2909 115 42.0182 116.176 42.0182 117.713C42.0182 119.269 43.2909 120.444 44.8909 120.444ZM8.12727 120.444V115.09H7.01818V118.22L3.87273 115H3.50909V120.336H4.61818V117.189L7.74545 120.426H8.12727V120.444ZM33.8545 117.695C33.8545 116.121 32.6364 115.09 30.9091 115.09H29.1455V120.336H30.9091C32.6545 120.336 33.8545 119.251 33.8545 117.695ZM30.9091 119.377H30.2545V116.067H30.9091C32 116.067 32.7273 116.664 32.7273 117.713C32.7273 118.708 32 119.377 30.9091 119.377ZM16.9455 118.491H17.7636L19.1636 120.336H20.4L18.8727 118.274C19.4545 118.003 19.8182 117.46 19.8182 116.773C19.8182 115.742 19 115.072 17.8727 115.072H15.8364V120.318H16.9455V118.491ZM16.9455 116.049H17.8727C18.3818 116.049 18.6909 116.357 18.6909 116.791C18.6909 117.243 18.3818 117.55 17.8727 117.55H16.9455V116.049ZM59.4182 117.695C59.4182 116.121 58.2 115.09 56.4727 115.09H54.7091V120.336H56.4727C58.2 120.336 59.4182 119.251 59.4182 117.695ZM55.8 119.377V116.067H56.4546C57.5455 116.067 58.2727 116.664 58.2727 117.713C58.2727 118.726 57.5455 119.377 56.4546 119.377H55.8ZM50.1818 118.039H52.0364V117.134H50.1818V116.067H52.7091V115.09H49.0727V120.336H52.8V119.359H50.1818V118.039ZM11.4182 120.336H12.5273V116.067H14.2727V115.09H9.69091V116.067H11.4182V120.336ZM1.36364 115.09H0.254545V120.336H1.36364V115.09ZM72.0182 120.336H73.1273V118.274L74.9818 115.09H73.7636L72.5818 117.171L71.3818 115.09H70.1455L72.0182 118.274V120.336ZM69.2727 118.798C69.2727 118.147 68.9091 117.713 68.3091 117.496C68.5636 117.261 68.7091 116.935 68.7091 116.556C68.7091 115.687 68 115.09 67 115.09H65.0909V120.336H67.4909C68.5455 120.336 69.2727 119.703 69.2727 118.798ZM66.1455 116.013H66.9091C67.3636 116.013 67.6182 116.248 67.6182 116.61C67.6182 116.972 67.3636 117.207 66.9091 117.207H66.1455V116.013ZM66.1455 119.413V118.093H67.4C67.8909 118.093 68.1636 118.346 68.1636 118.762C68.1636 119.178 67.8727 119.432 67.4 119.432H66.1455V119.413Z" fill="white"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <rect width="75" height="35" fill="white" transform="translate(0 115)"></rect>
                                        </clipPath>
                                    </defs>
                                </svg></div>
                        </div>
                    </div>
                    <div class="recommendations__block">
                        <div class="recommendations__recomend">
                            <div class="promocode">
                                <div class="promocode__reff">
                                    <fieldset>
                                        <legend>Ваш код рекомендаций:</legend>
                                        <div class="promocode__code">
                                            <div class="promocode__text">r-98765FR5847</div>
                                            <div class="promocode__btn">
                                                <button class="bbtn-copy" data-code="ref" aria-label="Копировать">Копировать</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <textarea aria-label="Copy a code" class="copy-textarea ref">r-798765432</textarea>
                                </div>
                            </div>
                            <div class="share">
                                <div class="share__block">
                                    <div class="share__text">Поделиться с&nbsp;другом</div>
                                    <div class="share__social">
                                        <a aria-label="Share whatsapp" class="share__ico share__whatsapp" data-click="share-whatsapp" href="https://iqos.com" target="_blank">
                        <span><svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M21.7812 4.28027C31.7224 4.28027 39.7812 12.1153 39.7812 21.7803C39.7812 31.4453 31.7224 39.2803 21.7812 39.2803C17.9891 39.2803 14.3733 38.1364 11.3541 36.0466L7.02004 37.7191C5.97002 38.1242 4.78103 37.625 4.36435 36.6041C4.17205 36.133 4.17205 35.6083 4.36438 35.1371L6.22261 30.5857L6.02774 30.2527C4.56341 27.6848 3.78125 24.7876 3.78125 21.7803C3.78125 12.1153 11.8401 4.28027 21.7812 4.28027ZM21.7812 5.87118C12.7439 5.87118 5.41761 12.9939 5.41761 21.7803C5.41761 24.7592 6.2603 27.6156 7.82918 30.0976L8.04381 30.4372L5.88534 35.7239C5.84687 35.8182 5.84687 35.9231 5.88534 36.0173C5.96867 36.2215 6.20647 36.3213 6.41642 36.2403L11.5968 34.2413L11.9636 34.5092C14.7748 36.5621 18.1891 37.6894 21.7812 37.6894C30.8186 37.6894 38.1449 30.5666 38.1449 21.7803C38.1449 12.9939 30.8186 5.87118 21.7812 5.87118ZM18.173 12.5128L20.2958 14.8256C21.1363 15.7414 21.0955 17.1357 20.2029 18.0036L19.2094 18.9695L24.2449 23.8651L24.946 23.1834C26.0212 22.1381 27.7644 22.1381 28.8396 23.1834L30.9615 25.2464C31.0236 25.3067 31.0822 25.3704 31.137 25.437C31.9586 26.4352 31.7922 27.8919 30.7655 28.6906L28.7882 30.2287C26.6403 31.8996 23.5385 31.7115 21.6208 29.794L13.0132 21.1872C11.0988 19.273 11.063 16.2362 12.9317 14.2798L14.6518 12.4788L14.7297 12.401L14.8113 12.3269L14.9388 12.2237C15.9189 11.4843 17.3346 11.5994 18.173 12.5128ZM15.9008 13.5139L15.8509 13.5614L14.1307 15.3623L14.0183 15.4858C12.8576 16.823 12.9191 18.8109 14.1864 20.0782L22.794 28.685L22.9172 28.8026C24.2541 30.0218 26.3211 30.1105 27.7659 28.9865L29.7431 27.4484L29.8078 27.3919C30.0701 27.1343 30.0979 26.7208 29.8593 26.431L29.8327 26.4004L27.6825 24.3083L27.6028 24.2379C27.1641 23.8858 26.5136 23.9093 26.1031 24.3083L24.7713 25.6031L24.7064 25.6594C24.4142 25.8844 23.9884 25.8656 23.7184 25.6031L17.4217 19.4813L17.3639 19.4182C17.1324 19.1341 17.1517 18.7201 17.4217 18.4576L19.0458 16.8787L19.1055 16.8133C19.3253 16.5411 19.3175 16.1492 19.0749 15.8849L16.952 13.5721L16.8905 13.5123C16.6119 13.2715 16.1857 13.2667 15.9008 13.5139Z"></path>
                          </svg></span>
                                            <span>WhatsApp</span></a>
                                        <a aria-label="Share telegram" class="share__ico share__telegram saveclick" data-click="share-telegram" href="https://iqos.com" target="_blank">
                        <span><svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M37.5529 7.00071L6.40616 19.3599C5.84413 19.583 5.40473 20.0363 5.19934 20.605C4.80332 21.7015 5.37118 22.9114 6.46769 23.3074L13.4281 25.8213C13.6657 25.9071 13.9298 25.8762 14.1412 25.738L29.9319 15.4173C30.1456 15.2776 30.43 15.3204 30.5933 15.5167C30.7708 15.7301 30.7416 16.047 30.5282 16.2245L17.5935 26.9803C17.4212 27.1236 17.3165 27.3323 17.3046 27.5561L16.8913 35.3553C16.8747 35.6699 16.9817 35.9786 17.1897 36.2153L17.2758 36.3038C17.7237 36.72 18.4228 36.7375 18.892 36.3253L23.6094 32.1796L30.3089 39.5684C30.6026 39.8923 30.9896 40.1171 31.4166 40.2115C32.5548 40.4634 33.6818 39.7448 33.9337 38.6066L40.3925 9.4189C40.4837 9.00671 40.4493 8.57664 40.2935 8.18424C39.8636 7.1006 38.6365 6.57072 37.5529 7.00071ZM38.7986 8.77743C38.8357 8.87085 38.8439 8.97325 38.8222 9.07139L32.3634 38.2591C32.3034 38.5301 32.0351 38.7012 31.7641 38.6412C31.6624 38.6187 31.5703 38.5652 31.5003 38.4881L24.2694 30.5135L24.1978 30.4437C23.8982 30.1857 23.4475 30.182 23.1429 30.4496L18.5473 34.4859L18.8914 27.9923L31.5565 17.4611C32.4529 16.7157 32.5753 15.3847 31.8299 14.4884L31.7333 14.3799C31.0363 13.6491 29.9087 13.5111 29.0519 14.071L13.596 24.1717L7.014 21.7947C6.75293 21.7005 6.61773 21.4124 6.71202 21.1513C6.76092 21.0159 6.86554 20.908 6.99936 20.8549L38.1461 8.49564C38.3783 8.4035 38.6382 8.49648 38.7624 8.70408L38.7986 8.77743Z"></path>
                          </svg></span>
                                            <span>Telegram</span>
                                        </a>
                                        <a aria-label="Share viber" class="share__ico share__viber saveclick" data-click="share-viber" href="https://iqos.com" target="_blank">
                        <span><svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M22.9967 5.23022C24.5677 5.23022 26.1451 5.26901 27.7313 5.34673L28.9226 5.41232L30.1091 5.49198C35.4107 5.87985 39.5861 10.1687 39.8317 15.4788C39.9161 17.3021 39.9582 19.136 39.9582 20.9802C39.9582 21.7788 39.9503 22.5715 39.9345 23.3596L39.9047 24.5384L39.8633 25.7014C39.6414 31.1398 35.3004 35.507 29.8634 35.7617C27.5744 35.8689 25.2855 35.9225 22.9967 35.9225C22.3725 35.9225 21.7482 35.9185 21.1239 35.9106L20.5615 35.9015L16.1302 40.9162C15.8849 41.1938 15.5538 41.3765 15.194 41.4385L15.0579 41.456L14.9198 41.4619C14.1409 41.4619 13.4822 40.9082 13.3315 40.1206L13.3112 39.9872L13.3044 39.8467L13.3028 35.2352L13.1801 35.1942C9.3156 33.8547 6.54454 30.3578 6.16864 26.2295L6.14827 25.9707L6.13444 25.7156C6.06825 24.1453 6.03516 22.5669 6.03516 20.9802C6.03516 19.8566 6.05587 18.7289 6.09738 17.5951L6.14584 16.4592L6.2077 15.3283C6.52598 10.0839 10.6716 5.88211 15.9112 5.49319C18.273 5.31788 20.6348 5.23022 22.9967 5.23022ZM22.9967 6.84561C20.6747 6.84561 18.3528 6.93179 16.0307 7.10414C11.675 7.42745 8.2128 10.8649 7.83754 15.1889L7.8204 15.4213L7.75907 16.5426C7.68672 18.0291 7.65054 19.5083 7.65054 20.9802C7.65054 22.5442 7.68316 24.1 7.74838 25.6475C7.91265 29.5447 10.596 32.8579 14.3201 33.8553C14.6411 33.9413 14.8732 34.2135 14.9128 34.537L14.9188 34.6354L14.9184 39.8L14.9198 39.8466L19.5978 34.5532C19.7547 34.3757 19.9816 34.276 20.2185 34.2805C21.1446 34.2983 22.0706 34.3071 22.9967 34.3071C25.2603 34.3071 27.524 34.2541 29.7878 34.1481C34.3104 33.9362 37.9367 30.3615 38.2366 25.8727L38.2491 25.6397L38.2902 24.4851C38.3253 23.3301 38.3428 22.1618 38.3428 20.9802C38.3428 19.1608 38.3012 17.3519 38.218 15.5534C38.0138 11.1391 34.6001 7.55885 30.231 7.12368L29.996 7.10339L28.8193 7.02438C26.8683 6.9052 24.9275 6.84561 22.9967 6.84561ZM14.1339 11.6382C15.0556 10.668 16.5893 10.6286 17.5595 11.5503C17.6376 11.6245 17.7106 11.7038 17.7781 11.7877L17.8751 11.9167L20.0579 15.0324C20.7509 16.0216 20.6063 17.3615 19.7406 18.1811L19.6236 18.285L18.626 19.1155L18.7365 19.4227C19.1998 20.641 19.9164 21.7351 20.8916 22.7103C21.8758 23.6945 23.0293 24.4634 24.3577 25.0193L24.6934 25.1538L25.4782 24.1715C26.2368 23.2218 27.5746 22.9865 28.6067 23.5992L28.734 23.6802L32.043 25.9305C33.1495 26.683 33.4365 28.1901 32.684 29.2967C32.6196 29.3915 32.5486 29.4815 32.4715 29.566L32.3514 29.6888L30.6792 31.2813C29.7502 32.1661 28.3857 32.4174 27.2024 31.9215C23.5106 30.3744 20.4185 28.3582 17.9321 25.8718C15.4347 23.3744 13.4644 20.2664 12.0208 16.555C11.5888 15.4445 11.8045 14.1914 12.5704 13.291L12.6894 13.1586L14.1339 11.6382ZM16.4469 12.7215C16.1484 12.4379 15.6898 12.4272 15.3794 12.6816L15.305 12.7508L13.8606 14.2712C13.4297 14.7248 13.2995 15.3864 13.5262 15.9694C14.8912 19.4784 16.7407 22.396 19.0743 24.7295C21.4068 27.062 24.3223 28.9631 27.8268 30.4317C28.3761 30.6619 29.0037 30.57 29.4624 30.2015L29.5652 30.1116L31.2374 28.519C31.2789 28.4795 31.316 28.4357 31.3482 28.3883C31.5812 28.0458 31.5153 27.5882 31.2094 27.3237L31.1346 27.2662L27.8256 25.0159C27.5035 24.7968 27.0758 24.8408 26.8047 25.1082L26.7403 25.1797L25.9556 26.1621C25.5165 26.7117 24.7722 26.914 24.1153 26.6622C22.4351 26.0181 20.9775 25.0806 19.7494 23.8526C18.5199 22.6231 17.6333 21.215 17.0965 19.6353C16.8957 19.0443 17.0541 18.3949 17.4939 17.9631L17.5925 17.874L18.5901 17.0435C18.8882 16.7954 18.9647 16.3746 18.7851 16.0408L18.7349 15.9593L16.5521 12.8436C16.5212 12.7995 16.486 12.7586 16.4469 12.7215ZM22.7948 10.0764C28.7053 10.0764 33.4967 14.8678 33.4967 20.7783C33.4967 21.2244 33.1351 21.586 32.689 21.586C32.2429 21.586 31.8813 21.2244 31.8813 20.7783C31.8813 15.7599 27.8131 11.6918 22.7948 11.6918C22.3487 11.6918 21.9871 11.3301 21.9871 10.8841C21.9871 10.438 22.3487 10.0764 22.7948 10.0764ZM23.4005 12.9033C27.4152 12.9033 30.6698 16.1578 30.6698 20.1725C30.6698 20.6186 30.3081 20.9802 29.8621 20.9802C29.416 20.9802 29.0544 20.6186 29.0544 20.1725C29.0544 17.05 26.5231 14.5187 23.4005 14.5187C22.9545 14.5187 22.5928 14.1571 22.5928 13.711C22.5928 13.2649 22.9545 12.9033 23.4005 12.9033ZM23.8044 15.7302C26.0348 15.7302 27.8428 17.5383 27.8428 19.7687C27.8428 20.2148 27.4812 20.5764 27.0352 20.5764C26.6209 20.5764 26.2795 20.2646 26.2329 19.8629L26.2275 19.7687C26.2275 18.4305 25.1426 17.3456 23.8044 17.3456C23.3583 17.3456 22.9967 16.984 22.9967 16.5379C22.9967 16.0918 23.3583 15.7302 23.8044 15.7302Z"></path>
                          </svg>
                        </span>
                                            <span>Viber</span>
                                        </a>
                                        <a aria-label="Share messenger" class="share__ico share__messenger saveclick" data-click="share-messenger" href="https://iqos.com" target="_blank">
                        <span><svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M25.211 27.1377C25.0171 27.3435 24.6898 27.3432 24.4964 27.1369L20.5142 22.8898C20.3613 22.7268 20.1175 22.6878 19.9214 22.795L13.99 26.037C13.5003 26.3046 13.0152 25.6768 13.3979 25.2705L20.7983 17.4142C20.9906 17.21 21.3146 17.2085 21.5089 17.4107L25.6017 21.6719C25.7557 21.8322 25.9983 21.8689 26.1928 21.7612L31.9759 18.5601C32.4655 18.2891 32.954 18.918 32.5703 19.3253L25.211 27.1377ZM19.9348 24.611L23.3292 28.2313C24.1537 29.1106 25.5491 29.1123 26.3757 28.2348L33.7349 20.4224C35.3708 18.6858 33.2884 16.0048 31.2011 17.1603L26.1645 19.9481L22.6628 16.3024C21.8347 15.4402 20.4534 15.4469 19.6337 16.3171L12.2333 24.1734C10.6018 25.9054 12.6696 28.5821 14.7574 27.4409L19.9348 24.611ZM23.0587 6.6C13.8507 6.6 6.6 13.4836 6.6 21.7209C6.6 26.3536 8.87189 30.5297 12.5089 33.3246C13.0157 33.7141 13.33 34.3235 13.33 34.9876V38.4141L16.9342 36.4359C17.4142 36.1725 17.9692 36.1123 18.4815 36.2484C19.9333 36.6338 21.4683 36.8419 23.0587 36.8419C32.2667 36.8419 39.5174 29.9583 39.5174 21.7209C39.5174 13.4836 32.2667 6.6 23.0587 6.6ZM17.704 37.8385C17.816 37.7771 17.9475 37.762 18.0709 37.7948C19.6553 38.2154 21.3283 38.4419 23.0587 38.4419C33.0322 38.4419 41.1174 30.9557 41.1174 21.7209C41.1174 12.4862 33.0322 5 23.0587 5C13.0852 5 5 12.4862 5 21.7209C5 26.8988 7.54269 31.5262 11.5339 34.5933C11.6566 34.6876 11.73 34.8329 11.73 34.9876V40.2889C11.73 40.6617 12.1294 40.8981 12.4562 40.7188L17.704 37.8385Z"></path>
                          </svg></span>
                                            <span>Messenger</span>
                                        </a>
                                        <a aria-label="Share sms" class="share__ico share__sms" data-click="share-sms" href="https://iqos.com" target="_blank">
                        <span><svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5106 22.7184C14.6617 22.791 14.7746 22.8503 14.8496 22.8964C15.0086 22.9921 15.1286 23.0925 15.2098 23.1974C15.2505 23.2485 15.281 23.3035 15.3013 23.3623C15.3023 23.365 15.3031 23.3676 15.304 23.3703C15.3155 23.4054 15.3234 23.442 15.3277 23.4799C15.3303 23.5026 15.3316 23.5258 15.3316 23.5494C15.3316 23.6264 15.3219 23.6972 15.3024 23.7619C15.3018 23.7638 15.3012 23.7657 15.3006 23.7676C15.2592 23.9 15.1766 24.0064 15.0525 24.0866C14.8699 24.207 14.606 24.2672 14.261 24.2672C14.221 24.2672 14.1804 24.2664 14.1392 24.2648C14.1031 24.2634 14.0665 24.2614 14.0295 24.2587C14.0256 24.2584 14.0217 24.2581 14.0178 24.2579C14.016 24.2577 14.0142 24.2576 14.0124 24.2574C14.0108 24.2573 14.0091 24.2572 14.0075 24.2571C13.8552 24.2452 13.6952 24.2229 13.5277 24.1902C13.4556 24.1761 13.382 24.1601 13.307 24.1422C13.1846 24.1126 13.0523 24.0754 12.9102 24.0307C12.8784 24.0207 12.8464 24.0131 12.8145 24.0078C12.4222 23.9433 12.0385 24.23 12.0385 24.64C12.0385 24.8865 12.1823 25.1138 12.4159 25.1924C12.4544 25.2053 12.4933 25.2178 12.5325 25.2298C12.6882 25.2775 12.8492 25.3176 13.0152 25.35C13.0161 25.3501 13.017 25.3503 13.0179 25.3505C13.1047 25.3674 13.1929 25.3822 13.2825 25.3949C13.5551 25.4335 13.8406 25.4528 14.1392 25.4528C14.1802 25.4528 14.2208 25.4524 14.261 25.4516C14.8486 25.4399 15.3437 25.3423 15.7464 25.1588C15.7497 25.1573 15.753 25.1558 15.7563 25.1542C15.8987 25.0886 16.0294 25.0122 16.1486 24.9249C16.6138 24.5863 16.8553 24.1279 16.8731 23.5494C16.8738 23.5264 16.8742 23.5033 16.8742 23.4799C16.8742 23.0384 16.7456 22.6664 16.4885 22.3638C16.463 22.3334 16.4353 22.3031 16.4054 22.2727C16.4003 22.2675 16.3951 22.2623 16.3899 22.2571C16.2024 22.0712 15.934 21.8859 15.5848 21.7011C15.5808 21.699 15.5768 21.697 15.5729 21.6949C15.4185 21.6136 15.2484 21.5325 15.0627 21.4514C14.9294 21.3934 14.8084 21.3398 14.6998 21.2909C14.6821 21.283 14.6647 21.2751 14.6476 21.2674C14.6265 21.2578 14.6058 21.2484 14.5857 21.2392C14.5338 21.2154 14.4853 21.1929 14.4401 21.1717C14.4384 21.1709 14.4367 21.1701 14.4349 21.1693C14.2602 21.087 14.1363 21.0236 14.0631 20.9791C13.9368 20.8975 13.8414 20.8147 13.7768 20.7307C13.7704 20.7224 13.7644 20.7141 13.7586 20.7058C13.7146 20.6402 13.6856 20.5674 13.6718 20.4873C13.6679 20.465 13.6652 20.4421 13.6637 20.4187C13.6627 20.4035 13.6622 20.388 13.6622 20.3724C13.6622 20.3034 13.6713 20.2389 13.6895 20.1788C13.6901 20.1767 13.6908 20.1746 13.6915 20.1725C13.7276 20.0576 13.7974 19.9591 13.9007 19.8768C14.0597 19.7502 14.288 19.6869 14.5857 19.6869C14.6026 19.6869 14.6195 19.6871 14.6365 19.6873C14.7051 19.6884 14.7739 19.6917 14.8431 19.6972C14.8581 19.6984 14.8731 19.6997 14.8881 19.7011C14.9294 19.7049 14.9707 19.7095 15.0121 19.7149C15.0479 19.7196 15.0839 19.7248 15.1198 19.7306C15.1279 19.7319 15.136 19.7333 15.1441 19.7346C15.2115 19.746 15.279 19.7595 15.3468 19.7749C15.3815 19.7827 15.4173 19.7913 15.4544 19.8007C15.4552 19.8009 15.4561 19.8012 15.4569 19.8014C15.5579 19.827 15.6677 19.8585 15.7864 19.8959C15.8119 19.904 15.8377 19.9104 15.8634 19.9153C16.1507 19.9697 16.4466 19.8314 16.5699 19.5601C16.7161 19.2386 16.5641 18.8573 16.2269 18.7519C16.2025 18.7443 16.1781 18.7368 16.1538 18.7295C16.0128 18.6869 15.874 18.6495 15.7375 18.6171C15.6977 18.6076 15.6575 18.5986 15.6172 18.5901C15.6161 18.5899 15.6149 18.5897 15.6138 18.5894C15.5365 18.5733 15.4582 18.5592 15.3791 18.5471C15.1397 18.5104 14.8922 18.4921 14.6365 18.4921C14.6195 18.4921 14.6025 18.4922 14.5857 18.4923C13.9744 18.4982 13.4676 18.61 13.0654 18.8277C12.9672 18.8809 12.8752 18.9404 12.7895 19.0062C12.3578 19.34 12.1364 19.7954 12.1252 20.3724C12.1249 20.3877 12.1247 20.4032 12.1247 20.4187C12.1247 20.7367 12.1924 21.0146 12.3277 21.2523C12.3845 21.3521 12.4493 21.4467 12.5222 21.5361C12.527 21.542 12.5318 21.5479 12.5367 21.5537C12.6341 21.6706 12.7454 21.7785 12.8706 21.8775C12.9857 21.9684 13.1298 22.0612 13.3032 22.1561C13.314 22.162 13.325 22.168 13.336 22.1739C13.4968 22.2603 13.6816 22.3483 13.8905 22.4379C14.141 22.5466 14.3481 22.6403 14.5106 22.7184C14.5104 22.7183 14.5108 22.7185 14.5106 22.7184ZM16.1081 17.0606C16.306 17.1076 16.5048 17.1624 16.7041 17.2247C17.0691 17.3388 17.3714 17.5308 17.6076 17.7725C18.0765 17.2895 18.7329 16.9893 19.4593 16.9893H19.9169C21.0228 16.9893 22.0058 17.694 22.3609 18.7413L22.4348 18.9593L22.5293 18.6966C22.8977 17.6723 23.8692 16.9893 24.9577 16.9893H25.4289C26.2841 16.9893 27.0421 17.4053 27.5117 18.046C27.6177 17.9387 27.7329 17.8366 27.8572 17.7405L27.8618 17.7369C28.6794 17.1094 29.682 16.8921 30.683 16.8921C31.1839 16.8921 31.6758 16.9462 32.1545 17.0606C32.3525 17.1076 32.5513 17.1624 32.7507 17.2247C34.0859 17.6419 34.582 19.1029 34.073 20.2223C33.9247 20.5486 33.7121 20.8164 33.4593 21.0225C33.5659 21.1199 33.6656 21.2225 33.757 21.3308C34.2859 21.9549 34.5207 22.7056 34.5207 23.4799C34.5207 24.5898 34.0446 25.5579 33.1365 26.2186C32.2851 26.8406 31.2384 27.0528 30.1857 27.0528C29.407 27.0528 28.6569 26.946 27.9522 26.7088C27.6905 26.6208 27.463 26.4906 27.2704 26.3308C26.8533 26.7212 26.2927 26.9602 25.6763 26.9602C25.0548 26.9602 24.4901 26.7172 24.072 26.3211C23.6116 26.724 23.0119 26.9602 22.3718 26.9602H22.3244C21.7192 26.9602 21.1509 26.7492 20.7022 26.3866C20.2965 26.7437 19.7643 26.9602 19.1814 26.9602C18.4229 26.9602 17.7501 26.5935 17.3305 26.0278C17.254 26.0939 17.1738 26.1576 17.0899 26.2186L16.2961 25.1276C16.1874 25.2367 16.0646 25.3369 15.9275 25.4262M16.2961 25.1276L17.0942 26.2155C16.2421 26.8399 15.1936 27.0528 14.1392 27.0528C13.3604 27.0528 12.6104 26.946 11.9056 26.7088C10.9387 26.3835 10.4385 25.4827 10.4385 24.64C10.4385 23.7949 10.8685 23.1385 11.4704 22.7609C11.2661 22.546 11.0869 22.3069 10.9372 22.0438C10.6437 21.5281 10.5247 20.9687 10.5247 20.4187C10.5247 19.3641 10.9454 18.4097 11.8106 17.7405L11.8153 17.7369C12.6328 17.1094 13.6355 16.8921 14.6365 16.8921C15.1374 16.8921 15.6294 16.9462 16.1081 17.0606M16.2961 25.1276C16.5988 24.8234 16.7921 24.4495 16.8786 24.0501ZM18.4786 24.6574C18.4786 25.0456 18.7933 25.3602 19.1814 25.3602C19.4522 25.3602 19.6872 25.2071 19.8045 24.9826C19.8554 24.8854 19.8842 24.7748 19.8842 24.6574V22.211C19.8842 22.0744 19.8796 21.8865 19.8704 21.6472C19.8666 21.5473 19.8619 21.4383 19.8565 21.3204C19.8458 21.088 19.8319 20.8207 19.815 20.5186C19.8091 20.4131 19.8028 20.3034 19.7961 20.1893C19.7958 20.1853 19.7956 20.1813 19.7954 20.1773C19.7938 20.1496 19.7921 20.1217 19.7904 20.0935C19.7902 20.0898 19.79 20.086 19.7898 20.0823C19.7896 20.0801 19.7895 20.0778 19.7894 20.0756C19.7885 20.0608 19.8002 20.0482 19.815 20.0482C19.8242 20.0482 19.8325 20.0531 19.8371 20.0608C19.838 20.0623 19.8387 20.0639 19.8393 20.0657L21.3949 24.6921C21.4158 24.7544 21.4426 24.8136 21.4746 24.869C21.6471 25.1687 21.969 25.3602 22.3244 25.3602H22.3718C22.3782 25.3602 22.3846 25.3601 22.3909 25.36C22.7965 25.3522 23.1562 25.0951 23.2943 24.7123L24.9673 20.0747C24.9711 20.0643 24.9809 20.0574 24.9919 20.0574C25.0068 20.0574 25.0186 20.0701 25.0179 20.085C25.0178 20.0876 25.0177 20.0902 25.0175 20.0928C25.016 20.1246 25.0145 20.156 25.0131 20.1869C25.013 20.1877 25.013 20.1885 25.0129 20.1893C25.0053 20.3514 24.9982 20.5005 24.9919 20.6369C24.9765 20.9669 24.965 21.2216 24.9573 21.401C24.9531 21.5018 24.95 21.5788 24.9482 21.6321C24.948 21.6404 24.9479 21.6486 24.9478 21.6569C24.9447 21.8443 24.9431 22.0105 24.9431 22.1554V24.627C24.9431 24.6866 24.9502 24.7445 24.9636 24.8C25.0414 25.1214 25.331 25.3602 25.6763 25.3602C26.0813 25.3602 26.4095 25.0319 26.4095 24.627V19.57C26.4095 19.4062 26.3694 19.2517 26.2983 19.116C26.1827 18.895 25.9853 18.7236 25.7463 18.6419C25.6468 18.6078 25.54 18.5893 25.4289 18.5893H24.9577C24.5441 18.5893 24.1749 18.8489 24.0349 19.2381L22.4111 23.7529C22.4092 23.7582 22.4053 23.7625 22.4004 23.7649C22.3975 23.7663 22.3943 23.7671 22.3909 23.7671C22.386 23.7671 22.3814 23.7654 22.3777 23.7625C22.3745 23.76 22.372 23.7566 22.3706 23.7525L20.8457 19.2551C20.7107 18.8571 20.3372 18.5893 19.9169 18.5893H19.4593C18.9177 18.5893 18.4786 19.0284 18.4786 19.57V24.6574ZM29.3536 24.1422C29.2311 24.1126 29.0989 24.0754 28.9568 24.0307C28.9249 24.0207 28.893 24.0131 28.861 24.0078C28.4688 23.9433 28.085 24.23 28.085 24.64C28.085 24.8865 28.2288 25.1138 28.4624 25.1924C28.501 25.2053 28.5398 25.2178 28.579 25.2298C28.7348 25.2775 28.8957 25.3176 29.0618 25.35C29.0627 25.3501 29.0636 25.3503 29.0645 25.3505C29.1513 25.3674 29.2395 25.3822 29.3291 25.3949C29.6016 25.4335 29.8872 25.4528 30.1857 25.4528C30.2268 25.4528 30.2674 25.4524 30.3075 25.4516C30.8951 25.4399 31.3903 25.3423 31.793 25.1588C31.7963 25.1573 31.7996 25.1558 31.8028 25.1542C31.9452 25.0886 32.076 25.0122 32.1951 24.9249C32.6604 24.5863 32.9019 24.1279 32.9197 23.5494C32.9204 23.5264 32.9207 23.5033 32.9207 23.4799C32.9207 23.0384 32.7922 22.6664 32.5351 22.3638C32.5095 22.3334 32.4818 22.3031 32.452 22.2727C32.4469 22.2675 32.4417 22.2623 32.4364 22.2571C32.249 22.0712 31.9806 21.8859 31.6313 21.7011C31.6274 21.699 31.6234 21.697 31.6194 21.6949C31.465 21.6136 31.295 21.5325 31.1092 21.4514C30.9759 21.3934 30.8549 21.3398 30.7463 21.2909C30.7286 21.283 30.7113 21.2751 30.6942 21.2674C30.6731 21.2578 30.6524 21.2484 30.6323 21.2392C30.5804 21.2154 30.5318 21.1929 30.4867 21.1717C30.4849 21.1709 30.4832 21.1701 30.4815 21.1693C30.3068 21.087 30.1828 21.0236 30.1096 20.9791C29.9834 20.8975 29.8879 20.8147 29.8233 20.7307C29.817 20.7224 29.8109 20.7141 29.8052 20.7058C29.7611 20.6402 29.7322 20.5674 29.7183 20.4873C29.7145 20.465 29.7118 20.4421 29.7102 20.4187C29.7093 20.4035 29.7088 20.388 29.7088 20.3724C29.7088 20.3034 29.7179 20.2389 29.7361 20.1788C29.7367 20.1767 29.7373 20.1746 29.738 20.1725C29.7742 20.0576 29.8439 19.9591 29.9473 19.8768C30.1062 19.7502 30.3346 19.6869 30.6323 19.6869C30.6492 19.6869 30.6661 19.6871 30.683 19.6873C30.7516 19.6884 30.8205 19.6917 30.8896 19.6972C30.9046 19.6984 30.9196 19.6997 30.9347 19.7011C30.9759 19.7049 31.0172 19.7095 31.0587 19.7149C31.0945 19.7196 31.1304 19.7248 31.1664 19.7306C31.1745 19.7319 31.1826 19.7333 31.1907 19.7347C31.258 19.746 31.3256 19.7595 31.3934 19.7749C31.428 19.7827 31.4639 19.7913 31.5009 19.8007C31.5018 19.8009 31.5026 19.8012 31.5035 19.8014C31.6045 19.827 31.7143 19.8585 31.833 19.8959C31.8585 19.904 31.8842 19.9104 31.91 19.9153C32.1972 19.9697 32.4932 19.8314 32.6165 19.5601C32.7627 19.2386 32.6106 18.8573 32.2735 18.7519C32.249 18.7443 32.2247 18.7368 32.2004 18.7295C32.0593 18.6869 31.9206 18.6495 31.7841 18.6171C31.7442 18.6076 31.7041 18.5986 31.6637 18.5901C31.6626 18.5899 31.6615 18.5897 31.6604 18.5894C31.583 18.5733 31.5048 18.5592 31.4257 18.5471C31.1863 18.5104 30.9387 18.4921 30.683 18.4921C30.666 18.4921 30.6491 18.4922 30.6323 18.4923C30.0209 18.4982 29.5141 18.61 29.1119 18.8277C29.0137 18.8809 28.9218 18.9404 28.836 19.0062C28.4044 19.34 28.1829 19.7954 28.1717 20.3724C28.1714 20.3877 28.1713 20.4032 28.1713 20.4187C28.1713 20.7367 28.2389 21.0146 28.3743 21.2523C28.431 21.3521 28.4959 21.4467 28.5687 21.5361C28.5735 21.542 28.5784 21.5479 28.5832 21.5537C28.6806 21.6706 28.7919 21.7785 28.9172 21.8775C29.0322 21.9684 29.1764 22.0612 29.3498 22.1561C29.3606 22.162 29.3715 22.168 29.3826 22.1739C29.5434 22.2603 29.7282 22.3483 29.9371 22.4379C30.1876 22.5466 30.3941 22.64 30.5566 22.7181C30.5568 22.7182 30.5564 22.718 30.5566 22.7181C30.7076 22.7907 30.8212 22.8503 30.8961 22.8964C31.0551 22.9921 31.1752 23.0925 31.2564 23.1974C31.2971 23.2485 31.3276 23.3035 31.3479 23.3623C31.3488 23.365 31.3497 23.3676 31.3506 23.3703C31.3621 23.4054 31.37 23.442 31.3743 23.4799C31.3769 23.5026 31.3782 23.5258 31.3782 23.5494C31.3782 23.6264 31.3684 23.6972 31.3489 23.7619C31.3483 23.7638 31.3477 23.7657 31.3471 23.7676C31.3058 23.9 31.2231 24.0064 31.0991 24.0866C30.9164 24.207 30.6526 24.2672 30.3075 24.2672C30.2675 24.2672 30.2269 24.2664 30.1857 24.2648C30.1496 24.2634 30.113 24.2614 30.076 24.2587C30.0721 24.2584 30.0682 24.2581 30.0644 24.2579C30.0626 24.2577 30.0608 24.2576 30.059 24.2574C30.0573 24.2573 30.0557 24.2572 30.0541 24.2571C29.9017 24.2452 29.7418 24.2229 29.5743 24.1902C29.5021 24.1761 29.4286 24.1601 29.3536 24.1422ZM31.7472 18.2145C31.7464 18.2144 31.7457 18.2142 31.7449 18.214L31.706 18.3868C31.7075 18.3862 31.709 18.3857 31.7105 18.3851M31.8724 18.2443C31.8303 18.2338 31.7886 18.2239 31.7472 18.2145ZM13.7381 20.2991C13.7355 20.3062 13.729 20.3285 13.7262 20.3724C13.7253 20.3857 13.7247 20.4011 13.7247 20.4187C13.7247 20.4482 13.7268 20.4674 13.7283 20.4777C13.7561 20.5221 13.7967 20.57 13.8626 20.6221C13.865 20.624 13.8676 20.6261 13.8705 20.6282"></path>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2126 6.1708C13.0873 6.1708 5.90371 12.9923 5.90371 21.153C5.90371 25.7421 8.1539 29.8793 11.7569 32.6488C12.2636 33.0382 12.5778 33.6475 12.5778 34.3116V37.6852L16.131 35.735C16.611 35.4716 17.166 35.4115 17.6782 35.5474C19.1164 35.9291 20.6371 36.1352 22.2126 36.1352C31.3378 36.1352 38.5214 29.3138 38.5214 21.153C38.5214 12.9923 31.3378 6.1708 22.2126 6.1708ZM16.9009 37.1377C17.0129 37.0762 17.1443 37.0611 17.2678 37.0939C18.8386 37.5108 20.4972 37.7352 22.2126 37.7352C32.1033 37.7352 40.1214 30.3111 40.1214 21.153C40.1214 11.9949 32.1033 4.5708 22.2126 4.5708C12.3218 4.5708 4.30371 11.9949 4.30371 21.153C4.30371 26.2872 6.82462 30.8756 10.7818 33.9173C10.9045 34.0116 10.9778 34.1569 10.9778 34.3116V39.5601C10.9778 39.9328 11.3773 40.1693 11.7041 39.9899L16.9009 37.1377Z"></path>
                          </svg></span>
                                            <span>SMS</span>
                                        </a>
                                        <a aria-label="Share email" class="share__ico share__email " data-click="share-email" href="https://iqos.com" target="_blank">
                        <span><svg width="45" height="44" viewBox="0 0 45 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M39.9855 12.0011C39.9855 10.7424 38.9341 9.72192 37.6372 9.72192H7.89223C6.59531 9.72192 5.54395 10.7424 5.54395 12.0011V31.7544C5.54395 33.0132 6.59531 34.0336 7.89223 34.0336L37.6372 34.0336C38.9341 34.0336 39.9855 33.0132 39.9855 31.7544V12.0011ZM38.42 12.9999L26.9079 23.5176C24.4759 25.7395 20.6753 25.7178 18.2704 23.4683L7.10947 13.0287L7.10947 31.7544C7.10947 32.174 7.45992 32.5141 7.89223 32.5141L37.6372 32.5141C38.0695 32.5141 38.42 32.174 38.42 31.7544V12.9999ZM37.6372 11.2414C37.7594 11.2414 37.875 11.2686 37.978 11.317L25.8349 22.4112C24.0109 24.0776 21.1604 24.0614 19.3567 22.3742L7.54093 11.322C7.64657 11.2704 7.76591 11.2414 7.89223 11.2414L37.6372 11.2414Z"></path>
                          </svg>
                        </span>
                                            <span>E-mail</span>
                                        </a>
                                    </div>
                                    <div id="close" class="share__close"></div>
                                </div>
                            </div>
                            <div class="recommendations__btn">
                                <button id="btnShare" class="bbtn bbtn-1x bbtn-animate-b2b" target="_blank" tabindex="0">Поделиться с другом</button>
                            </div>
                        </div>
                        <div class="recommendations__info">
                            <div class="recommendations__vaucher">
                                <div class="recommendations__vaucher--heading"><p>Как это работает?</p></div>
                                <div class="recommendations__vaucher--text">
                                    <p>Программа рекомендаций&nbsp;— это Ваша возможность получать ваучеры номиналом от&nbsp;500 рублей</p>
                                </div>
                                <div class="recommendations__vaucher--btn">
                                    <a href="#howitwork" class="bbtn bbtn-1x bbtn-arrow saveclick anchors" data-click="btn_recomend_vaucher"><span>Подробнее</span><span><svg viewBox="0 0 22 13" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.799805 6.49999C0.799805 5.83725 1.33706 5.29999 1.9998 5.29999H18.3634C19.0262 5.29999 19.5634 5.83725 19.5634 6.49999C19.5634 7.16273 19.0262 7.69999 18.3634 7.69999H1.9998C1.33706 7.69999 0.799805 7.16273 0.799805 6.49999Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M21.2002 6.49999C21.2002 6.83636 21.059 7.15729 20.8111 7.38458L15.902 11.8846C15.4134 12.3324 14.6543 12.2994 14.2065 11.8109C13.7587 11.3223 13.7917 10.5632 14.2802 10.1154L18.2243 6.49999L14.2802 2.88458C13.7917 2.43675 13.7587 1.67767 14.2065 1.18913C14.6543 0.700583 15.4134 0.667579 15.902 1.11541L20.8111 5.61541C21.059 5.8427 21.2002 6.16363 21.2002 6.49999Z"></path></svg></span></a>
                                </div>
                            </div>
                            <div class="recommendations__vaucher">
                                <div class="recommendations__vaucher--heading"><p>Ваши активные ваучеры</p></div>
                                <div class="recommendations__vaucher--sum">

                                    <p>Общей суммой: <span>0₽</span></p>

                                </div>
                                <div class="recommendations__vaucher--text">
                                    <p><span>На что обменять ваучеры</span></p>
                                </div>
                                <div class="recommendations__vaucher--btn">
                                    <a href="#take" class="bbtn bbtn-1x bbtn-arrow saveclick anchors" data-click="btn_vaucher_exchange"><span>Подробнее</span><span><svg viewBox="0 0 22 13" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.799805 6.49999C0.799805 5.83725 1.33706 5.29999 1.9998 5.29999H18.3634C19.0262 5.29999 19.5634 5.83725 19.5634 6.49999C19.5634 7.16273 19.0262 7.69999 18.3634 7.69999H1.9998C1.33706 7.69999 0.799805 7.16273 0.799805 6.49999Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M21.2002 6.49999C21.2002 6.83636 21.059 7.15729 20.8111 7.38458L15.902 11.8846C15.4134 12.3324 14.6543 12.2994 14.2065 11.8109C13.7587 11.3223 13.7917 10.5632 14.2802 10.1154L18.2243 6.49999L14.2802 2.88458C13.7917 2.43675 13.7587 1.67767 14.2065 1.18913C14.6543 0.700583 15.4134 0.667579 15.902 1.11541L20.8111 5.61541C21.059 5.8427 21.2002 6.16363 21.2002 6.49999Z"></path></svg></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about" id="howitwork">
                <div class="about__content">
                    <div class="about__work">
                        <img src="img/lilsolid/lilsolid-how-is-work.webp" class="about__work-bg" alt="lilsolid how is work">
                        <div class="about__work-info">
                            <div class="heading about__work-info--heading">
                                <p><span>Как это работает?</span></p>
                                <div class="heading-line"></div>
                            </div>
                            <div class="title about__work-info--text">
                                <p><b>Программа рекомендаций&nbsp;— это Ваша возможность получать ваучеры номиналом от&nbsp;500 рублей за&nbsp;каждую<sup>2</sup></b> успешную рекомендацию другу. В&nbsp;рамках программы при успешной рекомендации вознаграждение также доступно и&nbsp;для Вашего друга</p>
                            </div>
                            <img src="img/lilsolid/lilsolid-how-is-work-bl.webp" alt="lilsolid how is work reg">
                        </div>
                    </div>
                    <div class="about__info">
                        <div class="about__recommendation">
                            <div class="heading about__recommendation--heading">
                                <p>Что такое <span>успешная рекомендация?</span></p>
                                <div class="heading-line"></div>
                            </div>
                            <div class="about__recommendation-item">
                                <div class="title about__text">
                                    <svg width="63" height="65" viewBox="0 0 63 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M46.7302 6.54677C42.3589 3.91733 37.2645 2.40918 31.8254 2.40918C15.5739 2.40918 2.39941 15.8732 2.39941 32.4818C2.39941 49.0905 15.5739 62.5545 31.8254 62.5545C48.0768 62.5545 61.2513 49.0905 61.2513 32.4818" stroke="#34303D" stroke-width="3" stroke-linecap="round"></path>
                                        <path d="M44.16 11.3879C40.5817 9.23542 36.4114 8.00085 31.959 8.00085C18.6556 8.00085 7.87109 19.0224 7.87109 32.6182C7.87109 46.2139 18.6556 57.2355 31.959 57.2355C45.2624 57.2355 56.0469 46.2139 56.0469 32.6182" stroke="#00A1E5" stroke-width="3" stroke-linecap="round"></path>
                                        <path d="M17.5 30.0085L29.3968 42.7333L59.5716 11.0518" stroke="#34303D" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                    <p>Ваш друг зарегистрировался<sup>3</sup> c&nbsp;Вашим кодом рекомендаций, в&nbsp;фирменном магазине или перейдя по&nbsp;<a aria-label="Ваш друг зарегестрирован в программе" href="https://iqos.com">ссылке</a>, которой&nbsp;Вы поделились с&nbsp;ним</p>
                                </div>
                                <div class="title about__text">
                                    <svg width="62" height="63" viewBox="0 0 62 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.05 5.59713L52.1708 1.47629C52.863 0.784048 53.9867 0.784048 54.6789 1.47629L59.7466 6.54395C60.4388 7.23619 60.4388 8.35983 59.7466 9.05208L55.6257 13.1729C54.9335 13.8652 53.8099 13.8652 53.1176 13.1729L48.0512 8.10651C47.3577 7.41302 47.359 6.29063 48.0512 5.59839L48.05 5.59713Z" fill="#00A1E5"></path>
                                        <path d="M12.0001 50.1332L48 14.5" stroke="#00A1E5" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.75652 48.7711L52.712 1.81209C53.4037 1.12042 54.5281 1.12042 55.2197 1.81209L60.2884 6.87901C60.9801 7.57068 60.9801 8.69508 60.2884 9.38675L13.3312 56.3458L2.25561 61.4091C1.81046 61.6131 1.28372 61.418 1.07977 60.9729C0.978681 60.7494 0.97336 60.494 1.06558 60.2688L5.37498 49.5975L5.75652 48.7711Z" stroke="#34303D" stroke-width="2"></path>
                                        <path d="M39.7868 61.7203H1.62793" stroke="#34303D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M48.5 7.5L55.0476 14.0157" stroke="#34303D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M45.2911 11.0184L51.3387 17.0235" stroke="#34303D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M5.0166 50.1799H11.7116V56.8749" stroke="#34303D" stroke-width="1.75"></path>
                                    </svg>
                                    <p>Он&nbsp;подтвердил свой возраст и&nbsp;заполнил все поля профиля на&nbsp;сайте <a href="https://iqos.com" aria-label="Он подтвердил свой возраст и заполнил все поля профиля на сайте iqos.com">iqos.com</a> или в&nbsp;<a href="https://iqos.com" aria-label="Фирменном магазине">фирменном магазине</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="discount">
                <div class="discount__content">
                    <div class="heading discount__content--heading">
                        <p>А&nbsp;в&nbsp;чем <span>преимущество</span> <span>для моего друга?</span></p>
                    </div>
                    <div class="title discount__content--text">
                        <p>После регистрации и&nbsp;подтверждения возраста Ваш друг сможет получить вознаграждение на&nbsp;выбор</p>
                    </div>
                    <div class="discount__items">
                        <div class="discount__item">
                            <div class="discount__reward">
                                <fieldset>
                                    <legend>IQOS 3 DUOS</legend>
                                    <p><sub>от</sub>&nbsp;<span>2990₽<sup>4</sup></span><span>2490₽</span></p>
                                </fieldset>
                            </div>
                            <div class="discount__reward">
                                <fieldset>
                                    <legend>lil SOLID 2.0</legend>
                                    <p><span>1490₽</span><span>1990₽</span></p>
                                </fieldset>
                            </div>
                            <div class="discount__reward">
                                <fieldset>
                                    <legend>90<sup>%</sup> СКИДКА</legend>
                                    <p>На аренду<br> устройства</p>
                                </fieldset>
                            </div>
                            <div class="discount__reward">
                                <fieldset>
                                    <legend><span>100₽</span>&nbsp;<span>на телефон</span></legend>
                                    <p>При регистрации по&nbsp;<a href="#recomed" class="anchors">ссылке</a> от&nbsp;Вас</p>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="devices">
                <div class="devices__content">
                    <div class="devices__items">
                        <img src="img/lilsolid/lilsolid-devices-bg.webp" class="devices__bg" alt="lilsolid devices">
                        <div class="devices__info" id="lilsolid">
                            <a href="https://iqos.com" aria-label="Купить Lil solid" class="devices__device" style="background-image: url(img/lilsolid/lilsolid-device-blue.webp);"></a>
                            <div class="devices__condition">
                                <div class="devices__condition--text"><p>Устройства <span>для Вас</span></p></div>
                                <div class="devices__condition--heading"><p>lil SOLID 2.0</p></div>
                                <div class="devices__condition--price"><p>1490 руб.</p></div>
                                <div class="devices__condition--circle">
                                    <div class="devices__condition--circle--color" data-image="img/lilsolid/lilsolid-device-black.webp">
                                        <span class="black"></span>
                                    </div>
                                    <div class="devices__condition--circle--color devices__condition--circle--active" data-image="img/lilsolid/lilsolid-device-blue.webp">
                                        <span class="blue"></span>
                                    </div>
                                </div>
                                <div class="devices__condition--btn">
                                    <a href="https://iqos.com" aria-label="Купить Lil solid" class="bbtn bbtn-1x bbtn-animate-w2t" target="_blank" tabindex="0" data-click="btn_devices_buy_lil">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section class="sticks">
                <div class="sticks__content">
                    <div class="sticks__info">
                        <div class="sticks__logo"><svg width="119" height="71" viewBox="0 0 119 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M117.521 32.3106C118.343 32.3106 119.023 31.6579 119.023 30.8421V22.6839C119.023 21.868 118.366 21.1921 117.521 21.1921H104.633V3.22061C104.633 2.40479 103.952 1.72882 103.13 1.72882H94.9136C94.0919 1.72882 93.4111 2.40479 93.4111 3.22061V46.9954C93.4111 59.6757 103.576 69.3956 117.404 70.3047C118.272 70.3513 119 69.6754 119 68.8129V60.6314C119 59.8621 118.413 59.2328 117.615 59.1629C109.868 58.4869 104.609 53.6619 104.609 46.9954V32.3106H117.521ZM76.2501 0.0738604C71.461 -0.532181 67.4232 3.59356 68.2448 8.37196C68.7378 11.2856 71.1324 13.6632 74.0669 14.1527C78.8795 14.9452 83.0112 10.9593 82.4009 6.2042C82.0252 3.03414 79.4429 0.470118 76.2501 0.0738604ZM53.5958 0.0738604C48.8067 -0.532181 44.7688 3.59356 45.6139 8.39527C46.1069 11.3089 48.5015 13.6632 51.4595 14.1527C56.272 14.9452 60.4038 10.9593 59.7934 6.2042C59.3709 3.01083 56.7885 0.470118 53.5958 0.0738604ZM71.2497 71.004H79.3725C80.1941 71.004 80.8514 70.3513 80.8514 69.5122V22.6605C80.8514 21.8447 80.1941 21.1688 79.3725 21.1688H71.2497C70.4281 21.1688 69.7473 21.8214 69.7473 22.6605V69.5122C69.7708 70.328 70.4281 71.004 71.2497 71.004ZM48.6189 71.004H56.7416C57.5632 71.004 58.244 70.3513 58.244 69.5122V22.6605C58.244 21.8447 57.5867 21.1688 56.7416 21.1688H48.6189C47.7972 21.1688 47.1164 21.8214 47.1164 22.6605V69.5122C47.1164 70.328 47.7972 71.004 48.6189 71.004ZM16.9497 12.7541C13.71 12.7541 11.1042 15.3414 11.1042 18.5581V32.4271H33.1012C33.9229 32.4271 34.6037 33.0798 34.6037 33.8956V41.8441C34.6037 42.6599 33.9463 43.3359 33.1247 43.3359H11.1042V69.4889C11.1042 70.3047 10.4468 70.9574 9.62517 70.9574H1.50247C0.680805 71.004 0 70.328 0 69.5122V18.5581C0 9.25771 7.58276 1.72882 16.9497 1.72882H33.1012C33.9229 1.72882 34.6037 2.40479 34.6037 3.22061V11.2856C34.6037 12.1014 33.9463 12.7541 33.1247 12.7541H16.9497Z" fill="#34303D"/>
                            </svg>
                        </div>
                        <div class="heading sticks__heading"><p><span>В&nbsp;фирменных магазинах Q&nbsp;STORE</span></p></div>
                        <div class="title sticks__text"><p>Цены могут меняться, уточняйте в&nbsp;конкретном выбранном Вами магазине</p></div>
                        <div class="sticks__price">
                            <p>135₽</p>
                            <p>за пачку</p>
                        </div>
                        <div class="sticks__btn">
                            <a href="https://lil.iqos.ru/" class="bbtn bbtn-1x bbtn-animate-t2b" data-click="btn_stick_find" target="_blank" tabindex="0">Найти магазин</a>
                        </div>
                    </div>
                    <img src="img/lilsolid/lilsolid-fiit.webp" class="sticks__bg" alt="fiit">
                </div>
            </section>
            <section class="vcode" id="vouchers">
                <div class="vcode__items">
                    <div class="vcode__bg">
                        <img src="img/lilsolid/lilsolid-heand.webp" alt="Hand with lil solid">
                    </div>
                    <div class="vcode__content">
                        <div class="heading vcode__content--heading">
                            <p>Ваши активные <span>ваучеры</span></p>
                        </div>

                        <div class="vcode__title">
                            <p>У Вас <span>нет активных</span> ваучеров</p>
                        </div>

                        <div class="vcode__rezult">
                            <div class="vcode__sum">
                                <p>Общая сумма: <span>0₽</span></p>
                            </div>
                            <div class="vcode__btn">
                                <a href="https://iqos.com" aria-label="Потратить" class="bbtn bbtn-1x bbtn-animate-t2b saveclick" target="_blank" tabindex="0">Потратить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="exchange" id="take">
                <div class="exchange__content">
                    <div class="heading exchange__content--heading">
                        <p>Вы можете <span>обменять Ваши ваучеры:</span></p>
                    </div>
                    <div class="exchange__slider">
                        <div title="Сертификаты" class="exchange__item">
                            <div class="exchange__text"><p>Сертификаты партнеров</p></div>
                            <div class="exchange__btn">
                                <a href="https://iqos.com" aria-label="Обменять" class="bbtn bbtn-1x bbtn-animate-g2b" data-click="btn_take_exchange" target="_blank" tabindex="0">Обменять</a>
                            </div>
                            <img src="img/lilsolid/lil-solid-certificates.webp" alt="certificates">
                        </div>
                        <div title="Для чистки" class="exchange__item">
                            <div class="exchange__text"><p>Палочки для чистки</p></div>
                            <div class="exchange__btn">
                                <a href="https://iqos.com" aria-label="Купить" class="bbtn bbtn-1x bbtn-animate-g2b" target="_blank" tabindex="0">Купить</a>
                            </div>
                            <img src="img/lilsolid/lilsolid-stick-for-clear.webp" alt="stick for clear">
                        </div>
                        <div title="Аксессуары" class="exchange__item">
                            <div class="exchange__text"><p>Колпачок для <span>lil SOLID</span></p></div>
                            <div class="exchange__btn">
                                <a aria-label="Купить" href="https://iqos.com" class="bbtn bbtn-1x bbtn-animate-g2b" target="_blank" tabindex="0">Купить</a>
                            </div>
                            <img src="img/lilsolid/lilsolid-cap.webp" alt="lilsolid cap">
                        </div>
                    </div>
                    <div class="exchange__arrows">
                        <button aria-label="Back" class="exchange__arrows_prev" style=""></button>
                        <button aria-label="Next" class="exchange__arrows_next" style=""></button>
                    </div>
                </div>
            </section>
            <section class="wallet">
                <div class="wallet__content">
                    <div class="wallet__content--heading">
                        <p>Пусть ваш код рекомендаций <span>всегда будет под рукой</span></p>
                    </div>
                    <div class="wallet__items">
                        <a href="https://iqos.com" aria-label="Добавить в Apple Wallet" class="wallet__ico">
                <span>
                  <svg width="44" height="35" viewBox="0 0 44 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M40.7411 16.5455H41.7411V15.5455V13C41.7411 12.9857 41.7411 12.9709 41.7411 12.9555C41.7416 12.5502 41.7424 11.7614 41.4633 11.061C41.3092 10.6745 41.0534 10.267 40.6289 9.96041C40.1982 9.64936 39.674 9.5 39.0872 9.5H3.91276C3.32605 9.5 2.80182 9.64936 2.37114 9.96041C1.94659 10.267 1.69075 10.6745 1.53669 11.061C1.25759 11.7614 1.25844 12.5502 1.25888 12.9555C1.2589 12.9709 1.25891 12.9857 1.25891 13V15.5455V16.5455H2.25891H11.5769C13.2688 16.5455 14.7679 17.4315 15.4914 18.7836L15.8351 19.426C15.8357 19.4272 15.8364 19.4283 15.837 19.4295C16.9174 21.4828 19.1265 22.7273 21.5 22.7273C23.8766 22.7273 26.0821 21.4806 27.1779 19.4327L27.5252 18.7836L27.5252 18.7836L27.5287 18.7769C28.2351 17.4323 29.7295 16.5455 31.4231 16.5455H40.7411ZM40.4264 9.591L41.7411 10.0269V8.64182V4.63636H40.7411C41.7411 4.63636 41.7411 4.6358 41.7411 4.63523L41.7411 4.63403L41.7411 4.63147L41.741 4.62565L41.7408 4.61125C41.7406 4.60046 41.7403 4.58727 41.7397 4.57184C41.7386 4.54101 41.7364 4.50103 41.7326 4.45319C41.7248 4.35786 41.7101 4.22924 41.6815 4.07801C41.6252 3.77963 41.5109 3.36984 41.2734 2.95043C40.7613 2.0461 39.7566 1.25 38.0385 1.25H4.96154C4.10729 1.25 3.40041 1.47041 2.8377 1.85213C2.28212 2.22901 1.92577 2.72298 1.69924 3.18398C1.47445 3.64145 1.36705 4.08656 1.31429 4.40867C1.28752 4.57213 1.27376 4.71048 1.26664 4.81181C1.26308 4.86264 1.26115 4.90464 1.26011 4.93637C1.25959 4.95226 1.25929 4.96561 1.25912 4.97626L1.25895 4.99021L1.25892 4.99563L1.25891 4.99795L1.25891 4.99901C1.25891 4.99951 1.25891 5 2.25891 5H1.25891V8.64182V10.0269L2.57364 9.591C2.76553 9.52737 2.89236 9.46573 2.97707 9.42409C3.00296 9.41136 3.01735 9.40452 3.02455 9.40113C3.04032 9.39779 3.09077 9.38872 3.20407 9.3807C3.35034 9.37035 3.57025 9.36364 3.91276 9.36364H39.0872C39.7347 9.36364 39.9049 9.3941 39.9572 9.40754L39.9576 9.40765C39.9697 9.41075 39.9789 9.41311 40.0489 9.44356L40.0641 9.45021C40.142 9.48418 40.2615 9.53634 40.4264 9.591ZM4.96154 1H38.0385C40.28 1 42 2.70141 42 4.63636V18.5455V21.6364V29.3636C42 31.314 40.2965 33 38.0385 33H4.96154C2.70351 33 1 31.314 1 29.3636V21.6364V18.5455V4.63636C1 2.70141 2.72005 1 4.96154 1Z" stroke="white" stroke-width="2"></path>
                  </svg>
                </span>
                            <span>Добавить в&nbsp;<b>Apple Wallet</b></span>
                        </a>
                        <a href="https://iqos.com" aria-label="Добавить в Android Wallet" class="wallet__ico ">
                <span>
                  <svg width="44" height="35" viewBox="0 0 44 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M39.2941 22V30.3382C39.2941 31.8733 38.0497 33.1176 36.5147 33.1176H3.77941C2.24439 33.1176 1 31.8733 1 30.3382V3.77941C1 2.24439 2.24439 1 3.77941 1H36.5147C38.0497 1 39.2941 2.24439 39.2941 3.77941V12.1176" stroke="white" stroke-width="2" stroke-linejoin="round"></path>
                    <path d="M30.6463 12.1177H40.5286C41.8931 12.1177 42.9992 13.2238 42.9992 14.5883V19.5294C42.9992 20.8939 41.8931 22 40.5286 22H30.6463C27.9173 22 25.7051 19.7878 25.7051 17.0589C25.7051 14.3299 27.9173 12.1177 30.6463 12.1177Z" stroke="white" stroke-width="2" stroke-linejoin="round"></path>
                    <path d="M32.618 17.059C32.618 17.8062 32.0123 18.4119 31.2651 18.4119C30.5178 18.4119 29.9121 17.8062 29.9121 17.059C29.9121 16.3118 30.5178 15.7061 31.2651 15.7061C32.0123 15.7061 32.618 16.3118 32.618 17.059Z" stroke="white"></path>
                  </svg>

                </span>
                            <span>Добавить в&nbsp;<b>Android Wallet</b></span>
                        </a>
                        <a href="https://iqos.com" aria-label="Отсканировать QR-код" class="wallet__ico wallet__qrcode">
                <span><svg width="40" height="35" viewBox="0 0 40 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M29.3795 19.7588H35.0002C35.5525 19.7588 36.0002 20.2065 36.0002 20.7588V26.3795M29.3795 33.0002H23.7588C23.2065 33.0002 22.7588 32.5525 22.7588 32.0002V26.3795" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                  <path d="M33.793 32.9999H35.4999C35.776 32.9999 35.9999 32.776 35.9999 32.4999V30.793" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                  <path d="M24.9658 19.7584H23.2589C22.9828 19.7584 22.7589 19.9823 22.7589 20.2584V21.9653" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                  <rect x="4" y="1" width="13.2414" height="13.2414" rx="1" stroke="white" stroke-width="2"></rect>
                  <circle cx="10.621" cy="7.62054" r="1.10345" fill="white"></circle>
                  <rect x="22.7588" y="1" width="13.2414" height="13.2414" rx="1" stroke="white" stroke-width="2"></rect>
                  <circle cx="29.3798" cy="7.62054" r="1.10345" fill="white"></circle>
                  <rect x="4" y="19.7588" width="13.2414" height="13.2414" rx="1" stroke="white" stroke-width="2"></rect>
                  <circle cx="10.621" cy="26.3798" r="1.10345" fill="white"></circle>
                  <circle cx="29.3798" cy="26.3793" r="1.10345" fill="white"></circle>
                  </svg></span>
                            <span>Отсканировать <b>QR-код</b></span>
                        </a>
                    </div>
                </div>
            </section>
            <section class="connection">
                <div class="connection__items">
                    <div class="connection__content">
                        <div class="connection__bl">
                            <div class="connection__bl--heading">
                                <p>Вы&nbsp;можете сохранить контактные данные <span>Службы Заботы,</span></p>
                            </div>
                            <div class="title connection__bl--text">
                                <p>чтобы переходить к&nbsp;рекомендации в&nbsp;пару кликов из&nbsp;чат-бота:</p>
                            </div>
                        </div>
                        <div class="connection__social">
                            <a href="https://iqos.com" aria-label="Чат Telegram" class="connection__ico">
                  <span><svg width="106" height="106" viewBox="0 0 106 106" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="53" cy="53" r="53" fill="white"></circle>
                    <path d="M72.8527 26.2477L21.21 46.7399C20.2782 47.1096 19.5496 47.8613 19.2091 48.8042C18.5525 50.6223 19.494 52.6284 21.3121 53.285L32.8527 57.453C33.2466 57.5953 33.6845 57.5442 34.0351 57.3151L60.2167 40.2028C60.5711 39.9712 61.0427 40.0421 61.3134 40.3675C61.6077 40.7214 61.5593 41.2468 61.2055 41.5411L39.7591 59.3748C39.4735 59.6124 39.2998 59.9584 39.2802 60.3295L38.5949 73.2609C38.5673 73.7825 38.7448 74.2943 39.0896 74.6868L39.2324 74.8336C39.975 75.5236 41.1343 75.5527 41.9122 74.8692L49.7339 67.9954L60.8418 80.2465C61.3288 80.7835 61.9706 81.1561 62.6784 81.3128C64.5658 81.7304 66.4343 80.539 66.852 78.6516L77.561 30.2572C77.7122 29.5737 77.6551 28.8607 77.3969 28.21C76.6839 26.4133 74.6495 25.5347 72.8527 26.2477ZM74.9182 29.1936C74.9797 29.3485 74.9933 29.5183 74.9573 29.681L64.2483 78.0755C64.1488 78.5248 63.7039 78.8085 63.2546 78.7091C63.0861 78.6718 62.9333 78.583 62.8173 78.4552L50.8281 65.233L50.7094 65.1173C50.2127 64.6894 49.4653 64.6833 48.9603 65.127L41.3405 71.8194L41.9112 61.0527L62.9104 43.5915C64.3967 42.3556 64.5997 40.1488 63.3638 38.6625L63.2036 38.4828C62.0479 37.2711 60.1783 37.0422 58.7578 37.9706L33.1312 54.7181L22.2179 50.7769C21.785 50.6205 21.5608 50.1429 21.7172 49.71C21.7982 49.4855 21.9717 49.3066 22.1936 49.2185L73.8363 28.7264C74.2213 28.5736 74.6522 28.7277 74.8582 29.072L74.9182 29.1936Z" fill="#34303D"></path>
                    </svg>
                  </span>
                                <span><b>Чат</b> Telegram</span>
                            </a>
                            <a href="https://iqos.com" aria-label="Чат Viber" class="connection__ico">
                  <span><svg width="106" height="106" viewBox="0 0 106 106" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="53" cy="53" r="53" fill="white"></circle>
                    <path d="M53.333 24C55.9264 24 58.5303 24.064 61.1488 24.1923L63.1155 24.3006L65.074 24.4321C73.8259 25.0724 80.7186 32.1523 81.1241 40.9182C81.2634 43.9282 81.333 46.9555 81.333 50C81.333 51.3183 81.32 52.6269 81.2938 53.9278L81.2447 55.8737L81.1764 57.7937C80.8099 66.7714 73.6439 73.9807 64.6685 74.4012C60.8899 74.5782 57.1114 74.6667 53.333 74.6667C52.3025 74.6667 51.272 74.6601 50.2415 74.6469L49.313 74.632L41.9979 82.9103C41.5929 83.3685 41.0463 83.6701 40.4524 83.7724L40.2277 83.8013L39.9997 83.8111C38.7138 83.8111 37.6266 82.897 37.3778 81.5969L37.3442 81.3767L37.333 81.1447L37.3303 73.532L37.1278 73.4644C30.7483 71.253 26.1739 65.4804 25.5534 58.6656L25.5197 58.2383L25.4969 57.8171C25.3876 55.2249 25.333 52.6192 25.333 50C25.333 48.1452 25.3672 46.2836 25.4357 44.4119L25.5157 42.5367L25.6178 40.6699C26.1433 32.0125 32.9868 25.0761 41.6363 24.4341C45.5351 24.1447 49.434 24 53.333 24ZM53.333 26.6667C49.5 26.6667 45.6669 26.8089 41.8337 27.0935C34.6432 27.6272 28.9278 33.3016 28.3084 40.4397L28.2801 40.8234L28.1788 42.6743C28.0594 45.1284 27.9997 47.5702 27.9997 50C27.9997 52.5819 28.0535 55.1501 28.1612 57.7048C28.4324 64.1383 32.862 69.6076 39.0097 71.2542C39.5396 71.3961 39.9228 71.8455 39.9882 72.3794L39.9981 72.5419L39.9975 81.0676L39.9997 81.1445L47.7221 72.4062C47.9811 72.1131 48.3557 71.9486 48.7468 71.9561C50.2756 71.9853 51.8043 72 53.333 72C57.0697 72 60.8066 71.9125 64.5437 71.7374C72.0095 71.3877 77.9959 65.4866 78.4909 58.0765L78.5116 57.6919L78.5795 55.7858C78.6374 53.8792 78.6663 51.9506 78.6663 50C78.6663 46.9965 78.5977 44.0103 78.4603 41.0415C78.1232 33.7543 72.4879 27.8441 65.2753 27.1257L64.8875 27.0922L62.9449 26.9618C59.7243 26.765 56.5203 26.6667 53.333 26.6667ZM38.7023 34.5782C40.2239 32.9766 42.7557 32.9117 44.3573 34.4332C44.4863 34.5557 44.6068 34.6866 44.7182 34.825L44.8784 35.0381L48.4817 40.1814C49.6256 41.8143 49.387 44.0263 47.9579 45.3792L47.7647 45.5507L46.1178 46.9217L46.3003 47.4288C47.0651 49.4401 48.2481 51.2461 49.858 52.856C51.4826 54.4807 53.3869 55.75 55.5798 56.6677L56.134 56.8897L57.4295 55.2681C58.6818 53.7004 60.8902 53.312 62.5939 54.3233L62.8041 54.457L68.2665 58.1719C70.0933 59.4142 70.5671 61.9021 69.3247 63.7289C69.2184 63.8852 69.1012 64.0338 68.9739 64.1734L68.7758 64.376L66.0153 67.005C64.4817 68.4656 62.2291 68.8804 60.2758 68.0618C54.1814 65.5079 49.0769 62.1795 44.9723 58.0749C40.8497 53.9523 37.5972 48.8216 35.214 42.6949C34.5009 40.8616 34.857 38.7931 36.1214 37.3066L36.3179 37.0881L38.7023 34.5782ZM42.5207 36.3665C42.0279 35.8984 41.2708 35.8808 40.7584 36.3008L40.6357 36.4149L38.2512 38.9248C37.5399 39.6736 37.3249 40.7657 37.6992 41.7282C39.9525 47.5208 43.0057 52.3371 46.858 56.1894C50.7084 60.0398 55.5213 63.1781 61.3065 65.6024C62.2134 65.9825 63.2493 65.8308 64.0066 65.2225L64.1762 65.074L66.9367 62.445C67.0052 62.3798 67.0665 62.3075 67.1197 62.2293C67.5042 61.6639 67.3955 60.9084 66.8905 60.4718L66.767 60.3769L61.3046 56.6621C60.7728 56.3005 60.0667 56.373 59.6192 56.8145L59.513 56.9325L58.2175 58.5541C57.4927 59.4615 56.264 59.7954 55.1796 59.3798C52.4059 58.3165 49.9997 56.769 47.9723 54.7416C45.9427 52.712 44.4792 50.3875 43.593 47.7797C43.2615 46.8042 43.5229 45.7321 44.2491 45.0193L44.4118 44.8722L46.0587 43.5012C46.5507 43.0917 46.677 42.3971 46.3806 41.846L46.2977 41.7115L42.6943 36.5682C42.6433 36.4953 42.5851 36.4278 42.5207 36.3665ZM52.9997 32C62.7567 32 70.6663 39.9096 70.6663 49.6667C70.6663 50.403 70.0694 51 69.333 51C68.5966 51 67.9997 50.403 67.9997 49.6667C67.9997 41.3824 61.2839 34.6667 52.9997 34.6667C52.2633 34.6667 51.6663 34.0697 51.6663 33.3333C51.6663 32.597 52.2633 32 52.9997 32ZM53.9997 36.6667C60.6271 36.6667 65.9997 42.0393 65.9997 48.6667C65.9997 49.403 65.4027 50 64.6663 50C63.93 50 63.333 49.403 63.333 48.6667C63.333 43.512 59.1543 39.3333 53.9997 39.3333C53.2633 39.3333 52.6663 38.7364 52.6663 38C52.6663 37.2636 53.2633 36.6667 53.9997 36.6667ZM54.6663 41.3333C58.3482 41.3333 61.333 44.3181 61.333 48C61.333 48.7364 60.736 49.3333 59.9997 49.3333C59.3159 49.3333 58.7523 48.8186 58.6753 48.1555L58.6663 48C58.6663 45.7909 56.8755 44 54.6663 44C53.93 44 53.333 43.403 53.333 42.6667C53.333 41.9303 53.93 41.3333 54.6663 41.3333Z" fill="#34303D"></path>
                    <path d="M70.667 49.6667C70.667 39.9096 62.7574 32 53.0003 32C52.264 32 51.667 32.597 51.667 33.3333C51.667 34.0697 52.264 34.6667 53.0003 34.6667C61.2846 34.6667 68.0003 41.3824 68.0003 49.6667C68.0003 50.403 68.5973 51 69.3337 51C70.07 51 70.667 50.403 70.667 49.6667Z" fill="#00A1E5"></path>
                    <path d="M66.0003 48.6667C66.0003 42.0393 60.6277 36.6667 54.0003 36.6667C53.264 36.6667 52.667 37.2636 52.667 38C52.667 38.7364 53.264 39.3333 54.0003 39.3333C59.155 39.3333 63.3337 43.512 63.3337 48.6667C63.3337 49.403 63.9306 50 64.667 50C65.4034 50 66.0003 49.403 66.0003 48.6667Z" fill="#00A1E5"></path>
                    <path d="M61.3337 48C61.3337 44.3181 58.3489 41.3333 54.667 41.3333C53.9306 41.3333 53.3337 41.9303 53.3337 42.6667C53.3337 43.403 53.9306 44 54.667 44C56.8761 44 58.667 45.7909 58.667 48L58.676 48.1555C58.753 48.8186 59.3165 49.3333 60.0003 49.3333C60.7367 49.3333 61.3337 48.7364 61.3337 48Z" fill="#00A1E5"></path>
                    </svg></span>
                                <span><b>Чат</b> Viber</span>
                            </a>
                            <a href="https://iqos.com" aria-label="Чат на iqos.com" class="connection__ico">
                  <span><svg width="106" height="106" viewBox="0 0 106 106" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="53" cy="53" r="53" fill="white"></circle>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M77.1093 31C78.9708 31 80.4801 32.5089 80.4801 34.3708V66.0092C80.4801 67.8711 78.9708 69.38 77.1093 69.38L71.9072 69.3796L71.6461 82.6869L57.0608 69.3796L28.3704 69.38C26.5089 69.38 25 67.8711 25 66.0092V34.3708C25 32.5089 26.5089 31 28.3704 31H77.1093Z" stroke="#34303D" stroke-width="2"></path>
                    <rect x="30.5479" y="42.7896" width="43.6906" height="13.5233" rx="6.76164" fill="#00A1E5"></rect>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M77.1093 31C78.9708 31 80.4801 32.5089 80.4801 34.3708V66.0092C80.4801 67.8711 78.9708 69.38 77.1093 69.38L71.9072 69.3796L71.6461 82.6869L57.0608 69.3796L28.3704 69.38C26.5089 69.38 25 67.8711 25 66.0092V34.3708C25 32.5089 26.5089 31 28.3704 31H77.1093Z" stroke="#34303D" stroke-width="3" stroke-linejoin="round"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M61.3037 49.7035C61.3037 51.4447 62.7149 52.8558 64.456 52.8558C66.1971 52.8558 67.6083 51.4447 67.6083 49.7035C67.6083 47.9624 66.1971 46.5513 64.456 46.5513C62.7149 46.5513 61.3037 47.9624 61.3037 49.7035Z" fill="white"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M49.5352 49.7035C49.5352 51.4447 50.9463 52.8558 52.6874 52.8558C54.4285 52.8558 55.8397 51.4447 55.8397 49.7035C55.8397 47.9624 54.4285 46.5513 52.6874 46.5513C50.9463 46.5513 49.5352 47.9624 49.5352 49.7035Z" fill="white"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M37.7666 49.704C37.7666 51.4451 39.1779 52.8563 40.9189 52.8563C42.6602 52.8563 44.0712 51.4451 44.0712 49.704C44.0712 47.9629 42.6602 46.5518 40.9189 46.5518C39.1779 46.5518 37.7666 47.9629 37.7666 49.704Z" fill="white"></path>
                    </svg></span>
                                <span><b>Чат на</b> iqos.com</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <section id="modal_qr">
            <div class="modal_qr__block">
                <div class="modal_qr__block-close" id="modal-qr-close">
                    <span></span>
                    <span></span>
                </div>
                <div class="modal_qr__container">
                    <div class="modal_qr__image">
                        <img src="https://pd-pmi.osmicards.com/JLB0J8WTOT89.png" alt="r-7eiqjaam" title="r-7eiqjaam">
                    </div>
                    <div class="modal_qr__text">
                        Отсканируйте QR-код
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
    <script src="https://cloud.mc.iqos.ru/dev-referral-lk-lil2-js" defer></script>
</body>
</html>
