.lil-solid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  * {
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  p {
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: underline;
    color: inherit;
  }
  @mixin flexbox-row(){
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  @mixin flexbox-only-column(){
    display: flex;
    flex-direction: column;
  }
  @mixin flexbox-center(){
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @mixin flexbox-column(){
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @mixin flexbox-between(){
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @mixin flexbox-between-end(){
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  @mixin flexbox-between-start(){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  @mixin flexbox-stretch(){
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  @mixin flexbox-stretch-column(){
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  @mixin background-res(){
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  @mixin background-res-contain(){
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  @mixin smallHeading(){
    font-size: 1.5625rem;
    line-height: 1.2;
    @media (max-width: 1200px) {
      font-size: 1.416rem;
      line-height: 1.21;
    }
  }
  @mixin paragraph(){
    font-size: 1.625rem;
    line-height: 1.77;
    letter-spacing: 0.01em;
    color: $black;
    @media (max-width: 1500px) {
      font-size: 1.384rem;
      line-height: 1.7;
    }
    @media (max-width: 1024px) {
      font-size: 1.25rem;
      line-height: 1.72;
    }
    @media (max-width: 700px) {
      font-size: 1.4rem;
      line-height: 1.72;
      & b {
        font-weight: 300;
      }
    }
  }
  @mixin heading(){
    font-size: 3.25rem;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: $black;
    @media (max-width: 1500px) {
      font-size: 2.769rem;
      line-height: 1.4;
    }
    @media (max-width: 1024px) {
      font-size: 2.5rem;
      line-height: 1.4;
    }
    @media (max-width: 700px) {
      font-size: 3.1rem;
      line-height: 1.25;
    }
  }
  @mixin heading-line(){
    width: 3.875rem;
    height: 0.5625rem;
    background-color: $black;
    margin-bottom: 2.125rem;
    @media (max-width: 1500px) {
      margin-bottom: 3rem;
    }
  }
  @mixin margin-down-global(){
    margin-bottom: 12.9375rem;
    @media (max-width: 1500px) {
      margin-bottom: 8rem;
    }
    @media (max-width: 700px) {
      margin-bottom: 6.3rem;
    }
  }
  @mixin padding-down(){
    padding-bottom: 11.5rem;
    @media (max-width: 1500px) {
      padding-bottom: 8rem;
    }
  }
  @mixin padding-up(){
    padding-top: 11.5rem;
    @media (max-width: 1500px) {
      padding-top: 8rem;
    }
  }


  $white: #F8F7F3;
  $black: #34303D;
  $blue: #1253A1;
  $b_white: #FFFFFF;
  $red: #F04824;
  $b_blue: #00A1E5;
  $turquoise: #00d2d3;
  $bluegradient: radial-gradient(46.84% 46.84% at 53.16% 43.04%, #1253A1 0%, #074082 100%);

  @keyframes arrow-header {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-3px);
    }
    75% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes modalSwipe {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes modalSwipeM {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }


  main {
    @include flexbox-column;
    min-height: 100vh;
  }
  .b-global {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
  }
  .bbtn {    //font-size: 1rem
    line-height: 1;
    letter-spacing: .03em;
    font-weight: 500;
    padding: 1.063rem 3rem;
    text-decoration: none;
    margin: 0;
    word-spacing: normal;
    text-indent: 0;
    text-shadow: none;
    position: relative;
    transition: ease-out .2s;
    outline: none;
    text-align: center;
    border: none;
    border-radius: 2.0625rem;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    &-3x {
      font-size: 2.25rem;
    }
    &-2x {
      font-size: 1.8765rem;
    }
    &-1x {
      font-size: 1.375rem;
    }
    &-animate {
      &-w2b {
        color: $black;
        background-image: linear-gradient(-45deg, $b_white 50%, $b_blue 50%);
        background-position: 100%;
        background-size: 400%;
        box-shadow: 0px 0px 7px rgba(169, 219, 232, 0.57), 6px 5px 20px rgba(76, 183, 226, 0.63);
        transition: 1s ease-out;
        border: 2px solid $b_white;
        overflow: hidden;
        position: relative;
        &:hover {
          border: 2px solid $b_blue;
          background-position: 0;
          color: $b_white;
        }
      }
      &-w2t {
        color: $black;
        background-image: linear-gradient(-45deg, $b_white 50%, $b_blue 50%);
        background-position: 100%;
        background-size: 400%;
        transition: 1s ease-out;
        border: 2px solid $b_white;
        overflow: hidden;
        position: relative;
        &:hover {
          border: 2px solid $b_blue;
          background-position: 0;
          color: $b_white;
        }
      }
      &-p2w {
        color: $b_white;
        background-image: linear-gradient(-45deg, $black 50%, $b_white 50%);
        background-position: 100%;
        background-size: 400%;
        transition: 1s ease-out;
        border: 2px solid $black;
        overflow: hidden;
        position: relative;
        &:hover {
          border: 2px solid $black;
          background-position: 0;
          color: $black;
        }
      }
      &-w2p {
        color: $black;
        background-image: linear-gradient(-45deg, $white 50%, $black 50%);
        background-position: 100%;
        background-size: 400%;
        transition: 1s ease-out;
        border: 2px solid $black;
        overflow: hidden;
        position: relative;
        &:hover {
          border: 2px solid $black;
          background-position: 0;
          color: $white;
        }
      }
      &-b2b {
        color: $white;
        background-image: linear-gradient(-45deg, $black 50%, $b_blue 50%);
        background-position: 100%;
        background-size: 400%;
        transition: 1s ease-out;
        border: 2px solid $black;
        overflow: hidden;
        position: relative;
        &:hover {
          border: 2px solid $b_blue;
          background-position: 0;
          color: $white;
        }
      }
      &-t2b {
        color: $black;
        background-image: linear-gradient(-45deg, transparent 50%, $b_blue 50%);
        background-position: 100%;
        background-size: 400%;
        transition: 1s ease-out;
        border: 2px solid $black;
        overflow: hidden;
        position: relative;
        &:hover {
          border: 2px solid $b_blue;
          background-position: 0;
          color: $white;
        }
      }
      &-g2b {
        color: $white;
        background-image: linear-gradient(-45deg, transparent 50%, $b_white 50%);
        background-position: 100%;
        background-size: 400%;
        transition: 1s ease-out;
        border: 2px solid $b_white;
        overflow: hidden;
        position: relative;
        &:hover {
          border: 2px solid $b_white;
          background-position: 0;
          color: $black;
          box-shadow: 0px 0px 7px rgba(169, 219, 232, 0.57), 6px 5px 20px rgba(76, 183, 226, 0.63);
        }
      }
    }
    &-arrow {
      color: $b_white;
      //text-transform: uppercase
      font-weight: 600;
      //font-size: 1.5rem
      transition: ease-out .3s;
      & span {
        margin-right: .5rem;
        transition: ease-out .3s;
        &:last-child {
          transition: ease-out .3s;
          width: 2rem;
          text-align: left;
        }
      }
      & svg {
        fill: $b_white;
        width: 1.25rem;
        height: auto;
        box-sizing: border-box;
        transition: ease-out .3s;
      }
      &:hover {
        & svg {
          fill: $b_white;
          margin-left: .5rem;
        }
      }
    }
  }
  .heading {
    & p {
      @include heading;
      text-align: left;
      & span {
        font-weight: bold;
      }
    }
  }
  .title {
    & p {
      @include paragraph;
      & b {
        font-weight: bold;
      }
      & a {
        text-decoration: underline;
        color: $black;
      }
      & sup {
        font-size: 1rem;
      }
    }
  }
  .heading-line{
    @include heading-line;
  }
  #crp_header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    z-index: 9999;
    display: block;
  }
  .crp_header {
    &__container {
      max-width: 95%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      @include flexbox-between;
      flex-direction: row;
    }
    &__button {
      display: none;
      & .burger {
        background-color: transparent;
        border: 0;
        padding: 0;
        margin: 0;
        outline: none;
        position: relative;
        @include flexbox-column;
        align-items: center;
        width: 40px;
        &__line {
          position: relative;
          width: 24px;
          height: 12px;
          transition: ease-out .3s;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 24px;
            height: 2px;
            background-color: $b_white;
            transition: ease-out .3s;
          }
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 24px;
            height: 2px;
            background-color: $b_white;
            transition: ease-out .3s;
          }
        }
        &__title {
          margin-top: 6px;
          font-size: 8px;
          line-height: 1;
          font-family: sans-serif;
          font-weight: 600;
          color: $b_white;
        }
        &-active {
          & .burger {
            &__line {
              &:before {
                transform: rotate(45deg);
                top: 50%;
                margin-top: -1px;
              }
              &:after {
                transform: rotate(-45deg);
                bottom: 50%;
                margin-bottom: -1px;
              }
            }
          }
        }
      }
    }
    &__logo {
      & a {
        display: block;
        & svg {
          height: 45px;
          width: auto;
          display: block;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          & path {
            fill: $b_white;
            &:nth-child(1) {
              fill: $turquoise;
            }
          }
        }
      }
    }
    &__nav {
      flex-grow: 1;
      @include flexbox-row;
      justify-content: flex-end;
      &_item {
        margin-right: 30px;
        position: relative;
        &:last-child {
          margin-right: 0;
        }
        & a {
          font-size: 16px;
          line-height: 1.4;
          font-weight: 500;
          color: rgba(255, 255, 255, 0.5);
          font-family: sans-serif;
          text-decoration: none;
          transition: ease-out .3s;
          position: relative;
          @include flexbox-row;
          align-items: center;
          //opacity: .6
          & .arrow {
            margin-left: 5px;
            position: relative;
            & svg {
              width: 12px;
              height: auto;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              fill: rgba(255, 255, 255, 0.5);
              transition: ease-out .3s;
            }
          }
          &:hover {
            cursor: pointer;
            & .arrow {
              & svg {
                animation: arrow-header 2s ease-out infinite both;
              }
            }
          }
        }
      }
    }
  }
  .crp_gb {
    background-color: $b_white;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.05);
    & .text {
      color: rgba(52, 48, 61, 0.5);
    }
    & .arrow {
      & svg {
        & path {
          fill: rgba(52, 48, 61, 0.5);
        }
      }
    }
    & .gb-logo {
      & svg {
        & path {
          fill: $black;
          &:nth-child(1) {
            fill: $turquoise;
          }
        }
      }
    }
    & .burger {
      &__line {
        &:before {
          background-color: $black;
        }
        &:after {
          background-color: $black;
        }
      }
      &__title {
        color: $black;
      }
    }
  }
  .recommendations {
    background: linear-gradient(73.97deg, #01255B 18.3%, rgba(3, 76, 154, 0) 67.38%), radial-gradient(35.47% 72.11% at 78.39% 3.59%, rgba(0, 161, 229, 0.46) 0%, rgba(0, 161, 229, 0) 100%), radial-gradient(27.08% 56.18% at 72.03% 42.43%, #1575BF 0%, #033C8E 60.18%, #002D71 99.25%);
    position: relative;
    z-index: 1;
    @include flexbox-center;
    &__content {
      width: 120rem;
      max-width: 100%;
      @include flexbox-only-column;
    }
    &__items {
      width: 100%;
      @include flexbox-stretch;
      position: relative;
    }
    &__bg {
      position: relative;
      width: 44.22%;
      height: 40.62rem;
      &--img {
        position: absolute;
        width: 39.9375rem;
        height: 40rem;
        top: 6rem;
        left: -7rem;
        object-fit: cover;
      }
      &:before {
        content: '';
        position: absolute;
        left: -2rem;
        top: 12rem;
        width: 28.0625rem;
        height: 28.0625rem;
        border: 0.625rem solid #FFFFFF;
        box-shadow: 0px 0px 15px #86E3FF, 0px 0px 8px #5FC5E3, inset 0px 0px 15px #86E3FF, inset 0px 0px 8px #5FC5E3;
        border-radius: 1.5625rem;
        z-index: -5;
        box-sizing: border-box;
      }
      &:after {
        content: '';
        position: absolute;
        right: -2rem;
        bottom: -8rem;
        width: 20.75rem;
        height: 20.75rem;
        border: 0.625rem solid #FFFFFF;
        box-shadow: 0px 0px 15px #86E3FF, 0px 0px 8px #5FC5E3, inset 0px 0px 15px #86E3FF, inset 0px 0px 8px #5FC5E3;
        border-radius: 1.5625rem;
        z-index: -3;
        box-sizing: border-box;
      }
      &--logo {
        position: absolute;
        right: 13rem;
        top: 12.5rem;
        & svg {
          max-width: 4.6875rem;
          height: auto;
        }
      }
    }
    &__item {
      position: relative;
      width: 55.78%;
      @include flexbox-row;
      align-items: center;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(129, 198, 244, 0.25);
        backdrop-filter: blur(10px);
        z-index: -1;
      }
    }
    &__program {
      width: 80%;
      &--heading {
        padding-bottom: 1.3125rem;
        & p {
          color: $b_white;
        }
      }
      &--title {
        & p {
          color: $b_white;
        }
      }
    }
    &__block {
      width: 100%;
      @include flexbox-between-end;
      flex-direction: row;
    }
    &__recomend {
      width: 55.78%;
      background: #F7F9F9;
      @include flexbox-column;
      align-items: center;
      padding: 3.4375rem 0;
    }
    &__close {
      display: none;
    }
    &__info {
      width: 44.22%;
      @include flexbox-between-end;
    }
    &__vaucher {
      width: 50%;
      background: linear-gradient(0deg, #023B79, #023B79);
      padding: 5% 9%;
      @include flexbox-stretch-column;
      justify-content: space-between;
      position: relative;
      z-index: 2;
      align-self: stretch;
      &:nth-child(2) {
        background: transparent;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(129, 198, 244, 0.25);
          backdrop-filter: blur(10px);
          z-index: -1;
        }
      }
      &--heading {
        flex-grow: 1;
        padding-bottom: 1.1875rem;
        & p {
          font-weight: bold;
          @include smallHeading;
          letter-spacing: 0.02em;
          color: $b_white;
        }
      }
      &--text {
        & p {
          font-size: 1rem;
          line-height: 1.38;
          color: $b_white;
          & span {
            font-weight: bold;
          }
        }
      }
      &--sum {
        border: 0.5px solid #CFCFCF;
        border-radius: 3px;
        padding: 0.625rem 1.25rem;
        margin-bottom: 1.4375rem;
        & p {
          font-size: 1rem;
          line-height: 1;
          letter-spacing: 0.02em;
          color: $b_white;
          & span {
            font-weight: bold;
          }
        }
      }
      &--btn {
        padding-top: 1.1875rem;
        & a {
          padding: 0 3rem 0 0;
        }
      }
    }
    &__btn {
      display: none;
      width: 90%;
      & button {
        margin: 2.2rem 0 2rem 0;
      }
    }
  }
  .about {
    background-color: #F7F9F9;
    @include margin-down-global;
    @include padding-down;
    @include padding-up;
    @include flexbox-row;
    &__content {
      width: 120rem;
      max-width: 100%;
      position: relative;
      @include flexbox-only-column;
    }
    &__work {
      width: 112.5625rem;
      max-width: 95%;
      @include flexbox-between-start;
    }
    &__work-bg {
      width: 52.92%;
      height: auto;
      object-fit: cover;
    }
    &__work-info {
      width: 40.53%;
      &--heading {
        position: relative;
        & p{
          margin-bottom: 2rem;
        }
      }
      &--text{
        margin-bottom: 8rem;
      }
      & img{
        display: inline-flex;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    &__info {
      width: 105.0625rem;
      max-width: 90%;
      margin: 0 auto;
    }
    &__recommendation {
      width: 97.125rem;
      max-width: 100%;
      &--heading {
        width: 55%;
        position: relative;
        & p{
          margin-bottom: 2rem;
        }
      }
      &-item {
        display: flex;
        justify-content: space-between;
      }
    }
    &__text {
      width: 45.56%;
      & p {
        padding-top: 1rem;
      }
      & svg {
        max-width: 3.75rem;
        height: auto;
      }
    }
  }
  .discount {
    @include margin-down-global;
    align-items: stretch;
    @include flexbox-row;
    &__content {
      width: 105.0625rem;
      max-width: 90%;
      @include flexbox-only-column;
      justify-content: space-between;
      align-items: center;
      &--heading {
        & p {
          text-align: center;
        }
      }
      &--text {
        padding: 0.625rem 0 3.375rem;
        width: 70%;
        & p {
          text-align: center;
        }
      }
    }
    &__items {
      width: 100%;
      background-color: $blue;
      box-shadow: 0px 4px 30px rgba(18, 83, 161, 0.43), 0px 0px 25px rgba(134, 227, 255, 0.6), 0px 0px 11px rgba(95, 197, 227, 0.3), inset 0px 0px 4px rgba(0, 161, 238, 0.3), inset 0px 0px 50px #1253A1;
      border-radius: 0.625rem;
      @include flexbox-row;
      align-items: stretch;
    }
    &__item {
      width: 95%;
      padding: 5.1875rem 0;
      @include flexbox-stretch;
      justify-content: space-between;
    }
    &__reward {
      width: 22.3%;
      @include flexbox-stretch;
      justify-content: center;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 200%;
        background-color: $b_white;
        right: -2rem;
        top: -3.5rem;
      }
      &:last-child {
        &:before {
          content: none;
        }
      }
      &:nth-child(4) {
        & fieldset {
          & p {
            width: 89%;
          }
        }
      }
      & fieldset {
        width: 91%;
        border: 1px solid #F8F7F3;
        border-radius: 4px;
        @include flexbox-center;
        padding: 0.68rem 0;
        & legend {
          width: 90%;
          font-weight: bold;
          font-size: 2.375rem;
          line-height: 1;
          text-align: center;
          letter-spacing: 0.01em;
          color: $b_white;
          & span {
            &:nth-child(1) {
              font-size: 2.25rem;
            }
            &:nth-child(2) {
              @include smallHeading;
            }
          }
          & sup {
            font-size: 1.5rem;
          }
        }
        & p {
          font-size: 1.4375rem;
          line-height: 1.25;
          text-align: center;
          letter-spacing: 0.01em;
          color: $b_white;
          & br {
            display: none;
          }
          & sub {
            @include smallHeading;
            bottom: 0;
          }
          & sup {
            @include smallHeading;
          }
          & span {
            font-size: 2.25rem;
            &:last-child {
              font-size: inherit;
              margin-left: 0.8125rem;
              position: relative;
              &:before {
                content: '';
                position: absolute;
                width: 5.8125rem;
                height: 1px;
                background-color: $b_white;
                bottom: 0.8rem;
                left: -0.5rem;
                transform: rotate(-11deg);
              }
            }
          }
        }
      }
    }
  }
  .devices {
    background: radial-gradient(36.32% 139.04% at 36.16% 57.59%, #005CCA 0%, #1253A1 25.54%, #074082 100%);
    @include flexbox-row;
    @include margin-down-global;
    &__content {
      width: 120rem;
      max-width: 100%;
    }
    &__items {
      width: 104.375rem;
      max-width: 90%;
      @include flexbox-between;
    }
    &__bg {
      width: 57.49%;
      height: 48rem;
      object-fit: cover;
      object-position: right;
    }
    &__info {
      width: 38.63%;
      @include flexbox-between;
    }
    &__device {
      width: 39.5%;
      height: 35.25rem;
      @include background-res-contain;
    }
    &__condition {
      width: 55.8%;
      &--heading {
        & p {
          font-weight: bold;
          font-size: 2.9375rem;
          line-height: 1;
          letter-spacing: 0.01em;
          color: $b_white;
          padding-bottom: 0.5rem;
        }
      }
      &--text {
        padding-bottom: 3.5rem;
        & p {
          font-size: 2.125rem;
          line-height: 1.3;
          letter-spacing: 0.01em;
          color: $b_white;
        }
      }
      &--price {
        & p {
          font-size: 2.5rem;
          line-height: 1;
          color: $b_white;
        }
      }
      &--circle {
        display: flex;
        align-items: center;
        padding-top: 2.3125rem;
        &--active {
          border: 1.00104px solid $b_white;
        }
        &--color {
          width: 2.25rem;
          height: 2.25rem;
          border-radius: 50%;
          box-sizing: border-box;
          @include flexbox-center;
          margin-right: 0.5rem;
          cursor: pointer;
          & span {
            display: inline-flex;
            border-radius: 50%;
            width: 1.625rem;
            height: 1.625rem;
          }
          & .black {
            background-color: $black;
          }
          & .blue {
            background-color: $blue;
            border: 0.300313px solid $b_white;
          }
        }
      }
      &--btn {
        padding-top: 2.125rem;
      }
    }
  }
  .sticks {
    width: 120rem;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    @include margin-down-global;
    &__content {
      width: 112.5rem;
      max-width: 95%;
      @include flexbox-between;
    }
    &__info {
      width: 40.44%;
      padding: 2rem 0;
    }
    &__logo {
      & svg {
        height: auto;
        max-width: 7.4375rem;
      }
    }
    &__heading {
      padding: 3rem 0 0 0;
    }
    &__price {
      display: flex;
      align-items: flex-end;
      padding: 1.75rem 0 2.4375rem 0;
      & p {
        font-weight: bold;
        font-size: 1.625rem;
        line-height: 1;
        letter-spacing: 0.02em;
        color: $black;
        &:nth-child(1) {
          font-size: 3.25rem;
          line-height: 1;
          text-align: center;
          background: $b_blue;
          border-radius: 6px;
          display: inline-flex;
          padding: 0.2rem 1.125rem;
          color: $b_white;
        }
        &:nth-child(2) {
          padding-left: 0.625rem;
        }
      }
    }
    &__bg {
      width: 59.5%;
      height: auto;
      object-fit: contain;
    }

  }
  .vcode {
    background-color: #F7F9F9;
    @include padding-up;
    @include flexbox-row;
    align-items: stretch;
    &__items {
      width: 105.125rem;
      max-width: 90%;
      position: relative;
      z-index: 1;
    }
    &__bg {
      position: absolute;
      right: -25rem;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 38.375rem;
      height: 42.5625rem;
      & img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      &:before {
        content: '';
        position: absolute;
        right: 17.5rem;
        bottom: -5rem;
        width: 22.9375rem;
        height: 22.9375rem;
        border: 0.625rem solid #FFFFFF;
        box-shadow: 0px 0px 15px #86E3FF, 0px 0px 8px #5FC5E3, inset 0px 0px 15px #86E3FF, inset 0px 0px 8px #5FC5E3;
        border-radius: 1.5625rem;
        z-index: -1;
      }
      &:after {
        content: '';
        position: absolute;
        right: 13.5rem;
        top: -12rem;
        width: 17.75rem;
        height: 17.75rem;
        border: 0.625rem solid #FFFFFF;
        box-shadow: 0px 0px 15px #86E3FF, 0px 0px 8px #5FC5E3, inset 0px 0px 15px #86E3FF, inset 0px 0px 8px #5FC5E3;
        border-radius: 1.5625rem;
        z-index: -1;
      }
    }
    &__content {
      width: 82.1875rem;
      max-width: 95%;
      &--heading {
        padding-bottom: 5.625rem;
      }
    }
    &__title {
      padding-bottom: 3.125rem;
      & p {
        font-size: 1.75rem;
        line-height: 1.23;
        letter-spacing: 0.01em;
        color: $black;
        & span {
          font-weight: bold;
        }
      }
    }
    &__vauchers {
      width: 100%;
      overflow-y: scroll;
      height: 22.125rem;
      margin-bottom: 2.125rem;
      padding-right: 2.3125rem;
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background: rgba(148, 148, 148, 0.2);
        border-radius: 3px;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 3px;
      }
      &::-webkit-scrollbar-track-piece {
        background-color: transparent;
        border-radius: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #00A1E5;
        border-radius: 3px;
        position: relative;
      }
      &::-webkit-scrollbar-corner {
        background-color: transparent;
      }
      &::-webkit-resizer {
        background-color: transparent;
      }
    }
    &__item {
      @include flexbox-between;
      width: 100%;
      margin-bottom: 2.545625rem;
    }
    &__info {
      width: 48.5%;
      & fieldset {
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 1rem 1.25rem;
        & legend {
          padding: 0 0.5rem;
          margin-left: -0.5rem;
          font-size: 1.125rem;
          line-height: 1;
          color: $black;
        }
        & p {
          font-size: 1.75rem;
          line-height: 1.24;
          color: $black;
          & span {
            font-weight: bold;
          }
        }
      }
    }
    &__code {
      width: 48.5%;
      position: relative;
      & fieldset {
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 1rem 1.25rem;
        @include flexbox-row;
        justify-content: space-between;
        & legend {
          padding: 0 0.5rem;
          margin-left: -0.5rem;
          font-size: 1.125rem;
          line-height: 1;
          color: $black;
        }
      }
      & .copy {
        &-cod {
          display: flex;
          align-items: center;
          position: relative;
          &--text {
            font-weight: bold;
            font-size: 1.75rem;
            line-height: 1.24;
            color: $black;
            text-transform: uppercase;
          }
          &--btn {
            transition: ease-out 0.2s;
            cursor: pointer;
            padding-left: 0.5rem;
            & svg {
              box-sizing: border-box;
              width: 1.381rem;
              height: 1.381rem;
              margin-left: 0.3125rem;
              fill: $black;
              transition: ease-out 0.2s;
            }
            &:hover {
              & svg {
                fill: #00A1E5;
              }
            }
            &--active {
              & svg {
                fill: #00A1E5;
              }
            }
          }
        }
        &-date {
          & p {
            font-size: 1.75rem;
            line-height: 1.1;
            color: $black;
          }
        }
        &-alert {
          border: 1px solid #ccc;
          background-color: #fff;
          position: absolute;
          right: -4rem;
          top: -2.2rem;
          font-size: .7rem;
          padding: .4rem .5rem;
          border-radius: .25rem;
          z-index: 7777;
        }
      }
    }
    &__rezult {
      border-top: 1px solid #DDDDDD;
      padding-top: 3.125rem;
    }
    &__sum {
      padding-bottom: 1.9375rem;
      & p {
        font-weight: bold;
        font-size: 1.75rem;
        line-height: 1.23;
        letter-spacing: 0.01em;
        color: $black;
        & span {
          font-size: 2.125rem;
        }
      }
    }
  }
  .exchange {
    background-color: #F7F9F9;
    @include padding-down;
    @include padding-up;
    @include flexbox-row;
    align-items: stretch;
    &__content {
      width: 105.125rem;
      max-width: 90%;
      position: relative;
      &--heading {
        padding-bottom: 4.625rem;
      }
    }
    &__slider {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      position: relative;
    }
    &__item {
      outline: none;
      width: 33.625rem;
      max-width: 100%;
      height: 32.8125rem;
      @include flexbox-only-column;
      justify-content: flex-end;
      background-color: $b_blue;
      padding: 0 2rem 2.0625rem 2rem;
      position: relative;
      z-index: 1;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.19%, rgba(0, 0, 0, 0.8) 115.32%);
        z-index: -1;
      }
      & img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        left: 0;
        bottom: 0;
      }

      &:nth-child(2) {
        background-color: $blue;
      }
    }
    &__text {
      padding-bottom: 1.4375rem;
      & p {
        font-weight: 600;
        font-size: 2.125rem;
        line-height: 1.25;
        letter-spacing: 0.01px;
        color: $b_white;
        & span {
          display: inline-flex;
        }
      }
    }
    &__arrows {
      display: none;
      margin-top: 2rem;
      height: 3rem;
      position: relative;
      &_prev {
        width: 3rem;
        height: 3rem;
        background-color: rgba(255, 255, 255, .8);
        border-radius: 50%;
        left: 0;
        outline: none;
        border: 1px solid transparent;
        transition: ease-out .3s;
        z-index: 999;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -.5px;
          left: 50%;
          margin-left: -3px;
          transition: ease-out .3s;
          width: 6px;
          height: 1px;
          background-color: $black;
          transform: rotate(-45deg);
          transform-origin: left;
          border-radius: 0 1px 1px 0;
        }
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -.5px;
          left: 50%;
          margin-left: -3px;
          transition: ease-out .3s;
          width: 6px;
          height: 1px;
          background-color: $black;
          transform: rotate(45deg);
          transform-origin: left;
          border-radius: 0 1px 1px 0;
        }
        &:hover {
          cursor: pointer;
          background-color: rgba(255, 255, 255, 1);
        }
      }
      &_next {
        width: 3rem;
        height: 3rem;
        background-color: rgba(255, 255, 255, .8);
        border-radius: 50%;
        left: 4rem;
        outline: none;
        border: 1px solid transparent;
        transition: ease-out .3s;
        z-index: 999;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -.5px;
          left: 50%;
          margin-left: -3px;
          transition: ease-out .3s;
          width: 6px;
          height: 1px;
          background-color: $black;
          transform: rotate(-45deg);
          transform-origin: right;
          border-radius: 1px 0 0 1px;
        }
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -.5px;
          left: 50%;
          margin-left: -3px;
          transition: ease-out .3s;
          width: 6px;
          height: 1px;
          background-color: $black;
          transform: rotate(45deg);
          transform-origin: right;
          border-radius: 1px 0 0 1px;
        }
        &:hover {
          cursor: pointer;
          background-color: rgba(255, 255, 255, 1);
        }
      }
      & .slick-disabled {
        background-color: rgba(255, 255, 255, .4);
      }
    }
    & .slick {
      &-slide {
        margin: 0 1rem;
        &:first-child {
          margin-left: 0;
        }
      }
      &-list {
        width: 100%;
      }
      &-track {
        display: flex;
        max-width: 100%;
      }
      &-dots {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: -4.25rem;
        width: 100%;
        padding: .5rem;
        margin: 0;
        background-color: $b_white;
        border-radius: 5rem;
        & li {
          list-style: none;
          padding: 0;
          margin: 0;
          border-radius: 0;
          position: relative;
          width: 100%;
          text-align: center;
          & button {
            font-size: 1rem;
            line-height: 1;
            font-weight: 600;
            border-radius: 5rem;
            border: 0 solid transparent;
            padding: 1rem;
            margin: 0;
            background-color: transparent;
            outline: none;
            transition: ease-out .3s;
            display: block;
            width: 100%;
            &:hover {
              background-color: $blue;
              cursor: pointer;
              color: $b_white;
            }
          }
          &.slick-active {
            & button {
              background-color: $blue;
              color: $b_white;
            }
          }
        }
      }
      &-arrow {
        position: absolute;
        bottom: 0;
        font-size: 0;
        &.slick-prev {
          width: 3rem;
          height: 3rem;
          background-color: rgba(255, 255, 255, .4);
          border-radius: 50%;
          left: 2rem;
          outline: none;
          //border: 1px solid transparent
          transition: ease-out .3s;
          z-index: 999;
          &:before {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -1px;
            left: 50%;
            margin-left: -5px;
            transition: ease-out .3s;
            width: 10px;
            height: 1.5px;
            background-color: $black;
            transform: rotate(-45deg);
            transform-origin: left;
            border-radius: 0 1px 1px 0;
          }
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -1px;
            left: 50%;
            margin-left: -5px;
            transition: ease-out .3s;
            width: 10px;
            height: 1.5px;
            background-color: $black;
            transform: rotate(45deg);
            transform-origin: left;
            border-radius: 0 1px 1px 0;
          }
          &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 1);
          }
        }
        &.slick-next {
          width: 3rem;
          height: 3rem;
          background-color: rgba(255, 255, 255, .4);
          border-radius: 50%;
          right: 2rem;
          outline: none;
          border: 1px solid transparent;
          transition: ease-out .3s;
          z-index: 999;
          &:before {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -1px;
            left: 50%;
            margin-left: -5px;
            transition: ease-out .3s;
            width: 10px;
            height: 1.5px;
            background-color: $black;
            transform: rotate(-45deg);
            transform-origin: right;
            border-radius: 1px 0 0 1px;
          }
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -1px;
            left: 50%;
            margin-left: -5px;
            transition: ease-out .3s;
            width: 10px;
            height: 1.5px;
            background-color: $black;
            transform: rotate(45deg);
            transform-origin: right;
            border-radius: 1px 0 0 1px;
          }
          &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 1);
          }
        }
        &.slick-disabled {
          background-color: rgba(255, 255, 255, .4);
        }
      }
    }
  }
  .wallet {
    background-color: $black;
    width: 100%;
    display: flex;
    justify-content: center;
    @include margin-down-global;
    &__content {
      width: 90.25rem;
      max-width: 90%;
      padding: 3.75rem 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &--heading {
        width: 32.55%;
        & p {
          font-weight: 600;
          font-size: 1.75rem;
          line-height: 1.36;
          letter-spacing: 0.01em;
          color: $b_white;
        }
      }
    }
    &__items {
      width: 59.9%;
      @include flexbox-between-start;
    }
    &__ico {
      text-decoration: none;
      color: $b_white;
      @include flexbox-column;
      transition: ease-out .3s;
      &:hover {
        & span {
          & svg {
            & path,
            rect,
            circle {
              stroke: #00A1E5;
            }
          }
        }
      }
      &:nth-child(2) {
        margin: 0 1rem;
      }
      & span {
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.01em;
        color: $b_white;
        transition: ease-out .3s;
        &:nth-child(2) {
          padding-top: 1rem;
        }
        & svg {
          transition: ease-out all .3s;
          height: auto;
          max-width: 2.6875rem;
          & path {
            stroke: $b_white;
          }
        }
        & b {
          text-decoration: underline;
          display: inline-flex;
        }
      }
    }
  }
  .connection {
    @include margin-down-global;
    display: flex;
    justify-content: center;
    &__items {
      width: 105.0625rem;
      max-width: 90%;
      background: #F7F9F9;
      padding: 6.875rem 0;
      @include flexbox-row;
      align-items: stretch;
    }
    &__content {
      width: 86%;
      @include flexbox-between;
    }
    &__bl {
      width: 44.48%;
      &--heading {
        & p {
          font-size: 3.25rem;
          line-height: 1.25;
          letter-spacing: 0.01em;
          color: $black;
          & span {
            color: #00A1E5;
            font-weight: bold;
            display: block;
          }
        }
      }
    }
    &__social {
      width: 46.81%;
      @include flexbox-stretch;
      justify-content: space-between;
    }
    &__ico {
      @include flexbox-column;
      justify-content: space-between;
      text-decoration: none;
      color: $black;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #34303d;
        transition: ease-out .3s;
        opacity: 0;
      }
      &:hover {
        &:before {
          opacity: 1;
          width: 100%;
        }
      }
      & span {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1;
        text-align: center;
        & svg {
          height: auto;
          max-width: 6.625rem;
        }
        & b {
          font-weight: bold;
        }
        &:nth-child(2) {
          padding-top: 0.95rem;
        }
      }
      &:nth-child(2) {
        margin: 0 2rem;
      }
    }
  }
  .promocode {
    width: 80%;
    position: relative;
    &__reff {
      width: 70%;
    }
    & fieldset {
      border: 0.125rem solid #CFCFCF;
      border-radius: 0.25rem;
      padding: 2.1875rem 2.325rem 2.1875rem;
      & legend {
        font-weight: bold;
        font-size: 1.3125rem;
        line-height: 1;
        letter-spacing: 0.01em;
        color: $black;
        padding: 0 0.5rem;
        margin-left: -0.5rem;
      }
    }
    &__code {
      @include flexbox-between;
    }
    &__text {
      font-weight: bold;
      font-size: 2.0625rem;
      letter-spacing: 0.03em;
      color: $black;
      text-transform: uppercase;
    }
    & button {
      background: $b_blue;
      border-radius: 0.1875rem;
      border: none;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1;
      text-align: center;
      letter-spacing: 0.02em;
      color: $b_white;
      padding: 0.35rem 0.9375rem;
      cursor: pointer;
      margin-left: 1.5rem;
    }
  }
  .share {
    width: 80%;
    padding-top: 2.125rem;
    &__block {
      width: 100%;
    }
    &__text {
      font-weight: bold;
      font-size: 1.3125rem;
      line-height: 1;
      color: $black;
    }
    &__social {
      display: flex;
      flex-wrap: wrap;
      padding-top: 1.25rem;
    }
    &__ico {
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-right: 1.75rem;
      &:last-child {
        margin-right: 0;
      }
      & span {
        font-size: 1.3125rem;
        line-height: 1;
        color: $black;
        &:nth-child(2) {
          margin-left: 0.7775rem;
        }
      }
      & svg {
        height: auto;
        max-width: 3.125rem;
        & path {
          fill: $b_blue;
        }
      }
    }
    &__telegram {
      display: none;
    }
    &__viber {
      display: none;
    }
    &__sms {
      display: none;
    }
    &__messenger {
      display: none;
    }
  }
  .copy-textarea {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -999999;
    opacity: 0;
  }
  #modal_qr {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(19,19,19,.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modal_qr {
    &__block {
      max-width: 70%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      z-index: 9999;
      background-color: $white;
      box-shadow: -15px -20px 60px rgba(255, 255, 255, 0.2), 40px 40px 50px rgba(0, 21, 44, 0.89);
      &-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 99999;
        background-color: transparent;
        width: 2rem;
        height: 2rem;
        @include flexbox-column;
        align-items: center;
        border-radius: 50%;
        border: 2px solid transparent;
        transition: ease-out .2s;
        & span {
          position: absolute;
          top: 50%;
          margin-top: -1px;
          left: 50%;
          margin-left: -.5rem;
          width: 1rem;
          height: 2px;
          background-color: $black;
          transition: ease-out .2s;
          &:first-child {
            transform: rotate(-45deg);
          }
          &:last-child {
            transform: rotate(45deg);
          }
        }
        &:hover {
          cursor: pointer;
          background-color: transparent;
          border: 2px solid $white;
          & span {
            &:first-child {
              transform: rotate(0);
            }
            &:last-child {
              transform: rotate(0);
            }
          }
        }
      }
    }
    &__container {
      padding: 10rem;
    }
    &__image {
      text-align: center;
      & img {
        width: 13rem;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
    &__text {
      margin-top: 2rem;
      font-size: 1.625rem;
      line-height: 1.4;
      font-weight: 600;
      text-align: center;
      color: $black;
    }
  }



  @media (max-width: 1800px) {
    font-size: 15px;
  }
  @media (max-width: 1650px) {
    font-size: 14px;
    .vcode {
      &__bg {
        right: -23rem;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 35.375rem;
        height: 42.5625rem;
        &:before {
          right: 12.5rem;
          bottom: -3rem;
          width: 21.75rem;
          height: 21.75rem;
        }
        &:after {
          right: 14.5rem;
          top: -6rem;
          width: 13.75rem;
          height: 13.75rem;
        }
      }
    }
  }
  @media (max-width: 1500px) {
    font-size: 13px;
    .recommendations {
      &__bg {
        &:after {
          right: -9rem;
        }
        &--logo {
          right: 6.5rem;
        }
      }
      &__vaucher {
        padding: 5% 6%;
      }
    }
    .about {
      &__work {
        max-width: 90%;
      }
      &__work-bg {
        height: 36.2rem;
      }
      &__work-info {
        width: 40.53%;
        &--heading {
          & p{
            margin-bottom: 2rem;
          }
        }
      }
      &__info {
        max-width: 90%;
        width: 93.0625rem;
      }
      &__recommendation {
        width: 88.125rem;
        &--heading {
          width: 50%;
          & p{
            margin-bottom: 2rem;
          }
        }
      }
      &__text {
        width: 45.56%;
        & p {
          padding-top: 1rem;
        }
        & svg {
          max-width: 3.9rem;
        }
      }
    }
    .discount {
      &__content {
        max-width: 90%;
        width: 93.0625rem;
        &--text {
          width: 60%;
        }
      }
      &__reward {
        width: 22.3%;
        &:before {
          right: -1.5rem;
          height: 140%;
          top: -2rem;
        }
        & fieldset {
          width: 100%;
          padding: 0.9rem 0;
          & legend {
            width: 90%;
            font-size: 1.8rem;
            & span {
              &:nth-child(1) {
                font-size: 1.7rem;
              }
              &:nth-child(2) {
                font-size: 1.2rem;
              }
            }
            & sup {
              font-size: 1.2rem;
            }
          }
          & p {
            font-size: 1.16rem;
            line-height: 1.38;
            & sub {
              font-size: 1.3rem;
            }
            & sup {
              font-size: 1.2rem;
            }
            & span {
              font-size: 1.9rem;
              &:last-child {
                &:before {
                  width: 4.4rem;
                  bottom: 0.6rem;
                  left: -0.2rem;
                }
              }
            }
          }
        }
      }
    }
    .devices {
      &__items {
        max-width: 95%;
      }
      &__bg {
        width: 53.49%;
        height: 43rem;
      }
      &__info {
        width: 41.63%;
        justify-content: center;
      }
      &__device {
        width: 39.5%;
      }
      &__condition {
        width: 55.8%;
        &--heading {
          & p {
            font-size: 2.3rem;
          }
        }
        &--price {
          & p {
            font-size: 1.53rem;
          }
        }
        &--circle {
          padding-top: 1.8rem;
          &--color {
            width: 2.1rem;
            height: 2.1rem;
            & span {
              width: 1.58rem;
              height: 1.58rem;
            }
          }
        }
        &--btn {
          padding-top: 1.8rem;
        }
      }
    }
    .sticks {
      width: 112rem;
      &__content {
        width: 101.5rem;
        max-width: 95%;
      }
      &__info {
        width: 49.44%;
        padding: 2rem 0;
      }
      &__logo {
        & svg {
          max-width: 6rem;
        }
      }
      &__heading {
        padding: 1.9rem 0 0 0;
      }
      &__price {
        padding: 2.1rem 0;
        & p {
          font-size: 1.25rem;
          &:nth-child(1) {
            font-size: 2.5rem;
          }
          &:nth-child(2) {
            padding-left: 0.9rem;
          }
        }
      }
      &__text {
        width: 84%;
      }
    }
    .vcode {
      &__items {
        width: 93.0625rem;
        max-width: 90%;
        &--bg {
          right: -25rem;
          top: 0;
          bottom: 0;
          margin: auto 0;
          width: 35.375rem;
          height: 39.5625rem;
          &:before {
            right: 12.5rem;
            bottom: -3rem;
            width: 21.75rem;
            height: 21.75rem;
          }
          &:after {
            right: 13.5rem;
            top: -7rem;
            width: 13.75rem;
            height: 13.75rem;
          }
        }
      }
      &__content {
        max-width: 100%;
        width: 70rem;
        &--heading {
          padding-bottom: 4.8rem;
        }
      }
      &__vauchers {
        height: 19.125rem;
      }
      &__item {
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &__info {
        & fieldset {
          & p {
            font-size: 1.384rem;
          }
        }
      }
      &__code {
        & .copy {
          &-cod {
            &--text {
              font-size: 1.384rem;
            }
          }
          &-date {
            & p {
              font-size: 1.384rem;
            }
          }
        }
      }
      &__sum {
        & p {
          font-size: 1.538rem;
          & span {
            font-size: 2.3rem;
          }
        }
      }
    }
    .exchange {
      &__content {
        width: 93.0625rem;
        max-width: 90%;
      }
      &__item {
        height: 28.5rem;
        padding: 0 1.85rem 2.0625rem 1.85rem;
      }
      &__text {
        & p {
          font-size: 1.8rem;
          line-height: 1.25;
        }
      }
    }
    .wallet {
      &__content {
        width: 83.25rem;
        max-width: 90%;
        &--heading {
          width: 37.55%;
          & p {
            font-size: 1.55rem;
            line-height: 1.36;
          }
        }
      }
      &__ico {
        &:nth-child(2) {
          margin: 0 2rem;
        }
        & span {
          font-size: 1.16rem;
          line-height: 1.5;
        }
      }
    }
    .connection {
      &__items {
        width: 93.0625rem;
        max-width: 90%;
        padding: 4.6rem 0;
      }
      &__content {
        width: 90%;
      }
      &__bl {
        width: 50.48%;
        &--heading {
          & p {
            font-size: 2.69rem;
            line-height: 1.35;
          }
        }
        &--text {
          width: 85%;
        }
      }
      &__social {
        width: 47.81%;
      }
      &__ico {
        & span {
          font-size: 1.384rem;
          & b {
            display: none;
          }
        }
      }
    }
    .promocode {
      &__reff {
        width: 35rem;
        max-width: 100%;
      }
    }
  }
  @media (max-width: 1200px) {
    .recommendations {
      &__bg {
        height: 35.53rem;
        &--img {
          width: 30.53rem;
          height: 30.53rem;
        }
        &:before {
          left: -3rem;
          top: 11rem;
          width: 21rem;
          height: 21rem;
          border-radius: 1.15rem;
          border: 0.5rem solid #FFFFFF;
          box-sizing: border-box;
        }
        &:after {
          right: -1rem;
          bottom: -1rem;
          width: 14.61rem;
          height: 14.61rem;
          border: 0.5rem solid #FFFFFF;
          border-radius: 1.15rem;
          box-sizing: border-box;
        }
        &--logo {
          right: 9.5rem;
          top: 11rem;
          & svg {
            max-width: 3.07rem;
          }
        }
      }
      &__items {
        overflow: hidden;
      }
      &__program {
        &--heading {
          padding-bottom: 1.1rem;
          & p {
            font-size: 2.3rem;
          }
        }
      }
      &__block {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
      &__recomend {
        width: 100%;
        padding: 2.66rem 0;
        flex-direction: row;
      }
      &__info {
        width: 100%;
      }
      &__vaucher {
        padding: 1.923rem 5rem;
        &--heading {
          padding-bottom: 0.769rem;
        }
        &--text {
          width: 77%;
          & p {
            font-size: 0.9rem;
          }
        }
        &--sum {
          width: 68%;
          padding: 0.7rem 1rem;
          margin-bottom: 1.6rem;
          & p {
            font-size: 1rem;
          }
        }
        &--btn {
          padding-top: 1.1875rem;
        }
      }
    }
    .vcode {
      &__bg {
        display: none;
      }
    }
    .exchange {
      &__text {
        & p {
          font-size: 1.5rem;
          line-height: 1.25;
        }
      }
    }
    .promocode {
      width: 32%;
      margin-right: 2.416rem;
      &__reff {
        width: 35rem;
        max-width: 100%;
      }
      & fieldset {
        padding: 1.416rem 1.69rem 1.416rem;
        & legend {
          font-size: 1rem;
        }
      }
      &__text {
        font-size: 1.461rem;
      }
      & button {
        font-size: 0.8rem;
        padding: 0.5rem 0.9375rem;
        margin-left: 1rem;
      }
    }
    .share {
      width: 55%;
      padding-top: 0;
      &__text {
        font-size: 1rem;
      }
      &__social {
        padding-top: 0.8rem;
      }
      &__ico {
        margin-right: 1.461rem;
        & span {
          font-size: 1rem;
          &:nth-child(2) {
            margin-left: 0.58rem;
          }
        }
        & svg {
          max-width: 2.10rem;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    font-size: 12px;
    .bbtn {
      padding: 1.042rem 2.4rem;
      &-1x {
        font-size: 1.33rem;
      }
    }
    .recommendations {
      &__content {
        max-width: 100%;
        align-items: center;
      }
      &__items {
        width: 100%;
        overflow: visible;
      }
      &__bg {
        width: 44.22%;
        height: 36rem;
        &--img {
          width: 33rem;
          height: 33rem;
          top: 4rem;
        }
        &:before {
          left: -4rem;
          top: 9rem;
          width: 23rem;
          height: 23rem;
          border-radius: 1rem;
          border: 0.5rem solid #FFFFFF;
          box-sizing: border-box;
        }
        &:after {
          right: -8rem;
          bottom: -2rem;
          width: 14.3rem;
          height: 14.3rem;
          border: 0.5rem solid #FFFFFF;
          border-radius: 1rem;
          box-sizing: border-box;
        }
        &--logo {
          right: 2.5rem;
          top: 9rem;
          & svg {
            max-width: 3.6rem;
          }
        }
      }
      &__item {
        width: 55.78%;
      }
      &__program {
        &--heading {
          padding-bottom: 1.1rem;
          & p {
            font-size: 2.3rem;
          }
        }
      }
      &__block {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
      &__recomend {
        width: 100%;
        padding: 2.66rem 0;
        flex-direction: row;
      }
      &__info {
        width: 100%;
      }
      &__vaucher {
        padding: 2.16rem 3.9rem;
        &--heading {
          padding-bottom: 0.75rem;
        }
        &--text {
          & p {
            font-size: 0.9rem;
          }
        }
        &--sum {
          width: 68%;
          padding: 0.7rem 1rem;
          margin-bottom: 1.6rem;
          & p {
            font-size: 1rem;
          }
        }
        &--btn {
          padding-top: 1.1875rem;
        }
      }
    }
    .about {
      &__work {
        max-width: 95%;
      }
      &__work-bg {
        height: 30.2rem;
      }
      &__work-info {
        width: 45%;
      }
      &__info {
        max-width: 90%;
      }
      &__recommendation {
        &--heading {
          width: 62%;
        }
      }
      &__text {
        width: 45.56%;
        & p {
          padding-top: 1rem;
        }
        & svg {
          max-width: 3.9rem;
        }
      }
    }
    .discount {
      &__content {
        width: 65rem;
        max-width: 90%;
        &--text {
          padding: 0.625rem 0 2.5rem;
        }
      }
      &__items {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
      }
      &__item {
        width: 55rem;
        max-width: 100%;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
      }
      &__reward {
        width: 48.5%;
        background-color: $blue;
        border-radius: 5px;
        padding: 2.9rem 0;
        &:before {
          content: none;
        }
        &:nth-child(1) {
          margin-bottom: 1.1rem;
        }
        &:nth-child(2) {
          margin-bottom: 1.1rem;
        }
        &:nth-child(3) {
          padding: 2.3rem 0;
          & fieldset {
            & p {
              width: 89%;
            }
          }
        }
        &:nth-child(4) {
          padding: 2.3rem 0;
          & fieldset {
            & p {
              width: 74%;
            }
          }
        }
        & fieldset {
          width: 85%;
          padding: 1.1rem 0;
          & legend {
            width: 90%;
            font-size: 2rem;
            & span {
              &:nth-child(1) {
                font-size: 2rem;
              }
              &:nth-child(2) {
                font-size: 1.25rem;
              }
            }
            & sup {
              font-size: 1.2rem;
            }
          }
          & p {
            font-size: 1.16rem;
            line-height: 1.38;
            & sub {
              font-size: 1.3rem;
            }
            & sup {
              font-size: 1.2rem;
            }
            & span {
              font-size: 1.9rem;
              &:last-child {
                &:before {
                  width: 4.4rem;
                  bottom: 0.6rem;
                  left: -0.2rem;
                }
              }
            }
          }
        }
      }
    }
    .devices {
      &__items {
        max-width: 95%;
      }
      &__bg {
        width: 53.49%;
        height: 33rem;
      }
      &__info {
        width: 41.63%;
      }
      &__device {
        width: 39.5%;
        height: 25.1rem;
      }
      &__condition {
        width: 55.8%;
        &--text {
          padding-bottom: 2.5rem;
          & p {
            font-size: 1.7rem;
            & span {
              display: flex;
            }
          }
        }
        &--heading {
          & p {
            font-size: 2rem;
          }
        }
        &--price {
          & p {
            font-size: 1.416rem;
          }
        }
        &--circle {
          padding-top: 1.8rem;
          &--color {
            width: 2.1rem;
            height: 2.1rem;
            & span {
              width: 1.58rem;
              height: 1.58rem;
            }
          }
        }
        &--btn {
          padding-top: 1.8rem;
        }
      }
    }
    .sticks {
      width: 85rem;
      &__content {
        width: 76rem;
        max-width: 95%;
      }
      &__info {
        width: 49.44%;
        padding: 2rem 0;
      }
      &__logo {
        & svg {
          max-width: 6rem;
        }
      }
      &__heading {
        padding: 1.9rem 0 0 0;
      }
      &__text {
        width: 100%;
      }
      &__price {
        padding: 2.1rem 0;
        & p {
          font-size: 1.25rem;
          &:nth-child(1) {
            font-size: 2.5rem;
            padding: 0.3rem 1.2rem;
          }
          &:nth-child(2) {
            padding-left: 0.9rem;
          }
        }
      }
    }
    .vcode {
      &__items {
        width: 65rem;
        max-width: 90%;
        &--bg {
          display: none;
        }
      }
      &__content {
        max-width: 100%;
        &--heading {
          padding-bottom: 3.8rem;
        }
      }
      &__vauchers {
        overflow-x: hidden;
        margin-bottom: 3.7rem;
        height: 18.125rem;
      }
      &__item {
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &__info {
        width: 48.5%;
        & fieldset {
          padding: 1rem 1.25rem;
          & legend {
            font-size: 1rem;
          }
          & p {
            font-size: 1.16rem;
          }
        }
      }
      &__code {
        width: 48.5%;
        & fieldset {
          padding: 1rem 1.25rem;
          & legend {
            font-size: 1rem;
          }
        }
        & .copy {
          &-cod {
            &--text {
              font-size: 1.16rem;
            }
            &--btn {
              padding-left: 0.5rem;
              & svg {
                width: 1rem;
                height: 1rem;
              }
            }
          }
          &-date {
            & p {
              font-size: 1.16rem;
            }
          }
          &-alert {
            right: -4rem;
            top: -2rem;
            font-size: 0.8rem;
          }
        }
      }
      &__rezult {
        padding-top: 2.7rem;
      }
      &__sum {
        padding-bottom: 1.8rem;
        & p {
          font-size: 1.4rem;
          & span {
            font-size: 2.3rem;
          }
        }
      }
    }
    .exchange {
      &__content {
        width: 65rem;
        max-width: 90%;
      }
      &__item {
        min-width: 17rem;
        height: 21.5rem;
        padding: 0 1.2rem 1.5rem 1.2rem;
      }
      &__text {
        padding-bottom: 1.2rem;
        & p {
          font-size: 1.33rem;
          line-height: 1.25;
          & span {
            display: inline-flex;
          }
        }
      }
      & .slick {
        &-slide {
          margin: 0 0.5rem;
        }
      }
    }
    .wallet {
      &__content {
        width: 65rem;
        max-width: 90%;
        padding: 3rem 0;
        &--heading {
          width: 40.55%;
          & p {
            font-size: 1.33rem;
            line-height: 1.36;
          }
        }
      }
      &__items {
        width: 57.9%;
      }
      &__ico {
        & span {
          font-size: 1.16rem;
          line-height: 1.5;
          &:nth-child(2) {
            padding-top: 0.5rem;
          }
          & svg {
            max-width: 2.6875rem;
          }
        }
      }
    }
    .connection {
      &__items {
        width: 65rem;
        max-width: 90%;
        padding: 4.6rem 0;
      }
      &__content {
        width: 90%;
      }
      &__bl {
        width: 47.48%;
        &--heading {
          & p {
            font-size: 1.95rem;
            line-height: 1.35;
          }
        }
        &--text {
          width: 100%;
          & p {
            font-size: 1.16rem;
            line-height: 1.6;
          }
        }
      }
      &__social {
        width: 47.81%;
      }
      &__ico {
        & span {
          font-size: 1.16rem;
          font-weight: 500;
          & svg {
            max-width: 4.5rem;
          }
          & b {
            display: none;
          }
          &:nth-child(2) {
            padding-top: 0.95rem;
          }
        }
        &:nth-child(2) {
          margin: 0 1rem;
        }
      }
    }
    .promocode {
      width: 45%;
      margin-right: 3.5rem;
      &__reff {
        width: 30rem;
        max-width: 100%;
      }
      & fieldset {
        padding: 1.2rem 1.5rem 1.2rem;
        & legend {
          font-size: 1rem;
        }
      }
      &__text {
        font-size: 1.58rem;
      }
      & button {
        font-size: 0.8rem;
        padding: 0.5rem 0.9375rem;
        margin-left: 1rem;
      }
    }
    .share {
      width: 39%;
      padding-top: 0;
      &__text {
        font-size: 1rem;
      }
      &__social {
        padding-top: 0.8rem;
      }
      &__ico {
        margin-right: 1.58rem;
        & span {
          font-size: 1rem;
          &:nth-child(2) {
            margin-left: 0.58rem;
          }
        }
        & svg {
          max-width: 2.10rem;
        }
      }
    }
  }
  @media (max-width: 700px) {
    font-size: 10px;
    .bbtn {
      padding: 1.2rem 2.4rem;
      &-1x {
        font-size: 1.6rem;
      }
    }
    .recommendations {
      &__content {
        max-width: 100%;
        align-items: center;
        padding-top: 5rem;
      }
      &__items {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
      }
      &__bg {
        width: 100%;
        max-width: 35rem;
        height: 25rem;
        &--img {
          width: 30rem;
          height: 30rem;
          top: 2rem;
          left: 2rem;
        }
        &:before {
          left: 5rem;
          top: 6.5rem;
          width: 20rem;
          height: 20rem;
          border: 0.5rem solid #FFFFFF;
          border-radius: 1rem;
          box-sizing: border-box;
        }
        &:after {
          right: -8rem;
          bottom: -8rem;
          width: 14.3rem;
          height: 14.3rem;
          border: 0.5rem solid #FFFFFF;
          border-radius: 1rem;
          box-sizing: border-box;
        }
        &--logo {
          right: 2.5rem;
          top: 6.5rem;
          & svg {
            max-width: 3.6rem;
          }
        }
      }
      &__item {
        padding: 7.4rem 0 5.1rem;
        width: 100%;
      }
      &__program {
        width: 90%;
        &--heading {
          padding-bottom: 2.7rem;
        }
      }
      &__block {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
      &__recomend {
        width: 100%;
        padding: 4.8rem 0 3.05rem;
        flex-direction: column;
      }
      &__info {
        width: 100%;
      }
      &__vaucher {
        padding: 3.1rem 2.2rem;
        &:nth-child(2) {
          background-color: $b_blue;
          &:before {
            content: none;
          }
          &:after {
            content: none;
          }
        }
        &--heading {
          padding-bottom: 1.4rem;
        }
        &--text {
          width: 100%;
          & p {
            font-size: 0.9rem;
          }
        }
        &--sum {
          width: 100%;
          border: 1px solid #31B5ED;
          padding: 0.7rem 1rem;
          margin-bottom: 1.6rem;
          & p {
            font-size: 1rem;
          }
        }
        &--btn {
          padding-top: 1.1875rem;
        }
      }
      &__btn {
        display: flex;
      }
    }
    .about {
      padding: 0;
      &__content {
        align-items: center;
      }
      &__work {
        width: 50rem;
        max-width: 100%;
        flex-direction: column;
        padding-bottom: 0;
        align-items: center;
      }
      &__work-bg {
        width: 100%;
        height: 26.2rem;
      }
      &__work-info {
        width: 90%;
        &--heading {
          & p{
            margin: 6.5rem 0 2rem 0;
          }
        }
      }
      &__info {
        max-width: 90%;
        display: flex;
        justify-content: center;
      }
      &__recommendation {
        width: 45rem;
        &--heading {
          width: 100%;
          & p{
            margin: 6.5rem 0 2rem 0;
          }
        }
        &-item {
          flex-direction: column;
        }
      }
      &__text {
        width: 100%;
        padding: 0 0 5rem 2rem;
        &:nth-child(1) {
          padding-bottom: 2.2rem;
        }
        & p {
          display: list-item;
          padding-top: 0;
        }
        & svg {
          display: none;
        }
      }
    }
    .discount {
      &__content {
        width: 45rem;
        max-width: 90%;
        &--heading {
          & p {
            text-align: left;
            & span {
              &:nth-child(2) {
                font-weight: bold;
                display: inline-flex;
              }
            }
          }
        }
        &--text {
          padding: 0.625rem 0 2.5rem;
          width: 100%;
          & p {
            text-align: left;
          }
        }
      }
      &__items {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
      }
      &__item {
        width: 100%;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
      }
      &__reward {
        width: 48.5%;
        background-color: $blue;
        border-radius: 5px;
        padding: 2.9rem 0;
        &:before {
          content: none;
        }
        &:nth-child(1) {
          margin-bottom: 1.1rem;
        }
        &:nth-child(2) {
          margin-bottom: 1.1rem;
        }
        &:nth-child(3) {
          padding: 2.4rem 0;
          & fieldset {
            & p {
              width: 89%;
            }
          }
        }
        &:nth-child(4) {
          padding: 2.4rem 0;
          & fieldset {
            & p {
              width: 89%;
            }
          }
        }
        & fieldset {
          width: 85%;
          padding: 1.1rem 0;
          & legend {
            width: 90%;
            font-size: 1.6rem;
            & span {
              &:nth-child(1) {
                font-size: 1.6rem;
              }
              &:nth-child(2) {
                font-size: 1.1rem;
              }
            }
            & sup {
              font-size: 1.1rem;
            }
          }
          & p {
            font-size: 1.1rem;
            line-height: 1.38;
            & br {
              display: inline-flex;
            }
            & sub {
              font-size: 1.2rem;
            }
            & sup {
              font-size: 1.1rem;
            }
            & span {
              font-size: 1.5rem;
              &:last-child {
                margin-left: 0.8125rem;
                &:before {
                  width: 4.4rem;
                  bottom: 0.6rem;
                  left: -0.5rem;
                }
              }
            }
          }
        }
      }
    }
    .devices {
      background: radial-gradient(207.1% 112.41% at 82.81% 39.23%, #005CCA 0%, #1253A1 36.21%, #074082 66.4%);
      &__items {
        width: 45rem;
        margin: 0 auto;
        max-width: 90%;
        padding: 3.6rem 0;
      }
      &__bg {
        display: none;
      }
      &__info {
        width: 100%;
      }
      &__device {
        width: 39.5%;
        height: 32.1rem;
      }
      &__condition {
        width: 55.8%;
        &--text {
          padding-bottom: 5.3rem;
          & p {
            font-size: 1.9rem;
            & span {
              display: flex;
            }
          }
        }
        &--heading {
          & p {
            font-size: 2.4rem;
          }
        }
        &--price {
          & p {
            font-size: 1.6rem;
          }
        }
        &--circle {
          padding-top: 0.9rem;
          &--color {
            width: 2.8rem;
            height: 2.8rem;
            & span {
              width: 2rem;
              height: 2rem;
            }
          }
        }
        &--btn {
          padding-top: 2.9rem;
        }
      }
    }
    .sticks {
      justify-content: center;
      &__content {
        width: 47rem;
        max-width: 100%;
        flex-direction: column;
      }
      &__info {
        width: 90%;
        padding: 0;
      }
      &__logo {
        & svg {
          max-width: 6.5rem;
        }
      }
      &__heading {
        padding: 1.9rem 0 0 0;
      }
      &__price {
        padding: 2.1rem 0;
        & p {
          font-size: 1.6rem;
          &:nth-child(1) {
            font-size: 3.1rem;
            padding: 0.3rem 1.2rem;
          }
          &:nth-child(2) {
            padding-left: 0.9rem;
          }
        }
      }
      &__bg {
        width: 100%;
      }
    }
    .vcode {
      &__items {
        width: 45rem;
        max-width: 90%;
      }
      &__bg {
        display: none;
      }
      &__content {
        max-width: 100%;
        &--heading {
          padding-bottom: 3.8rem;
        }
      }
      &__vauchers {
        overflow-x: hidden;
        height: 37.5rem;
        margin-bottom: 3.7rem;
        padding-right: 1.3rem;
        &::-webkit-scrollbar {
          width: 2px;
          height: 2px;
        }
      }
      &__item {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 3.4rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &__info {
        margin-bottom: 1.2rem;
        width: 100%;
        & fieldset {
          padding: 1rem 1.25rem;
          & legend {
            font-size: 1rem;
          }
          & p {
            font-size: 1.5rem;
          }
        }
      }
      &__code {
        width: 100%;
        & fieldset {
          padding: 1rem 1.25rem;
          & legend {
            font-size: 1rem;
          }
        }
        & .copy {
          &-cod {
            &--text {
              font-size: 1.5rem;
            }
            &--btn {
              padding-left: 0.5rem;
            }
          }
          &-date {
            & p {
              font-size: 1.5rem;
            }
          }
          &-alert {
            position: absolute;
            right: -4rem;
            top: -2.8rem;
            font-size: 1rem;
          }
        }
      }
      &__rezult {
        padding-top: 2.7rem;
      }
      &__sum {
        padding-bottom: 1.8rem;
        & p {
          font-size: 1.4rem;
          & span {
            font-size: 2.3rem;
          }
        }
      }
    }
    .exchange {
      &__content {
        width: 45rem;
        max-width: 90%;
        &--heading {
          padding-bottom: 9.4rem;
        }
      }
      &__item {
        min-width: 31rem;
        height: 31rem;
        padding: 0 1.8rem 2.4rem 1.8rem;
      }
      &__text {
        padding-bottom: 1.4rem;
        & p {
          font-size: 2rem;
          line-height: 1.25;
        }
      }
      &__arrows {
        display: flex;
      }
      & .slick {
        &-slide {
          margin: 0 1rem;
        }
        &-list {
          width: 100%;
        }
        &-track {
          display: flex;
          max-width: 100%;
        }
        &-dots {
          top: -7rem;
          & li {
            & button {
              color: $black;
              font-weight: 500;
            }
          }
        }
      }
    }
    .wallet {
      &__content {
        width: 45rem;
        max-width: 90%;
        padding: 5.6rem 0;
        flex-direction: column;
        &--heading {
          width: 100%;
          padding-bottom: 3.5rem;
          & p {
            font-size: 2.4rem;
            line-height: 1.36;
            font-weight: 300;
            & span {
              font-weight: bold;
            }
          }
        }
      }
      &__items {
        width: 100%;
        justify-content: flex-start;
      }
      &__ico {
        align-items: flex-start;
        width: 42%;
        &:nth-child(2) {
          margin: 0 0 0 1rem;
        }
        &:nth-child(3) {
          display: none;
        }
        & span {
          font-size: 1.5rem;
          line-height: 1.5;
          text-align: left;
          &:nth-child(1) {
            background: rgba(255, 255, 255, 0.05);
            width: 7.2rem;
            height: 7.2rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &:nth-child(2) {
            padding-top: 1.2rem;
          }
          & svg {
            max-width: 4rem;
          }
        }
      }
    }
    .connection {
      &__items {
        width: 45rem;
        max-width: 90%;
        padding: 4.6rem 0;
      }
      &__content {
        width: 90%;
        flex-direction: column;
      }
      &__bl {
        width: 100%;
        &--heading {
          & p {
            font-size: 2.4rem;
            line-height: 1.35;
            text-align: center;
          }
        }
        &--text {
          width: 90%;
          margin: 0 auto;
          & p {
            text-align: center;
          }
        }
      }
      &__social {
        width: 80%;
        padding-top: 3rem;
      }
      &__ico {
        & span {
          font-size: 1.4rem;
          font-weight: 500;
          & svg {
            max-width: 5.7rem;
          }
          & b {
            display: none;
          }
          &:nth-child(2) {
            padding-top: 0.95rem;
          }
        }
        &:nth-child(2) {
          margin: 0 1rem;
        }
      }
    }
    .promocode {
      width: 90%;
      margin-right: 0;
      &__reff {
        width: 37rem;
        max-width: 100%;
      }
      & fieldset {
        padding: 1.7rem 1.7rem 1.7rem;
        border: 1px solid #34303D;
        & legend {
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
      &__text {
        font-size: 2rem;
      }
      & button {
        font-size: 1rem;
        padding: 0.5rem 0.9375rem;
        margin-left: 1rem;
      }
    }
    .share {
      display: none;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      padding-top: 2.2rem;
      z-index: 7777;
      align-items: flex-end;
      &__block {
        animation: modalSwipe 0.3s ease-out alternate both;
        background-color: $b_white;
        z-index: 7779;
        bottom: 0;
        padding: 5.5rem 2.3rem 16.5rem 2.3rem;
        box-shadow: 0px -6px 12px rgba(0, 0, 0, 0.05);
        border-radius: 19px 19px 0px 0px;
        position: relative;
      }
      &__close {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 4.2rem;
        height: 4.2rem;
        &:before {
          content: '';
          position: absolute;
          width: 1.3rem;
          height: 2px;
          background-color: #B8B7BB;
          top: 0;
          bottom: 0;
          left: -0.9rem;
          right: 0;
          margin: auto;
          transform: rotate(28deg);
        }
        &:after {
          content: '';
          position: absolute;
          width: 1.3rem;
          height: 2px;
          background-color: #B8B7BB;
          top: 0;
          bottom: 0;
          left: 0;
          right: -0.9rem;
          margin: auto;
          transform: rotate(-28deg);
        }
      }
      &__disables {
        animation: modalSwipeM 0.3s ease-out alternate both;
      }
      &__text {
        font-size: 1.9rem;
      }
      &__social {
        padding-top: 2.5rem;
      }
      &__ico {
        flex-direction: column;
        justify-content: space-between;
        margin-right: 0;
        margin-bottom: 1.75rem;
        width: 8.4rem;
        max-width: 100%;
        & span {
          font-size: 1.2rem;
          &:nth-child(2) {
            margin-left: 0;
            margin-top: 1rem;
          }
        }
        & svg {
          max-width: 4.1rem;
          & path {
            fill: $black;
          }
        }
      }
      &__telegram {
        display: flex;
      }
      &__viber {
        display: flex;
      }
      &__sms {
        display: flex;
      }
      &__messenger {
        display: flex;
      }
    }
  }
  @media (max-width: 370px) {
    font-size: 9px;
  }


  @media (max-width: 1750px) {
    .crp_header {
      &__nav {
        &_item {
          margin-right: 25px;
          & a {
            font-size: 15px;
            & .arrow {
              & svg {
                width: 10px;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1630px) {
    .crp_header {
      &__logo {
        & a {
          & svg {
            height: 42px;
          }
        }
      }
      &__nav {
        &_item {
          margin-right: 20px;
          & a {
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (max-width: 1500px) {
    .crp_header {
      &__logo {
        & a {
          & svg {
            height: 40px;
          }
        }
      }
      &__nav {
        &_item {
          margin-right: 15px;
          & a {
            font-size: 13px;
            & .arrow {
              margin-left: 3px;
              & svg {
                width: 9px;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1370px) {
    #crp_header {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .crp_header {
      &__logo {
        & a {
          & svg {
            height: 36px;
          }
        }
      }
      &__nav {
        &_item {
          margin-right: 15px;
          & a {
            font-size: 12px;
          }
        }
      }
    }
    @keyframes arrow-header {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-2px);
      }
      75% {
        transform: translateY(3px);
      }
      100% {
        transform: translateY(0px);
      }
    }
  }

  @media (max-width: 1270px) {
    .crp_header {
      &__logo {
        & a {
          & svg {
            height: 34px;
          }
        }
      }
      &__nav {
        &_item {
          margin-right: 10px;
          & a {
            font-size: 11px;
            & .arrow {
              & svg {
                width: 8px;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1160px) {
    #crp_header {
      padding-top: 14px;
      padding-bottom: 14px;
    }
    .crp_header {
      &__logo {
        & a {
          & svg {
            height: 30px;
          }
        }
      }
      &__nav {
        &_item {
          & a {
            font-size: 10px;
          }
        }
      }
    }
  }
  @media (max-width: 1060px) {
    .crp_header {
      &__nav {
        &_item {
          & a {
            & .arrow {
              display: none;
            }
          }
        }
      }
    }
  }
  @media (max-width: 990px) {
    #crp_header {
      padding-top: 13px;
      padding-bottom: 13px;
    }
    .crp_header {
      &__button {
        display: block;
      }
      &__nav {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        position: absolute;
        background-color: #FFFFFF;
        top: 43px;
        opacity: 0;
        display: none;
        width: 70%;
        right: -5%;
        z-index: 7777;
        padding: 20px 45px;
        transition: ease-out .3s;
        box-shadow: inset 0 4px 5px rgba(215, 215, 215, 0.2);
        &-active {
          display: flex;
          opacity: 1;
        }
        &_item {
          margin-right: 0;
          padding-top: 30px;
          padding-bottom: 30px;
          border-bottom: 1px solid #949494;
          width: 100%;
          &:nth-child(1) {
            order: 3;
          }
          &:nth-child(2) {
            order: 2;
          }
          &:nth-child(3) {
            order: 1;
          }
          &:nth-child(4) {
            order: 5;
            border-bottom: 0;
          }
          &:nth-child(5) {
            order: 4;
          }
          & a {
            font-size: 23px;
            font-weight: 700;
            color: $black;
            justify-content: space-between;
            & .color {
              color: $turquoise;
            }
            & .arrow {
              display: block;
              & svg {
                width: 15px;
                fill: $black;
                transform: rotate(-90deg);
              }
            }
          }
        }
      }
    }
    .crp_gb {
      & .text {
        color: $black;
      }
    }
    .modal_qr {
      &__block {
        max-width: 90%;
      }
      &__container {
        padding: 5rem;
      }
      &__image {
        & img {
          width: 10rem;
        }
      }
      &__text {
        font-size: 1.5rem;
      }
    }
  }
  @media (max-width: 567px) {
    .crp_header {
      &__nav {
        justify-content: flex-start;
        width: 110%;
        padding: 20px 45px;
        height: 90vh;
        &_item {
          padding-top: 20px;
          padding-bottom: 20px;
          &:nth-child(1) {
            order: 3;
          }
          &:nth-child(2) {
            order: 2;
          }
          &:nth-child(3) {
            order: 1;
          }
          &:nth-child(4) {
            order: 5;
          }
          &:nth-child(5) {
            order: 4;
          }
          & a {
            line-height: 1.2;
          }
        }
      }
    }
  }



}



